.THIS button.slds-button[disabled] {
    pointer-events: none
}

.THIS .lookup__icon svg.slds-icon {
    margin: 0;
}

.THIS .uiInputDate h2 {
    font-weight: 400;
}

.THIS .form-element__help {
    margin-top: .25rem;
}

.THIS .tier-picker__icon {
    display: none;
}

.THIS .tier-picker--active .tier-picker__icon {
    display: inline-block;
}

.THIS .tier-picker--active .tier-picker__text {
    cursor: pointer;
}

.THIS .tier-picker_tick-square {
    border: 1px solid #d8dde6;
    border-radius: 5px;
    padding: 2px 2px;
}

/* disabled input css fix */
.THIS input.slds-input[disabled="true"] + .slds-input {
    background-color: rgb(224, 229, 238);
    border-color: rgb(168, 183, 199);
}

/* required fields */
.THIS .field-required .slds-form-element__label:before {
    content: "* ";
    color: rgb(194, 57, 52);
}

/**
 *  Notifications Styles
 */

ul.THIS .notification {
    padding: 10px;
    display: none;
}

ul.THIS .notifications--closedwon {
    display: none;
}

ul.THIS .notification:first-child {
    display: flex;
    max-height: 46px;
    overflow: hidden;
}

ul.THIS .notification:first-child .notification__text {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}

ul.THIS .notifications--open .notification:first-child {
    max-height: initial;
    overflow: auto;
}

ul.THIS .notifications--open .notification:first-child .notification__text {
    display: block;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    text-overflow: initial;
}

ul.THIS .notifications--open .notification {
    display: flex;
}

ul.THIS .notifications--open .notification {
    border-bottom: 1px solid #d8dde6;
}

ul.THIS .notifications--open .notification:last-child {
    border-bottom: none;
}

ul.THIS .notifications {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    z-index: 120;
    min-height: 100%;
}

ul.THIS .notifications--open .notifications {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
    border-color: #d8dde6;
    max-height: 85vh;
}

ul.THIS .notification__action-container {
    padding-left: 1rem;
    align-self: flex-start;
    padding-top: 4px;
}

ul.THIS .notification__figure {
    align-self: flex-start;
}

ul.THIS .notification__icon {
    width: 26px;
    height: 26px;
    padding: 5px;
}

ul.THIS .notification__icon .slds-icon {
    fill: #FFF;
}

ul.THIS .notification__icon-container {
    padding: 5px;
}

ul.THIS .notifications-button {
    border-color: transparent;
    background-color: transparent;
    border-radius: 0 3px 3px 0;
    position: relative;
    height: 100%;
    width: 57px;
    right: 0;
    box-shadow: none !important;
    transition: all 0s !important;
}

ul.THIS .notifications-button:focus {
    background: transparent;
}

ul.THIS .notifications-button:focus:hover {
    background: rgb(244, 246, 249);
}

ul.THIS .notifications-button-container {
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 130;
    display: none;
}

ul.THIS .notifications-container:hover .notifications-button {
    border-color: #d8dde6;
    background-color: rgb(244, 246, 249);
}

ul.THIS.notifications-wrapper {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 48px;
    padding: 0;
    max-width: 100%;
    flex-grow: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (min-width: 1024px) {
    ul.THIS.notifications-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

ul.THIS .notifications--multiple .notifications-button-container {
    display: block;
}

ul.THIS .notifications--multiple .notifications {
    border-radius: 3px 0 3px 3px;
    width: calc(100% - 56px);
}

ul.THIS .notifications--multiple.notifications-container:hover .notifications {
    border-radius: 3px 0 0 3px;
}

ul.THIS .notifications-container {
    position: relative;
    border-radius: 3px;
    height: 100%;
    z-index: 140;
}

ul.THIS .notifications-container:hover .notifications {
    border-color: #d8dde6;
    border-radius: 3px;
}

ul.THIS .notifications--open .notifications-button {
    border-color: #d8dde6;
    background-color: rgb(244, 246, 249);
}

ul.THIS .notifications--open .notifications {
    background: #FFF;
}

ul.THIS .notification__text {
    font-size: .8125rem;
}

ul.THIS .notification__help-text {
    font-size: .8125rem;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #d8dde6;
    display: none;
}

ul.THIS .notification__help-text.notification__help-text--open {
    display: block;
}

ul.THIS .notifications--open .notification-button-down,
ul.THIS .notification-button-up {
    display: none;
}

ul.THIS .notification-button-down,
ul.THIS .notifications--open .notification-button-up {
    display: inline-block;
}

ul.THIS .notifications-container {
    transition: background-color 1s ease, opacity .4s ease;
}

ul.THIS .notifications--add {
    background: #ffb75d;
    animation: jiggle 0.4s forwards;
    transition: background-color .4s ease;
}

ul.THIS .notifications--remove {
    animation: jiggle 0.4s forwards;
}

ul.THIS .notifications--fade-out {
    opacity: 0;
}

@keyframes jiggle {
    0% {
        transform: translate(0, 0%);
    }
    20% {
        transform: translate(0, -5%);
    }
    40% {
        transform: translate(0, 10%);
    }
    60% {
        transform: translate(0, -5%);
    }
    80% {
        transform: translate(0, 2%);
    }
    100% {
        transform: translate(0, 0%);
    }
}

.THIS.notifications-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    display: none;
    z-index: 115;
    background: transparent;
}

.THIS.notifications-overlay--open {
    display: block;
}

ul.THIS .notifications-wrapper {
    margin-top: -8px;
    margin-bottom: 4px;
    height: 48px;
    padding: 0;
    max-width: 100%;
    flex-grow: 1;
    padding-left: .5rem;
    padding-right: .5rem;
}

.THIS .flex_1 {
    flex: 1;
}

.THIS .p-checkbox{
    padding-top: 1.75rem;
}

.THIS .cancel-button {
    position: absolute;
    left: 1rem
}

.THIS .products-section,
.THIS .service-plan-section {
     z-index: 10;
 }

.THIS.buttons {
    text-align: center;
    width: 100%;
    position: sticky;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.THIS .textarea-vsize--2 textarea{
    height: 6.25rem;
}

.THIS .section{
    z-index: 5000;
}

.THIS .service-totals {
    margin-top: 4.25rem;
}

.THIS .totals-block {
    min-height: 1.6rem;
}

.THIS.header {
    padding: 1rem;
    border-bottom: 1px solid #dddbda;
    border-radius: .25rem;
    background: #f3f2f2;
    background-clip: padding-box;
}

.THIS .content {
    background: rgb(244, 246, 249);
    flex: 1;
}

.THIS.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.THIS .slds-docked-form-footer {
    position: sticky;
    bottom: 0;
}