:host {
    padding: 20px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-radius: 4px;
    width: 245px;
    min-height: 532px;
}
.sc-case-contact__header {
    font-size: 18px;
    color: #676767;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e5e6;
}
.sc-case-contact__body,
.info-fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sc-case-contact__is-correct {
    display: flex;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
}
.sc-case-contact__is-correct c-placeholder-loading {
    position: absolute;
    left: 0;
    bottom: 24px;
}
.sc-case-contact__is-correct c-placeholder-loading:last-child {
    bottom: 1px;
}
.sc-case-contact__is-correct label,
.info-fields .info-fields__item label.toggle-label {
    flex: 1;
    transform: translateY(-3px);
    font-size: 12px;
}
.info-fields .info-fields__item {
    font-size: 14px;
    color: #282828;
}
.info-fields .info-fields__item label {
    display: block;
    overflow-wrap: break-word;
    color: #696969;
    line-height: 1.5;
    font-size: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    margin-bottom: 0.125rem;
    margin-top: 1px;
    transform: translateY(10px);
}
.sc-case-contact__email-help {
    transform: translateY(-5px);
    margin-left: 3px;
    display: inline-block;
}
.sc-case-contact__email-short {
    display: flex;
}
.sc-case-contact__email-short span {
    margin-left: 3px;
}
.sc-case-contact__email-input {
    position: absolute;
    left: -1000px;
    top: -1000px;
    opacity: 0;
}
.info-fields .info-fields__item span {
    font-family: "proximamedium", sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 32px;
    height: 32px;
    display: block;
}
.info-fields .info-fields__item.info-fields__item_inline {
    display: flex;
}
.info-fields .info-fields__item.info-fields__item_inline > div:not(:first-child) {
    margin-left: 10px;
    max-width: 45%;
}
.info-fields .info-fields__item.info-fields__item_inline .flex-1 {
    flex: 1;
    overflow: hidden;
}
.info-fields .info-fields__toggle {
    margin-top: 10px;
}
.info-fields .info-fields__item .ext {
    max-width: 60px;
}
.info-fields c-placeholder-loading {
    margin-top: 11px;
    display: block;
}