.THIS.entitlements-view {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.THIS .entitlements-view-content,
.THIS .scroll {
    height: 100%;
}

.THIS .scroll {
    overflow: auto;
}

.THIS .table-head {
    position: relative;
    z-index: 10;
}

.THIS .slds-table + .slds-border--top {
    border-top: none;
}

.THIS .message-block {
    height: 100%;
    flex-grow: 1;
}

.THIS .message-block p {
    text-align: center;
    font-weight: 400;
    font-size: 1.3em;
    color: #8c9baf;
    font-style: italic;
}

.THIS .no-result {
    font-style: italic;
    font-weight: 300;
}

.THIS .active-entitlements {
    z-index: 100;
}

.THIS .inactive-entitlements {
    position: relative;
    padding-top: 2rem;
    z-index: 200;
}

.THIS .active-entitlements,
.THIS .inactive-entitlements {
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .active-entitlements,
.THIS .active-entitlements + .inactive-entitlements {
    margin-top: 2rem;
}

.THIS .inactive-entitlements > table {
    position: absolute;
    top: 0;
}

.THIS .inactive-entitlements tr {
    opacity: .6;
}

.THIS .inactive-entitlements .slds-text-title {
    font-size: .85rem;
}

.THIS .overlay {
    z-index: 200;
    position: relative;
}

.THIS .fixed-table {
    min-width: 1200px;
    position: fixed !important;
    z-index: 100;
    width: calc(100% - 20px);
}

.THIS .fixed-table + .inactive-entitlements {
    padding-top: 2rem;
}

.THIS .action-wrapper {
    cursor: pointer;
    height: 2rem;
    background-color: rgb(253, 253, 253);
}

.THIS .arrow-icon {
    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}

.THIS .show-action {
    position: relative;
    width: 8rem;
    padding: .45rem;
    margin-left: .5rem
}

.THIS .show-action p {
    font-style: italic;
    font-weight: 300;
}

.THIS tr:hover th,
.THIS tr:hover td {
    box-shadow: none !important;
}

.THIS .placeholder th {
    height: 2rem;
}

.THIS .table-head-inactive {
    position: absolute;
    z-index: 50;
}

.THIS .hidden-row th {
    padding: 0 !important;
}

.THIS th {
    transition: width .1s ease;
}

.THIS .table-body{
    border-top: none;
}

.THIS.slds-page-header{
    border: none;
}

.THIS .header-buffer{
    display: none;
}

.THIS .header-buffer th{
    height: 2rem;
}

.THIS .fixed-header.slds-hide{
    display: none;
}

.THIS .fixed-header{
    position: fixed;
    display: flex;
    z-index: 10;
    background: #FFF;
    color: rgb(81, 79, 77);
}

.THIS .fixed-header.fixed-header__pushed{
    position: absolute;
}

.THIS .fixed-header > div {
    padding: .5rem;
}

.THIS .fixed-header > div:first-child {
    padding-left: 1.5rem;
}

.THIS .table-body thead:first-child div{
    opacity: 0;
}