.c-container {
    margin: 10px 0 20px 0;
}

.custom-box {
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: #f2f2f2;
}