li.THIS.detail-block {
    padding-top: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

li.THIS.approver {
    position: relative;
}

li.THIS .approver-dropdown {
    position: absolute;
    z-index: 150;
    background: #FFF;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
    border: 1px solid #d8dde6;
    top: 1px;
    left: -39px;
    display: none;
}

li.THIS .approver-dropdown.approver-dropdown--open {
    display: block;
}

li.THIS .approver-dropdown__item:last-child {
    border-bottom: none;
}

li.THIS .approver-dropdown__item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #d8dde6;
    white-space: nowrap;
}

li.THIS .approver-dropdown__header {
    padding: 0.5rem 1rem 0.5rem 54px;
    border-bottom: 1px solid #d8dde6;
}

li.THIS .dropdown-button {
    border: 0;
}

li.THIS .approver-dropdown__icon-container .slds-icon_container{
    padding: 5px;
}

li.THIS .approver-dropdown__icon-container svg {
    width: 1rem;
    height: 1rem;
    fill: #FFF;
}

.THIS.approver-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    display: none;
    z-index: 145;
}

.THIS.approver-overlay.approver-overlay--open {
    display: block;
}

.THIS .relayware--disable {
    display: none !important;
}

@media (min-width: 1024px) {
    li.THIS.detail-block {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}