.THIS {
}

.THIS .errorMessageDivDetail{
    margin-left:13%;
}
.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}

.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}

.THIS .slds-tabs_default__item,
.THIS .slds-tabs--default__item{
    background-color: #f1f1f3;
    padding: 0 8px;
    font-size: 12px;
}
.THIS lightning-tab-bar ul li a{
    padding: 0 30px;
    text-decoration:none!important;
    transition:all .3s;
    color:#000!important;
}
.THIS .slds-tabs_default__item:not(.slds-is-active):hover::after,
.THIS .slds-tabs--default__item:not(.slds-is-active):hover::after {
    background-color: transparent;
}
.THIS .slds-tabs_default__item.slds-is-active:hover::after,
.THIS .slds-tabs--default__item.slds-is-active:hover::after {
    background-color: token(colorBrand);
}
.THIS lightning-tab-bar ul li:not(.slds-is-active) a:hover{
    color:token(colorTextLink)!important;
}
.THIS .slds-tabs_default__item.slds-active::after, 
.THIS .slds-tabs_default__item.slds-is-active::after,
.THIS .slds-tabs--default__item.slds-active::after, 
.THIS .slds-tabs--default__item.slds-is-active::after {
    height: 2px;
}
.THIS lightning-tab-bar li:first-child {
    border-top-left-radius:5px;
}
.THIS lightning-tab-bar li:nth-last-child(2){
    border-top-right-radius:5px;
}
.THIS lightning-tab-bar ul {
    border-bottom:0;
}
.THIS lightning-tab-bar ul li{
    background-color:#f1f1f3;
    padding:0;
}
.THIS lightning-tab-bar ul li a{
    padding: 0 30px;
    text-decoration:none!important;
    transition:all .3s;
    color:#000;
}
.THIS lightning-tab-bar ul li:not(:nth-last-child(2)) a::after {
    content: '';
    display: block;
    width: 1px;
    height: 26px;
    background: #c1c1c2;
    position: absolute;
    right: 0;
    top:7px;    
}
.THIS lightning-tab-bar ul li{
    background-color:#f1f1f3;
    padding:0!important;
}
.THIS .alignRight{
    text-align:right;
}

.THIS .requiredField::after
{
    content:'*';
    margin:0 2px;
    color:#c23934;
}
.THIS .discountInput abbr.slds-required
{
    display:none;
}
.THIS .slds-table thead th {
    padding: 15px;
    font-weight: bolder;
    color: #000000;
    line-height: 20px;
}
.THIS .slds-table tbody th {
    padding: 15px;
    line-height: 20px;
}