.THIS .pdf-container {
    display: contents;
    position: absolute;
    width: 100%;
}

.THIS.generate-pdf{
    display: inline-block;
    text-align: left;
}

.THIS div.pdf-modal__container {
    max-width: none;
}

.THIS .height-limit {
    max-height: 30rem;
}

.THIS .pdf-modal .uiInputRadio {
    display: flex;
}

.THIS .pdf-modal .select-template__label {
    order: 1;
    margin-left: 6px;
    position: relative;
    top: -3px;
}

.THIS .select-template__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS div.select-template__spinner-dots {
    position: relative;
    top: auto;
    left: auto;
}

.THIS .select-template__content {
    position: relative;
    min-height: 142px;
}

.THIS .select-template__spinner.slds-hide {
    display: none;
}

.THIS .pdf-modal_fullscreen .pdf-modal__container {
    width: 95%;
    padding: 10px;
}

.THIS button.slds-modal__close {
    right: 0.8rem;
    top: 0.8rem;
    color: #54698d;
}

.THIS button.slds-modal__close:hover {
    color: #16325c;
}

.THIS button.slds-modal__close[disabled],
.THIS button.slds-modal__close[disabled]:hover {
    color: rgba(84, 105, 141, 0.5);
}

.THIS .pdf-modal_fullscreen .slds-modal__header,
.THIS .pdf-modal_fullscreen .slds-modal__footer {
    border-radius: 5px;
}

.THIS button.attach-button--busy {
    padding-left: 2rem;
}

.THIS div.attach-spinner {
    width: 0.8rem;
    left: 1rem;
}

.THIS .iconfix{
    position: relative;
    top:-1px;
    left: -6px;
    height: 14px;
}
.THIS .disabled{
    opacity: 0.7;
}

.THIS .unfocus-template {
    visibility: hidden;
    z-index: -1;
}

.THIS .disable-spinner {
    display: none;
}

.THIS .centered-spinner {
    top: 50%;
    left: 50%;
    position: relative;
}

.THIS .select-template__spinner-dots {
    position: relative;
    top: auto;
    left: auto;
}

.THIS .maxed-out__relative {
    height: 100%;
    width: 100%;
    position: relative;
}

.THIS .generate-and-preview {
    height: calc(100% - 59px);
    width: 100%;
    position: relative;
}

.THIS .generate-and-preview__footer {
    height: 59px;
}

.THIS .spinner-position__centered {
    top:50%;
    left:50%;
    position:relative;
}

.THIS .iframe__absolute {
    position: absolute;
    height: 100%;
    width: 100%;
}

.THIS .full-height {
    height: 100%;
}

.THIS .current-attachment {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.75rem;
    margin-right: 0.1875rem;
}

.THIS .aq-icon-text-success {
    color: #03844b;
    margin-right: 0.5rem;
}

.THIS .aq-icon-text-error {
    color: #e53c3d;
    margin-right: 0.5rem;
}

.THIS .slds-current-color {
    max-height: 12.5rem;
}