@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.THIS .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}

.THIS .field,
.THIS.field{
    max-width: 320px;
}

.THIS .field__label,
.THIS.field__label{
    height: 8px;
    border-radius: 16px;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    width: 33%;
}

.THIS .field__input,
.THIS.field__input{
    height: 16px;
    border-radius: 16px;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.THIS .table-cell{
    height: 16px;
    border-radius: 16px;
}

.THIS .line{
    height: 16px;
    border-radius: 16px;
}

.THIS.line-wrap{
    margin-top: 0.3rem;
    max-width: 180px;
}

.THIS .list-line{
    height: 16px;
    border-radius: 16px;
    margin-bottom: 1rem;
}