.slds-modal__header {
    padding: 0.5rem 0.5rem 0.5rem;
}
.upload-button {
    width: 1.5rem;
    height: 2rem;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 12.6rem;
    vertical-align: middle;
    text-align: center;
}
.file-section {
    width: 9rem;
    height: 9rem;
    margin: 0.2rem;
    background-color: #0d61af;
    border-radius: .25rem;
}