.THIS .errorMessageDiv{
    margin-left:30%;
}

.THIS .errorMessageDetailDiv{
    margin-left:15%;
}

.THIS .labeldiv{
    margin-top:25px;
}
.THIS .boxheight{
    height: calc(1.875rem + 2px);
}
.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}

.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}
.THIS .slds-form-element__label {
    font-size: 13px;
    font-weight: bold;
}
.THIS .slds-table thead th {
    padding: 15px;
    font-weight: bolder;
    color:#000000;
    line-height: 20px;
}
.THIS .slds-table tbody th {
    padding: 15px;
    line-height: 20px;
}
.THIS .alignRight{
    text-align:right;
}


.THIS .slds-checkbox_on{
    display:none !important;
}
.THIS .slds-checkbox_off{
    display:none !important;
}

.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox--faux:after {
    background-color: token(colorBrand);
}

.THIS .slds-checkbox_toggle .slds-checkbox_faux::after, .THIS .slds-checkbox_toggle .slds-checkbox--faux::after, .THIS .slds-checkbox--toggle .slds-checkbox_faux::after, .THIS .slds-checkbox--toggle .slds-checkbox--faux::after {
    background-color: #949494;
    width: 18px;
    height: 18px;
}   

.THIS .slds-checkbox_toggle .slds-checkbox_faux, .THIS .slds-checkbox_toggle .slds-checkbox--faux, .THIS .slds-checkbox--toggle .slds-checkbox_faux, .THIS .slds-checkbox--toggle .slds-checkbox--faux {
    background-color: #fff!important;
    border: 2px solid #b7b7b7!important;
}
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before {
    width: 18px;
    height: 18px;
    background-color:token(colorBrand);
}
.THIS .label-hidden > label {
    display: none;
}

.THIS .fieldWidth{
    width:42% !important;
}
.THIS .heading 
{
    color:token(colorTextLink)!important;
}
.THIS .dealsconditionswrap
{
    margin: -20px 0 20px 0;
    padding: 15px;
    color: #333;
    border-radius: 5px;
    border: 1px solid rgb(212,212,212);
    background: #fbfbfb;
}
.THIS .dealsconditionswrap label
{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
    display: block;
}
.THIS .dealsconditionswrap ul
{
    line-height: 25px;
    font-size: 14px;
}
.THIS .dealsconditionswrap ul li::before
{
    display: inline-block;
    content: '\2219';
    margin: 0 12px 0 14px;
    font-weight:bold;
}
.THIS .align
{
    align-items: center;
}
.THIS .cloudspecdropdown 
{
    position:relative;
}
.THIS .cloudspecdropdown ul
{
    max-height: 250px;
    overflow: auto;
}
.THIS .nousers
{
    padding: 0.25rem 0.75rem;
}
.THIS .territorymaphelp
{
    vertical-align:bottom;
}