.THIS .quotes {
    max-width: 400px;
}

.THIS.management {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8dde6;
    background: #f7f9fb;
}

.THIS .primary-button--busy {
    padding-left: 2rem;
}

.THIS .invisible {
    visibility: hidden;
}

.THIS .quote-selector__quote--primary {
    font-weight: bold;
}

.THIS .quote-buttons {
    display: inline-block;
}

.THIS.approve-modal .slds-modal__close {
    right: 0.8rem;
    top: 0.8rem;
    color: #54698d;
}

.THIS.approve-modal .slds-modal__close:hover {
    color: #16325c;
}

.THIS.approve-modal .slds-modal__close[disabled],
.THIS.approve-modal .slds-modal__close[disabled]:hover {
    color: rgba(84, 105, 141, 0.5);
}

.THIS .cancel-button {
    float: left;
}

.THIS .add-icon{
    margin-right: 0.5rem;
}

.THIS .add-icon svg{
    width: 0.75rem;
    height: 0.75rem;
    fill: rgb(0, 112, 210);
}

.THIS .slds-button[disabled] .add-icon svg{
    fill: rgb(216, 221, 230);
}

.THIS .slds-show_inline-block.slds-hide{
    display: none;
}