/* Grouped License Row Styles */
.THIS {
    cursor: pointer;
}

.THIS .left-padding {
    padding-left: 1rem;
}

.THIS .grouped-license-details {
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    border: 1px solid #e0e5ec;
}

.THIS .grouped-license-details .slds-table th,
.THIS .grouped-license-details .slds-table td {
    padding: 0.5rem;
    border: 1px solid #e0e5ec;
}