.section {
    background-color: #f3f2f2;
}

.slds-has-error {
    --lwc-colorBorderInput: #ea001e;
    --lwc-borderWidthThin: 0.05rem;
}

.slds-form-element__help {
    color: #ea001e;
}

.checkbox-height {
    height: 56px;
    padding-top: 28px;
}