.THIS .slds-form-element__label  {
    display: none;
}

.THIS .slds-card__header {
    /*background : #ffa500;
    background:#fcb95b;*/
    padding-bottom : 11px;
    border-bottom:solid 2px #C8C9C9;
    padding-left:0px;
    text-transform:uppercase;
    height:43px;
}
.THIS .slds-icon_small {
    width: 1rem !important;
}
.THIS .subHeader svg {
	height: 1rem;
}
.THIS .slds-scope .slds-icon-action-update-status {
    background-color: #fcb95b;
}

.THIS .maxDiscount{
    background-color: #fcb95b !important;
    background: #fcb95b !important;
}
.THIS .cardtable tbody td{
    border:none;
}