.THIS .slds-button {
    
    float: right;
}

.THIS .slds-page-header__title{
    
    color : black;
}

.THIS a:hover a:focus{
    text-decoration: underline;
    color: rgb(59,65,110,1);
    
}

.THIS a {
    color: rgb(59,65,110,1);
}

.THIS .slds-scope .slds-table th{
    color : black !important;
}

.THIS .slds-dropdown_left{
            left : auto !important;
            right: 0 !important;
            
        }

.THIS .paginationbuttons{
    display : inline-block !important;
    margin-left:10px;
    margin-right: 10px;
    
}