.THIS .customWidth{
    width:78%;
}
.THIS .slds-card__header {
    /*background : #ffa500;
    background:#fcb95b;*/
   	border-bottom:solid 2px #C8C9C9;
    padding-bottom : 11px;
    text-transform:uppercase;
    padding-left:0px;
    height:43px;
}

.THIS .slds-card__header .subHeader svg {
    height:1rem;
}

.THIS .subHeader svg {
    width: 3rem;
    height: 1rem;
}

.THIS .quoteRequirement{
    background-color: #fcb95b !important;
    background: #fcb95b !important;
}