.THIS .product-expand-icon {
    transition: transform .3s ease;
}

.THIS .product-expand-icon button:focus {
    box-shadow: none;
}

.THIS.product_is-expanded .product-expand-icon {
    transform: rotateZ(90deg);
}

.THIS .slds-badge.badge-bordered {
    border: 1px solid rgb(224, 229, 238);
    background: transparent;
}

.THIS .product-details {
    width: 2rem;
}

.THIS .product-info {
    width: 1%
}

.THIS .service-plan-icon {
    position: relative;
    left: 2px;
    top: -4px;
}