.my-info-icon {
    --sds-c-icon-color-foreground-default: white;
    --sds-c-icon-color-background: rgb(116, 116, 116);

}
.my-error-icon {
    --sds-c-icon-color-foreground-default: white;
    --sds-c-icon-color-background: rgb(234, 0, 30);
}

.my-h1 {
    font-weight: bold;
}

.my-h2 {
    font-weight: normal;
}

.displayInline {
    display: inline-flex;
}