.THIS {
    margin-bottom: 10px;
}

.THIS a.slds-tabs_path__link,
.THIS a.slds-tabs_path__link:focus {
    text-decoration: none;
}

.THIS .slds-is-complete .slds-tabs_path__title,
.THIS .slds-is-complete .slds-tabs_path__title:hover {
    color: #FFF;
    transform: rotateX(0deg) !important;
}

.THIS .path-item--last {
    border-radius: 0 15rem 15rem 0;
    border-right: 0;
}

.THIS .tab_disabled.slds-is-incomplete .slds-tabs_path__link {
    color: #AAA;
    cursor: auto;
}

.THIS .tab_disabled.slds-is-incomplete:hover,
.THIS .slds-tabs_path__item:not(.slds-is-current):hover + .tab_disabled.slds-is-incomplete:before {
    background-color: rgb(236, 235, 234);
}