.selected-service_multiple .service {
    border: 1px rgb(217, 219, 221) solid;
    border-radius: .25rem;
    padding: .5rem;
    cursor: pointer;
}

.service + .service{
    margin-top: .75rem;
}

.service {
    align-items: stretch;
}

.service_checkbox {
    display: none;
}

.selected-service_multiple .service_checkbox {
    display: flex;
}

.service_selected {
    border-color: #0070d2;
}




/* Styles from Aura components */
.tier-list-container {
    overflow-y: auto;
    position: relative;
    flex: 1;
    height: 30rem;
    border-right: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
    border-left: 1px solid #dddbda;
}

.service-table.slds-table--bordered {
    border-top: none;
}

.service-table > tbody > tr:first-child > td{
    border-top: none;
}

.hidden {
    display: none;
}

.on-approve {
    display: none;
}

.message-container {
    position: relative;
    z-index: 250;
}

.message-container--center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.message-container--center h1.message {
    margin-top: 0;
}

.fixed-header {
    display: flex;
    position: absolute;
    background: #FFF;
    z-index: 10;
    border-bottom: 1px solid #d8dde6;
    border-top: 1px solid #d8dde6;
    width: 100%;
}

.header-background {
    height: 2rem;
    background-color: #fff;
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}

.slds-table thead th.fixed-th,
.slds-table thead td.fixed-th {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
}

.th-inner {
    position: absolute;
    top: 0;
    text-align: left;
    height: 2rem;
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    z-index: 100;
}

.th-inner-hidden {
    height: 0;
    visibility: hidden;
}

.slds-table thead th,
.slds-table tbody td {
    padding-left: .75rem;
    padding-right: .75rem;
}

.service-table_hidden-row {
    height: 0;
    visibility: hidden;
    line-height: 0;
    padding: 0 !important;
}

.th_info {
    min-width: 4rem;
}

.service-table {
    background: repeating-linear-gradient(transparent 0, transparent 37px, rgb(217, 219, 221) 38px)
}

.service-plan-tab {
    min-height: 0;
}

.service-plan {
    cursor: pointer;
    background: #FFF;
}

.selectedTier {
    background-color: #6BEF9B;
}

.selectedTier:hover {
    background-color: #64DE90;
}

.active-plan > td,
.active-plan.slds-is-selected > td {
    background: #e0ffe1 !important;
}

.inactiveServicePlan > td,
.inactiveServicePlan.slds-is-selected > td {
    background: #F4F6F9 !important;
}

td {
    height: 38px;
}

.cart-col--info {
    width: 1%;
    white-space: nowrap;
}

.service-plan-icon {
    position: relative;
    left: 2px;
    top: -3px;
}

 .cart-col--info .service-plan-icon:first-child {
    margin-left: 0;
}