.THIS
{
}
.THIS.requestpartnerwrap
{
    width: 250px;
    margin: auto;
}
.THIS .buttonwrap
{
    text-align: center;
    margin: 12px 0;
}
.THIS .successMessageDiv{
    margin-left:30%;
}
.THIS .successMsg{
    margin: auto;
}
.THIS .gobacktologinbtn{
    margin-left:43%;
}
.THIS .alignRight
{
    text-align : right;
}
.THIS .help
{
    text-align: center;
    margin-top: 30px;
}
.THIS .helpemail
{
    color: #3164ac;
}
.THIS .slds-icon-standard-user
{
    background-color: token(colorBrand);
}
.THIS .mar20.slds-has-error .slds-form-element__help{
    margin-bottom : -20px;
}