.main {
    flex: 1;
    overflow: auto;
    background: #fff;
    position: relative;
}

.slds-modal {
    position: relative;
    background: #a6a6a6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-wrapper {
    background-color: inherit;
}

.step-item {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.step-label {
    font-size: 15px;
    font-weight: 400;
}

.expandable {
    overflow: hidden;
    transition: all .5s ease-in-out;
    height: 0;
}
  
.expanded {
    height: 200px;
}