.container {
    padding: 20px;
}

.filters {
    margin-bottom: 20px;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-card {
    margin:10px 0px;
}

.slds-checkbox_large .slds-checkbox_faux {
    width: 20px;
    height: 20px;
}

.slds-p-around_small {
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 20px;
}

.fixed-filters {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.scrollable-charts {
    max-height: 60vh;
    overflow-y: auto; 
}

.filter_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner_filter {
    margin-left: 20px;
}

.multiselect_filter {
    margin-top: 10px;
}

.white-button {
    background-color:aliceblue;
    color: rgb(15, 15, 15);
}

.filter-text {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.disabled {
    background-color: rgb(181, 181, 181);
    color: white;
    cursor: not-allowed;
}