.THIS.hidden {
    display: none;
}

.THIS .total-label {
    color: #8C9BAF;
}

.THIS .total-col {
    max-width: 200px;
}

.THIS .total-col-big {
    max-width: 300px;
}

.THIS .total-col-first {
    text-align: right;
    padding-right: 28px;
}

.THIS .padding-left {
    padding-left: 25px;
    display: inline-block;
    position: relative;
}

.THIS .action-column {
    width: 38px;
}

.THIS .fytcet-help {
    position: relative;
}

.THIS .fytcet-help__tooltip {
    position: absolute;
    width: 20rem;
    text-align: left;
    display: none;
    top: -50px;
    left: -16px;
}

.THIS .fytcet-help:hover .fytcet-help__tooltip {
    display: block;
}

.THIS .relayware--disable {
    display: none !important;
}

.THIS .slds-icon-text-standard svg {
    fill: #fff;
}

/** New cart **/

.THIS .slds-table td.cart-calc-col {
    padding: 0;
    border: 0;
}

.THIS.cart {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.THIS.cart-hide--details-action .cart__details-action,
.THIS.cart-hide--name .cart__name,
.THIS.cart-hide--plan .cart__plan,
.THIS.cart-hide--qty .cart__qty,
.THIS.cart-hide--existing-qty .cart__existing-qty,
.THIS.cart-hide--delivered-qty .cart__delivered-qty,
.THIS.cart-hide--new-total-qty .cart__new-total-qty,
.THIS.cart-hide--list-price .cart__list-price,
.THIS.cart-hide--your-price .cart__your-price,
.THIS.cart-hide--discount .cart__discount,
.THIS.cart-hide--discount-type .cart__discount-type,
.THIS.cart-hide--total-price .cart__total-price,
.THIS.cart-hide--actions .cart__actions,
.THIS.cart-hide--provisioned-by-incontact .cart__provisioned-by-incontact{
    display: none;
}

.THIS .cart-header {
    /*border-bottom: 0;*/
}

.THIS .cart-tbody {
    border-top: 0;
}

.THIS .cart__details-action {
    text-align: center;
    width: 2rem;
    max-width: 2rem;
    min-width: 2rem;
}

.THIS .cart__actions {
    min-width: 3rem;
    max-width: 3rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.THIS .cart__details-action {
    padding-right: 0 !important;
}

.THIS .cart-tbody .qli:nth-child(2) td {
    border-top: 0;
}

.THIS .cart-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.THIS .cart-table-body table {
  margin-top: -2rem;
}
.THIS .cart-table-body table thead {
  visibility: hidden;
}
.THIS .cart-table-body table tbody:first-child tr:first-child td {
  border-top: none;
}
.THIS .cart-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.THIS .totals .total-label + span {
    font-weight: 700;
}

.THIS .cart-calc-block {
    overflow: hidden;
    height: 0;
}

.THIS .disabledRow {
    background-color: rgb(244, 246, 249);
}
.THIS .entry-input .slds-form-element__help {
    display: none;
}
.THIS .entry-input--number .slds-input{
    padding-left: .3rem;
}
.THIS .slds-form-element__label {
  display: none !important;
}
.THIS .entry-input .slds-input,
.THIS .entry-input--select {
    height: 22px;
    min-height: 22px !important;
    max-height: 22px;
    line-height: 1.65;
}
.THIS .entry-input .slds-input{
    width: 75px;
}
.THIS .entry-input--select{
    max-width: 75px;
}
.THIS .fit-content {
    display: table !important;
}