h2 {
    color: #080707;
}
span {
    white-space: nowrap;
}
button:disabled>.icons-blue,
button:disabled:hover>.icons-blue,
.quote-name-block[data-isdisabled]>.primary-icon {
    --sds-c-icon-color-foreground-default: #c9c9c9;
}
button:hover>.icons-blue {
    --sds-c-icon-color-foreground-default: #014486;
}
div.slds-popover.slds-popover_tooltip {
    margin: 0 !important;
    max-width: 25rem;
}
.icons-blue {
    --sds-c-icon-color-foreground-default: #006DCC;
}
.container {
    background-color: #f4f6f9;
    height: 100%;
}
.container-prm {
    height: 100%;
    width: 50%;
}
.tooltip-left {
    right: 6rem;
}
.slds-tabs_card {
    flex: 1;
    padding: 0 !important;
    padding-top: 0.75rem !important;
    height: fit-content;
    min-height: 6.5rem;
    min-width: 25rem;
    max-height: 97%;
}
.slds-tabs_card > div:first-child {
    padding-bottom: .75rem;
}
.slds-col {
    min-width: 50%;
}
.slds-card__header-link, a {
    font-weight: 700;
}
.slds-card__body {
    overflow: visible;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    height: calc(100% - 3rem);
}
.slds-card__body::-webkit-scrollbar {
    display: none;
}
.slds-media__body {
    display: flex;
}
.primary-icon {
    --lwc-colorTextIconDefault: #ffb03b;
    font-size: large;
    margin-right: .75rem;
}
.quote {
    height: 3.5rem;
}
.quote-name-block {
    overflow: hidden;
}
.slds-button_neutral:hover, .slds-button_neutral:focus {
    background-color: transparent;
}
.slds-button_neutral {
    padding: 0;
    border: none;
}
.slds-text-color_weak {
    padding-left: 0.75rem;
    padding-top: 0.75rem;
}
.slds-popover__body {
    line-height: 20px;
}
.slds-popover_tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #16325C;
    width: max-content;
    opacity: 0;
    transition: opacity 0.3s;
}
.slds-nubbin_right {
    right: 6.25rem;
}
.poc-to-paid-icon {
    bottom: 30px;
    right: -16px;
}
.slds-button[disabled]:hover .slds-popover_tooltip {
    visibility: visible;
    opacity: 1;
}
.disabled-links {
    color: #DDDBDA;
}
.disabled-links:hover {
    color: #DDDBDA;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .slds-col {
        flex-grow: unset;
    }
}

.black-font {
    color: black !important;
}