.THIS {
  float: left;
  margin: 0 auto;
  padding: 7px;
}
.THIS .cat1-label {
  right: -5%;
}
.THIS .text-link1,
.THIS .bg-image1 {
  width: 330px;
  margin: 10px auto;
}
.THIS .text-link1 {
  padding: 5px;
  float: none;
}