:host { display: block; }
.slds-app-launcher__tile {
    height: 100%;
}
.slds-app-launcher__tile-body a {
    color: #080807;
}
.slds-app-launcher__tile-body .slds-app-launcher__details{
    color: #706e6b;
}