.THIS .lookup-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    display: none;
}
.THIS .lookup-el{
    position: relative;
    z-index: 50;
}
.THIS .slds-is-open .lookup-el{
    z-index: 500;
}
.THIS .slds-is-open .lookup-bg{
    z-index: 400;
    display: block;
}
div.THIS .lookup{
    position: static;
}
div.THIS .bb {
    border-bottom: 1px solid rgb(216, 221, 230);
}
div.THIS .pills{
    position: absolute;
    z-index: 510;
    top: 20px;
    display: flex;
    width: 0;
    padding: 2px;
}
div.THIS .slds-pill.value-pill{
    padding-left: 5px;
    height: 28px;
    border-radius: 0;
    margin-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}






div.THIS .slds-input-has-icon .slds-input__icon.lookup-search-icon{
    top: 2.25rem;
    z-index: 60;
}
div.THIS .slds-is-open  .lookup-search-icon{
    z-index: 520;
}
div.THIS .lookup__tree{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
    top: 3.4rem;
}
div.THIS .cell-icon-more{
    position: absolute;
    right: .25rem;
    top: calc( 50% - 8px );
    display: none;
}
div.THIS .lookup--init-1 .cell-group-1:first-child .cell-icon-more-1,
div.THIS .lookup--init-1 .cell-group-2:first-child .cell-icon-more-2,
div.THIS .lookup--init-2 .cell-group-2:first-child .cell-icon-more-2,
div.THIS .lookup--init-search .cell-group-1:first-child .cell-icon-more-1,
div.THIS .lookup--init-search .cell-group-2:first-child .cell-icon-more-2{
    display: block;
}
div.THIS .lookup--init-1 .cell-group-1:first-child .cell-icon-more-1-collapse,
div.THIS .lookup--init-2 .cell-group-1:first-child .cell-icon-more-1-collapse,
div.THIS .lookup--init-search .cell-group-1:first-child .cell-icon-more-1-collapse,
div.THIS .lookup--init-1 .cell-group-2:first-child .cell-icon-more-2-collapse,
div.THIS .lookup--init-2 .cell-group-2:first-child .cell-icon-more-2-collapse,
div.THIS .lookup--init-search .cell-group-2:first-child .cell-icon-more-2-collapse{
    display: none
}
div.THIS .cell{
    position: relative;
    display: block;
    padding-right: 1.5rem;
}
div.THIS .lookup--init-1 .cell-group-1,
div.THIS .lookup--init-1 .cell-group-2,
div.THIS .lookup--init-2 .cell-group-2{
    display: none;
}
div.THIS .lookup--init-1 .cell-group-1:first-child,
div.THIS .lookup--init-1 .cell-group-2:first-child,
div.THIS .lookup--init-2 .cell-group-2:first-child{
    display: flex;
}

div.THIS .lookup--init-1 .cell-1,
div.THIS .lookup--init-1 .cell-2,
div.THIS .lookup--init-2 .cell-2{
    opacity: 0.5;
}
div.THIS .lookup--init-1 .cell-1:hover,
div.THIS .lookup--init-1 .cell-2:hover,
div.THIS .lookup--init-2 .cell-2:hover{
    opacity: 1;
}
div.THIS .slds-form-element.is-required label:before {
    content: "*\00a0";
    color: #c23934;
    margin: 0 0.125rem;
    display: inline-block;
}