.no-quote-message {
    text-align: center;
    font-weight: 400;
    color: #8C9BAF;
    font-style: italic;
    align-self: center;
    font-size: .9rem;
    padding-top: 3rem;
}
  
.custom-input {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}