.sc-case__block {
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    margin: 0;
}
.sc-case-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sc-case-list__header .slds-m-left_x-small {
    margin-top: 1px;
}
.sc-case-list__show {
    display: flex;
    align-items: center;
}
.sc-case-list__total,
.sc-case-list__show {
    margin: 0 20px;
}
.sc-case-list__total span {
    margin: 0 5px;
    font-weight: bold;
}
.slds-table {
    margin-top: -20px;
    border-top: none;
}
.slds-table th:nth-child(2),
.slds-table td:nth-child(1) {
    width: 440px;
}
.slds-table span.slds-icon_container.slds-icon-utility-arrowdown {
    position: absolute;
    right: 13px;
}
.slds-icon-utility-arrowdown {
    margin-top: -3px;
}
.slds-is-sorted_asc .slds-icon-utility-arrowdown {
    margin-top: 2px;
}
.sc-case-list__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sc-case-list__show-combo {
    display: inline-block;
    margin-top: -18px;
    margin-left: 10px;
    max-width: 80px;
    cursor: pointer;
}
.sc-case-list__show-preloader {
    margin-bottom: -7px;
    margin-left: 10px;
}
.sc-case-list__total-preloader {
    margin: 0 20px;
}
.sc-case-list__table tbody:empty {
    height: 200px;
    position: relative;
    display: table-row;
}
.sc-case-list__table tbody:empty:before {
    content: attr(data-empty);
    color: #cccccc;
    line-height: 22px;
    font-family: proximalight, sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.slds-table tbody th,
.slds-table tbody td {
    padding-left: 15px;
}