.THIS .icncolor svg{
   fill:white !important;
}


.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}

.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}