@font-face {
	font-family: 'Inter Tight', sans-serif;
    src: url('https://fonts.gstatic.com/s/intertight/v7/NGSyv5HMAFg6IuGlBNMjxLsCwadkRFe9.woff2') format('woff2');
}
@font-face {
  font-family: 'ProximaFont';   
  src: url(../resource/ProximaFont);
}
@font-face {
  font-family: 'GothamFont';   
  src: url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.eot');
  src: url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.woff') format('woff'), url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.ttf.svg#gotham_htflight') format('svg');
}
@font-face {
  font-family: 'GothamFontBold';
  src: url(../resource/AvayaCommunityFonts/fonts/gotham-bold.eot?#iefix) format('embedded-opentype'), url(../resource/AvayaCommunityFonts/fonts/gotham-bold.woff) format('woff'), url(../resource/AvayaCommunityFonts/fonts/gotham-bold.ttf) format('truetype');
}
/*
.slds-table:not(.slds-no-row-hover) tbody tr:hover>td, .slds-table:not(.slds-no-row-hover) tbody tr:hover>th, .slds-table:not(.slds-no-row-hover) tbody tr:focus>td, .slds-table:not(.slds-no-row-hover) tbody tr:focus>th {
  background-color: #f9fdff!important;
}
.slds-listbox_vertical .slds-listbox__option:focus, .slds-listbox_vertical .slds-listbox__option:hover, .slds-listbox_vertical .slds-listbox__option.slds-has-focus, .slds-listbox--vertical .slds-listbox__option:focus, .slds-listbox--vertical .slds-listbox__option:hover, .slds-listbox--vertical .slds-listbox__option.slds-has-focus
{
  background-color: #f9fdff!important;
}
.uiMenuList--default .uiMenuItem>a:hover, .uiMenuList--default .uiMenuItem>a:focus, .uiMenuList--default .uiMenuItem>span:hover, .uiMenuList--default .uiMenuItem>span:focus
{
  background-color: #f9fdff!important;
}*/
.forceCommunityGlobalNavigation .slds-list__item a, .forceCommunityGlobalNavigation .slds-list__item button
{
  font-size:14px!important;
  font-weight:bold!important;
  color:#333;
}
.norecordsmsg
{
  background: #ddeff8!important;
  color: #7E2F17;
}
.siteforcePrmBody .comm-navigation{
      min-height: 55px !important;
}
.siteforcePrmBody .cHeader .cBrandingLogo{
	height: 55px !important;
    width: 230px !important;
    margin: 0px 0;
}
.cProfileMenu {
  margin-left: auto;
}
.selfServiceUserProfileMenu .home{
  display : none;
}
.selfServiceUserProfileMenu .profile{
  display : none;
}
.selfServiceUserProfileMenu .myAccount{
  display : none;
}
.selfServiceUserProfileMenu .accountManagement{
  display : none;
}

/*.forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.comm-navigation__item>a:hover, .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.comm-navigation__item>a.slds-is-active:not([data-type="home"]), .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.comm-navigation__item>button:hover, .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.comm-navigation__item>button.slds-is-active:not([data-type="home"]) {
  color: #7E2F17;
}

.siteforcePrmBody .comm-navigation .comm-navigation__item a:hover, .siteforcePrmBody .comm-navigation .comm-navigation__item button:hover
{
  color: #7E2F17;
}
.forceCommunityGlobalNavigation .slds-list__item a:hover, .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]), .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover, .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"])
{
      color: #7E2F17;
}*/
.comm-navigation__item ul li a:not(.slds-is-active):hover
{
  color:#7E2F17;
  /*background-color:#fbfdff!important;*/ 
}
/*----Version 4----*/
.comm-navigation__item ul li a.slds-is-active
{
  color:#7E2F17;
  /*background-color:#f4fbff!important;*/
  background-color:rgb(249, 223, 200)!important
}
.comm-navigation__list > li > .comm-navigation__item > a:not(.slds-is-active):hover,
.comm-navigation__list > li > .comm-navigation__item > button:not(.slds-is-active):hover
{
  color:#7E2F17;
}
.comm-navigation__list > li > .comm-navigation__item > a.slds-is-active,
.comm-navigation__list > li > .comm-navigation__item > button.slds-is-active
{
  color:#7E2F17;
  background-color: rgb(249, 223, 200)!important;
  border-radius: 25px;
}
.slds-button {
  border-radius: 0;
}
.cProfileMenu .trigger-link {
  text-decoration:none;
}
.cProfileMenu .trigger-link:focus {
  border-radius: 0!important;
  box-shadow: none!important;
}
.siteforcePrmBody .comm-navigation .comm-navigation__item button:focus
{
  box-shadow:none;
}
.selfServiceUserProfileMenu .menuList {
  width: 100%!important;
}
.cProfileMenu .trigger-link:hover {
color: #7E2F17!important
}
.slds-container--fluid {
 outline:0; 
}
.forceCommunityGlobalNavigation a[href$="/RCPartnerProgram/s/partner-help"]::before {
content:'';
display:block;
  background-image: url(/resource/Atos_Help_Icon);
  background-repeat: no-repeat;
  background-size: 26px 24px;
  width: 26px;
  height: 24px;
  margin:auto;
}
.forceCommunityGlobalNavigation a[href$="/RCPartnerProgram/s/partner-help"] span { display:none;}
.comm-navigation__item ul
{    
transition:all .3s ease;
}
.comm-navigation__item > .slds-button:hover + ul
{
   display:block!important;
}
.comm-navigation__item > .slds-button + ul:hover
{
   display:block!important;
}
.comm-page-login-home .cHeader .cHeaderTop
{
  height: auto!important;
}
.comm-page-login-home .cCenterPanel
{
  margin-top: 0!important;
}
.salesforceIdentityLoginForm2 .inputContainer
{
  display: flex;
  align-items: center;
  padding:0!important;
}
.salesforceIdentityLoginForm2 .uiInput
{
  flex-grow:2;
}
.salesforceIdentityLoginForm2 .inputIcon
{
  margin:0 10px;
}
.salesforceIdentityLoginForm2 .inputBox
{
  padding: 14px 10px!important;
  box-shadow: none!important;
  border-radius: 0!important;
  margin: 0!important;
  width:100%!important;
}
.comm-page-login-home .siteforceContentArea .ui-widget:first-child .cb-section_column:nth-child(2)
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.salesforceIdentityLoginForm2
{
  text-align:center;
}
.comm-page-login-home .siteforceContentArea .ui-widget:first-child .cb-section_column:nth-child(2) > div
{
  width:90%;
}
.siteforcePrmBody .cCenterPanel{
  min-height: calc(100vh - 103px);
}
.footermain
{
  background-color: #001138;
  display:flex;
  align-items:center;    
  justify-content: space-around;
  padding:23px 0;
  font-size:12px;
}
.footermain ul 
{
  padding:0!important;
  display:flex;
}
.footermain ul li
{
  padding:0!important;
}
.footermain ul li::before
{
  display:none!important;
}
.footermain ul li a
{
  transition: opacity .5s;
}
.footermain .leftwrap ul li a
{
  color: #fff!important;
  opacity:1;
}
.footermain .leftwrap ul li a:hover
{
  opacity:0.6;
}
.footermain ul li a:hover
{
  text-decoration:none;
}
.footermain .linkswrap li a
{
  color: rgba(255,255,255,.6)!important;
}
.footermain .linkswrap li a:hover
{
  color: rgba(255,255,255,1)!important;
}
.footermain .leftwrap li
{
  padding:0 8px!important;
}
.footermain .linkswrap li
{
  display:flex;
}
.footermain .linkswrap li:not(:last-child)::after
{
  content:'|';
  display:block;
  padding:0 8px!important;
  color: rgba(255,255,255,.6);
}
.footermain .copyrightwrap
{
  color: rgba(255,255,255,.6)!important;    
}
.comm-page-home ul:active,.comm-page-home ul:focus,.comm-page-home li:active,.comm-page-home li:focus,
.comm-page-login-home ul:active,.comm-page-login-home ul:focus,.comm-page-login-home li:active,.comm-page-login-home li:focus
{
  outline:0!important;
}
/*community_navigation-global-navigation-list,.siteforcePrmBody .cHeaderTopInternalWrapper
{
  max-width:1920px!important;
}
.comm-page-home div[data-aura-class="forceCommunityBannerLayout"] *
{
  line-height:normal!important;
}*/
.custom-sidebar-title{
  font-size:16px !important;
  color: #002FA7;
}
/*.custom-sidebar{
  font-size: 14px !important;
  color: grey;
  line-height: 2.3;
}*/
.forceCommunityRichText img.sfdcCbImage{
  

}
h1.h-title {
  color: #fff;
  font-size: 60px;
  margin: 0 auto;
  width: 85%;
  letter-spacing: 1.5px;
}
.comm-page-managed-content-news .js-footer-metadata
{
  opacity : 0;
}
.cSearch
{
  margin-right: 30px
}
.comm-page-managed-content-news .forceCommunityManagedContentDetail .js-content-title
{
margin-bottom: 15px;
  display: inline-block;
}
.partneruserinfowrap .eachinfo .slds-card
{
height: 100%;
}
:root { --dxp-c-section-columns-max-width: 1170px; }