.wrapper-div {
    padding: 0 12px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smileys-div {
    padding: 5px 22px;
}

.question-div {
    margin-bottom: 36px;
}

.is-required {
    content: "*\00a0";
    color: #c23934;
    margin: 0 0.125rem;
    display: inline-block;
}

.radio-has-error {
    border: 1px solid red;
    border-radius: 5px;
    padding-bottom: 3px;
}

.slds-notify_container {
    margin-bottom: 50px;
}