.disable-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.table-container {
    max-height: 28rem;
    border: 1px solid #dddbda;
    padding-bottom: 1px;
}

.table {
    border-top: none;
    border-bottom: none;
}

.container-width-max {
    width: 20%;
    min-width: 100px;
}

.table-container thead > tr:first-child > th,
.table-container tbody > tr:first-child > td {
    border-top: none;
}

.header-background {
    height: 1.5rem;
    background-color: #fafaf9;
}

.th-inner {
    position: absolute;
    top: 0;
    text-align: left;
    height: 1.5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    z-index: 100;
}

.th-inner-hidden {
    height: 0;
    visibility: hidden;
    display: inline-block;
    padding: 0 .5rem;
}

th.th-static {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
}

.disable-overlay__backdrop {
    opacity: .8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
}

.disable-overlay__message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    padding: 0 2rem;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 2rem 2rem rgba(255, 255, 255, .7);
    border-radius: 1rem;
    z-index: 110;
    text-align: center;
    font-weight: 400;
    color: #8C9BAF;
    font-style: italic;
    align-self: center;
}

.new-opportunity-card {
    margin-bottom: -.2rem;
    margin-left: .2rem;
}

.card_has-errors {
    border-color: #c23934;
    box-shadow: 0 0 0 1px #c23934;
}

.opportunity-info-notifications {
    position: absolute;
    right: 7rem;
    top: 1rem;
    width: 50%;
}

.billing-system-container {
    margin-right: 0.4rem
}