article.slds-card {
    height: 100%;
}
.slot-list {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}
.slot-list.drop .slds-item:after {
    content: attr(data-pos);
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #0091ea;
    position: absolute;
    opacity: .5;
}
.slot-list.drop .slds-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px dotted #b3e5fc;
    border-radius: .25rem;
    background-color: rgba(255,255,255,.2);
}
.slds-item {
    position: relative;
    overflow: hidden;
}
.slds-item a {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: -5px;
    max-width: 100%;
    padding-right: 20px;
}
.slds-item.highlight.custom:hover ,.slds-item.highlight:not(.custom):hover {
    background-color: transparent;
}
.slds-item.highlight:not(.custom) {
    border-color: #ff8800;
    box-shadow: 0 0 3px #ff9d2a;
    background-color: rgba(255,157,42,.2);
}
.slds-item.highlight.custom {
    border-color: #00c853;
    box-shadow: 0 0 3px #00e676;
    background-color: rgba(0,230,118,.2);
}
.slds-item.custom {
    border-color: #00c853;
    box-shadow: 0 0 3px #00e676;
}
.slds-item .delete {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.slds-item.custom:not(.drop):hover .delete {
    display: block;
}
.slds-item.drop {
    border-color: transparent;
}
.slot-list.drop .slds-item.drop:before {
    border: 2px dashed #0091ea;
    background-color: rgba(255,255,255,.5);
}
.slot-list.drop .slds-item.drop:after {
    opacity: 1;
}
.slds-item.empty {
    background: #ECEFF1;
    background: -webkit-linear-gradient(top left, #ECEFF1, #CFD8DC);
    background: -moz-linear-gradient(top left, #ECEFF1, #CFD8DC);
    background: linear-gradient(to bottom right, #ECEFF1, #CFD8DC);
}
.slds-item.empty span {
    color: #90a4ae;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: -5px;
    max-width: 100%;
    padding-right: 20px;
}