article.slds-card {
    height: 100%;
}
.slot-list {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}
.slds-item {
    cursor: default;
}
.slds-item a {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: -5px;
    max-width: 100%;
}
.slds-item:hover {
    border-color: #ff8800;
    box-shadow: 0 0 3px #ff9d2a;
}
.slds-item.highlight {
    border-color: #ff8800;
    box-shadow: 0 0 3px #ff9d2a;
    background-color: rgba(255, 157, 42, 0.2);
}