.THIS {
  margin-bottom: 20px;
}

.THIS h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}

.THIS .editiontype {
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
  color: #000;
}

.THIS .productsummarywrap {
  width: 30vw;
}

.THIS .pickyournumbersleftwrap {
  width: 70vw;
}