.THIS {
}
.THIS .slds-modal__container
{
    width: 65vw;
    max-width: 65vw;
}
.THIS .emailmodal
{
    padding: 23px;
}
.THIS .norecordsmsg.small
{
    min-width: 325px;
    padding: 10px 25px;
}
.THIS .norecordsmsg.small h2
{
    font-size: 14px;
}
.THIS .alignRight
{
    text-align : right;
}
.THIS h1 svg {
    fill: #fff!important;
}
.THIS .slds-icon-standard-file
{
    background-color : #f2cf5b;
}
.THIS .norecords
{
    color: token(colorTextLink);
    font-size: 15px;
}
.THIS .emailmodal label
{
    width: 100px;
    display: inline-block;
    margin-right: 5px;
    color : gray;
}
.THIS .emailmodal-heading
{
    font-size:18px;
}
.THIS .emailmodal-heading .slds-icon-standard-case-email
{
    margin-right: 5px;
}
.THIS .richtextwrap
{
    border: 1px solid #d4d4d4;
    border-radius : 5px;
}
.THIS .slds-tabs_default__item,
.THIS .slds-tabs--default__item{
    background-color: #f1f1f3;
    padding: 0 8px;
    font-size: 12px;
}
.THIS lightning-tab-bar ul li a{
    padding: 0 30px;
    text-decoration:none!important;
    transition:all .3s;
    color:#000!important;
}
.THIS .slds-tabs_default__item:not(.slds-is-active):hover::after,
.THIS .slds-tabs--default__item:not(.slds-is-active):hover::after {
    background-color: transparent;
}
.THIS .slds-tabs_default__item.slds-is-active:hover::after,
.THIS .slds-tabs--default__item.slds-is-active:hover::after {
    background-color: token(colorBrand);
}
.THIS lightning-tab-bar ul li:not(.slds-is-active) a:hover{
    color:token(colorTextLink)!important;
}
.THIS .slds-tabs_default__item.slds-active::after, 
.THIS .slds-tabs_default__item.slds-is-active::after,
.THIS .slds-tabs--default__item.slds-active::after, 
.THIS .slds-tabs--default__item.slds-is-active::after {
    height: 2px;
}
.THIS lightning-tab-bar li:first-child {
    border-top-left-radius:5px;
}
.THIS lightning-tab-bar li:nth-last-child(2){
    border-top-right-radius:5px;
}
.THIS lightning-tab-bar ul {
    border-bottom:0;
}
.THIS lightning-tab-bar ul li{
    background-color:#f1f1f3;
    padding:0;
}
.THIS lightning-tab-bar ul li a{
    padding: 0 30px;
    text-decoration:none!important;
    transition:all .3s;
    color:#000;
}
.THIS lightning-tab-bar ul li:not(:nth-last-child(2)) a::after {
    content: '';
    display: block;
    width: 1px;
    height: 26px;
    background: #c1c1c2;
    position: absolute;
    right: 0;
    top:7px;    
}
.THIS lightning-tab-bar ul li{
    background-color:#f1f1f3;
    padding:0!important;
}
.THIS .slds-notify_container.nozindex
{
    z-index: 0!important;
}
.THIS .wrap
{
    white-space : normal;
}
.THIS .commentstablebody th
{
    vertical-align: text-top;
}
.THIS .listviewwrap .slds-table thead th {
    padding: 15px;
    font-weight: bolder;
    color:#000000;
    line-height: 20px;
}
.THIS .listviewwrap .slds-table tbody th {
    padding: 15px;
    line-height: 20px;
}
.THIS .filterwrap .slds-form-element__label {
    font-size: 13.5px;
    font-weight: bold;
}
.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}
.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}