.THIS .slds-modal__container{
    width:90% !important;
 	max-width: 90vw !important;
}
.THIS lightning-tab-bar ul {
    /*border-bottom:0!important;*/
    margin-bottom:15px;
}
.THIS lightning-tab-bar li{
    margin-right:8px;
    cursor:pointer;
}
.THIS lightning-tab-bar ul li a{
    font-size:15px;
    text-decoration:none!important;
    transition:all .3s;
    color:#000!important;
    display:flex;
}
.THIS .slds-tabs_default__item.slds-active::after, 
.THIS .slds-tabs_default__item.slds-is-active::after, 
.THIS .slds-tabs--default__item.slds-active::after, 
.THIS .slds-tabs--default__item.slds-is-active::after {
    height: 2px;
}
.THIS .slds-tabs_default__item:not(.slds-is-active):hover::after,
.THIS .slds-tabs--default__item:not(.slds-is-active):hover::after {
    background-color: transparent;
}
.THIS .slds-tabs_default__item.slds-is-active:hover::after,
.THIS .slds-tabs--default__item.slds-is-active:hover::after {
    background-color: token(colorBrand);
}
.THIS lightning-tab-bar ul li:not(.slds-is-active) a:hover{
    color:token(colorTextLink)!important;
}
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding: 0!important;
}