.left {
  width: 6rem;
}
.right {
  width: 100%;
}
.main {
  flex: 1;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.modal-wrapper {
  height: 100%;
  background-color:inherit;
}
li {
  height: 10rem;
  justify-content: space-between;
}
.slds-grid--align-spread:not(:last-child) {
  border-bottom: 1px solid #dddbda;
  padding: 0px;
}
.slds-grid--align-spread:last-child {
  padding: 0px;
}
.slds-grid--align-spread div {
  justify-content: center;
}
.slds-grid--align-spread div.description{
  width: 50%;
}
.slds-grid--align-spread div.buttons {
  width: 40%;
}
.step-button {
  padding: 0 0.5rem;
  border: 1px solid #dddbda;
  height: 32px;
  margin-left: auto;
}
.step-button:valid {
  border: 1px solid #0070D2;
}
.step-button span:nth-child(1) {
  margin-right: 0.25rem;
}
.slds-grid--align-spread lightning-button {
  margin-right: 5%;
}

.slds-text-heading_medium,
.description-text,
.slds-modal__title,
h2.slds-truncate,
p.error_heading,
p.error_description  {
  font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
}

.slds-text-heading_medium {
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.description-text {
  font-size: 13px;
  font-weight: 400;
  color: black;
  white-space: pre-line;
}
.slds-modal__header {
  border-radius: 1px;
}
.slds-modal__title {
  font-size: 20px;
  font-weight: 200;
  color: black;
}
h2.slds-truncate {
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}
p.error_heading {
  font-size: 14px;
  font-weight: 700;
  color: black;
}
p.error_description {
  font-size: 14px;
  font-weight: 200;
  color: black;
}
lightning-icon.new_window-lightning-icon {
  --lwc-colorTextIconDefault:#0070D2;
}
lightning-icon.check-lightning-icon {
  --lwc-colorTextIconDefault:#dddbda;
}
.disabled-icon {
  --lwc-colorTextIconDefault: #c9c9c9 !important;
}
li.slds-progress__item.slds-is-completed::after {
  --lwc-progressBarColorBackgroundFill: #4BCA81;
  top: 19%;
}
li.slds-progress__item.slds-is-active::before {
  --lwc-progressBarColorBackgroundFill: #4BCA81;
}
.slds-progress_vertical .slds-progress__item.slds-is-completed  {
  --lwc-progressBarColorBackgroundFillSuccess: #4BCA81;
}
.slds-progress__item {
  align-self: start;
}
.slds-progress__list {
  margin-top: 4rem;
}
.slds-progress_vertical .slds-progress__item:before {
  top: 0;
  bottom: 90%;
}
.slds-progress_vertical .slds-progress__item::after {
  top: 10%;
  bottom: 0;
}
section.slds-popover_error {
  bottom: 60px;
  right: 75px;
  width: 430px;
}
.backdrop {
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  height: 10rem;
  width: 87%;
}
.slds-modal__footer {
  border-radius: 1px;
  padding: 0.75rem 0 0 0;
}