.THIS {
    overflow-y: auto;
    height: 100%;
}

.THIS .center {
    margin: 0px auto;
}

.THIS .content {
    max-width: 768px;
    font-size: 12px;
    color: #3c3d3e;
}

.THIS.hidden,
.THIS .hidden,
.THIS .assistiveText,
.THIS .relayware--disable,
.THIS .slds-form-element.slds-hide {
    display: none !important;
}

.THIS.minDate {
    border: none;
    vertical-align: super;
}

.THIS .form-output {
    line-height: 2.125rem;
    padding: 5px 0px;
}

.THIS .form-checkbox {
    margin: 12px 0px;
    display: block;
}

.THIS .slds-text-heading--small {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25;
}

.THIS .no-border {
    border: none;
}

.THIS hr {
    margin: 1rem 0;
}


.THIS .form-checkbox {
    min-height: 56px;
    font-size: 100px;
    margin-bottom: 8px;
}

.THIS .slds-grid--pull-padded {
    margin: auto;
}

.THIS .float-right {
    float: right;
}

.THIS .auto-margin {
    margin: auto !important;
}

.THIS .no-bottom-margin {
    margin-bottom: 0px;
}

.THIS .no-margin {
    margin: 0px;
}

.THIS .add-margin-bottom {
    margin-bottom: 0.5rem;
}

.THIS .add-padding-left {
    padding-left: 10px;
}

.THIS .add-padding-right {
    padding-right: 10px;
}

.THIS .half-width {
    width: 50%;
}

.THIS .text-input {
    padding: 5px 10px;
    line-height: 1.4rem;
    border: 1px solid #d8dde6;
    border-radius: 4px;
}

.THIS .text-output {
    padding: 5px 10px;
    line-height: 1.4rem;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    min-height: 2.125rem;
}

.THIS .is-required label:before {
    content: "*\00a0";
    color: #c23934;
    margin: 0 0.125rem;
    display: inline-block;
}

.THIS .slds-has-error .slds-select_container:after, .THIS .slds-has-warning .slds-select_container:after {
    top: 1.2rem;
}

.THIS .slds-has-warning .slds-select {
    border-color: rgb(255, 183, 93);
    box-shadow: rgb(255, 183, 93) 0 0 0 1px inset;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}

.THIS .special-terms {
    margin-top: 11px;
}

/* disabled input css fix */
.THIS input.slds-input[disabled="true"] + .slds-input,
.THIS .testdisabled {
    background-color: rgb(233, 234, 236);
    border-color: rgb(168, 183, 199);
}


.THIS .textarea-vsize--2 textarea{
    height: 6.15rem;
}
.THIS .textarea-vsize--3 textarea{
    height: 10rem;
}
.THIS .textarea-vsize--4 textarea{
    height: 19rem;
}
.THIS .textarea-vsize--5 textarea{
    height: 18rem;
}
.THIS .textarea-vsize--6 textarea{
    height: 14.70rem;
}
.THIS .p-top--1{
    padding-top: 4.1rem;
}
.THIS .p-checkbox{
    padding-top: 1.75rem;
}
.THIS .flex{
    flex: 1;
}

.THIS .field-changed textarea,
.THIS textarea.field-changed,
.THIS .field-changed input,
.THIS input.field-changed,
.THIS input.field-changed.slds-input,
.THIS .field-changed input.slds-input,
.THIS .field-changed select,
.THIS .field-changed select.slds-select,
.THIS select.field-changed,
.THIS .field-changed .slds-checkbox,
.THIS .field-changed .shipping-location-input {
    background: rgba(250, 255, 189, 0.3);
}

.THIS .slds-form-element__label {
    margin-right: .60rem;
}

.THIS .edit-icon {
    top: 0.9rem;
    position: absolute;
    right: 0.6rem;
    margin-top: -7px;
}

.THIS .cancel-icon {
    top: 1.9rem;
    position: absolute;
    right: 0.6rem;
    margin-top: 3px;
}

.THIS .link-input {
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 1.5rem);
    display: inline-block;
    text-overflow: ellipsis;
}