.progress-item {
    height: 78px;
}
.progress-container {
    height: 100%;
    min-height: 50px;
    display: flex;
    align-items: flex-start;
}

.pointer-icon-top {
    border-top-width: 1.5px
}

.progress-marker {
    margin-top: 3px
}

.progress-content-top {
    margin-top: 0;
    padding-bottom: 16px;
}

.mark-success {
    --lwc-progressBarColorBackgroundFillSuccess: #4BCA81;
}

.header-ready, .header-ready {
    color: #B0ADAB;
}

.header-completed {
    color: #706E6B;
}

.step-header {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.line {
    margin-top: 3px;
    border-left: 3px solid #DDDBDA;
    height: 100%;
    position: absolute;
    left: 7px;
}

.line-ready, .line-active{
    border-color: #DDDBDA;
}

.line-completed {
    border-color: #4BCA81;
}

.line-off {
    border: none;
}