.THIS .slds-datepicker table {
    table-layout: fixed;
}
.THIS .heading {
	color:token(colorTextLink)!important;
}
.THIS .texttranslate{
    border-top:1px solid grey;
}
.THIS .mintargetTable lightning-input label
{
    display:none;
}
.THIS .mintargetTable lightning-datepicker .slds-form-element__control > lightning-button-icon {
    width: 18px!important;
    top: 12px!important;
}
.THIS .mintargetTable lightning-datepicker .slds-form-element__control > lightning-button-icon lightning-primitive-icon svg {
	width: 18px;
    height: 19px;
    fill: #444;
}