:host {
    padding: 20px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-radius: 4px;
    width: 100%;
    min-height: 532px;
}
.sc-case-info__header {
    font-size: 18px;
    color: #676767;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e5e6;
}
.sc-case-info__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sc-case-info__label {
    margin-top: -22px;
    position: relative;
    top: 22px;
    padding-left: 10px;
    color: #696969;
    font-size: 0.75rem;
}
.slds-grid.slds-wrap {
    align-items: stretch;
    margin: 0 -10px;
}
.slds-col.slds-size_6-of-12 {
    padding: 10px;
}
.slds-col.slds-size_6-of-12 lightning-input {
    width: 100%;
}
.sc-case-info__severity-helper {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.sc-case-info__severity-helper a {
    position: absolute;
    font-size: 0.75rem;
    padding-top: 0.25rem;
    margin-bottom: 0.125rem;
    display: block;
    cursor: help;
    right: 0;
    z-index: 2;
}
.sc-button {
    background-color: #0684bd;
    padding: 7px 21px;
    outline: 0;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-family: "proximalight", sans-serif;
    text-decoration: none !important;
}
h4 {
    font-size: 1rem;
    margin-top: 15px;
}
.sc-case-info__note {
}
.sc-case-info__message {
    border-radius: 0.25rem;
    border: 1px solid #dddbda;
    padding: 0.5rem;
    background-color: #f3f2f2;
    margin: 1rem 0;
    display: none;
}
.sc-case-info__message.sc-case-info__message_show {
    display: block;
}
.sc-case-info__submit-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}
.sc-button:hover {
    background-color: #2098ce;
}
.sc-button:disabled {
    background-color: #9a9999;
}
.sc-button:active {
    background-color: #005684;
}