.THIS .header-panel {
    z-index: 4;
}

.THIS .panel-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 .25rem;
    margin-top: 1.5rem;
    width: 450px;
    height: 500px;
}
.THIS .panel-container--compact {
    height: unset;
}
.THIS .content {
    min-height: 500px;
}
.THIS .capitalize {
    text-transform: capitalize;
}