.slds-checkbox_on,
.slds-checkbox_off {
    display: none;
}

.card_has-errors {
    border-color: #c23934;
    box-shadow: 0 0 0 1px #c23934;
}

.table-container {
    max-height: 28rem;
    border: 1px solid #dddbda;
    padding-bottom: 1px;
}

.table {
    border-top: none;
    border-bottom: none;
    table-layout: fixed;
}

.container-width-max {
    width: 100%
}

.table-container thead > tr:first-child > th,
.table-container tbody > tr:first-child > td {
    border-top: none;
}

.header-background {
    height: 1.5rem;
    background-color: #fafaf9;
}

.th-inner {
    position: absolute;
    top: 0;
    text-align: left;
    height: 1.5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    z-index: 100;
}

.th-inner-hidden {
    height: 0;
    visibility: hidden;
    display: inline-block;
    padding: 0 .5rem;
}

th.th-static {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
}