.THIS .list-item-arrow {
  margin-right: .25rem;
}
.THIS .input-text {
  padding: .5rem;
  background-color: rgb(247, 249, 251);
}
.THIS .input-text .slds-form-element .slds-form-element__label {
  display: none;
}
.THIS .checked {
  font-weight: bold;
}
.THIS .required-point {
  color: #c23934;
}
.THIS .expanding {
  cursor: pointer;
}
li.THIS {
    margin-top: .25rem;
}
.THIS .section {
    background: #f4f6f9;
    padding: .5rem 1rem;
    margin: 0 -.75rem;
    font-weight: 300;
}
.THIS select {
    height: 2rem;
}