/** **/
.THIS {

}

.THIS.rowerror {
    background-color: #f79494;
}

.THIS .errorInput .slds-input{
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS .slds-input[disabled],
.THIS .slds-input[disabled] + span.slds-input {
    background-color: #e0e5ee;
    border-color: #a8b7c7;
    cursor: not-allowed;
}


.THIS .entry-input .slds-form-element__help{
    display: none;
}

.THIS .cart-col--actions .slds-icon {
    fill: #8C9BAF !important;
}

.THIS .no-padding {
    padding: 0px !important;
    text-align: center;
}

.THIS svg {
    margin: auto;
}

.THIS .delete-icon {
    margin-right: 0 !important;
}

.THIS .relayware--disable {
    display: none !important;
}

.THIS.qli--details-enabled .cart__name,
.THIS.qli--details-enabled .cart__details-action{
    cursor: pointer;
}
.THIS .cart-col--family{
    margin-top: -2px;
}
.THIS .deactivate-input-wrap .slds-checkbox .slds-checkbox--faux {
  margin-right: 0 !important;
}
.THIS .deactivate-input-wrap .slds-checkbox .slds-form-element__label {
  display: none;
}

.THIS.qli__details {
    background: #FFF;
    backface-visibility: hidden;
}
.THIS .details-button{
    transition: transform .3s ease;
}
.THIS .details-button button:focus{
    box-shadow: none;
}
.THIS.qli--show-details .details-button{
    transform: rotateZ(90deg);
}
.THIS.qli--show-details,
.THIS.qli--show-details~.qli__details {
    background-color: rgb(244, 246, 249);
}

.THIS.qli--show-details~.qli__details.unsaved{
    background: rgba(250, 255, 189, 0.3);
}

.THIS.qli--show-details td{
    border-bottom: 1px solid rgb(217, 219, 221);
}

.THIS .cart__actions{
    text-align: center;
    width: 40px;
}

.THIS .message {
    text-align: center;
    font-weight: 400;
    color: #8C9BAF;
    font-style: italic;
}

.THIS.qli__details .border-top--none{
    border-top: 0;
}

.THIS.qli__details .area-codes-message-cell{
    padding: 0;
    margin: 0;
    border: 0;
}
.THIS .show_flex{
    display: flex;
}
/* higlight errors */
.THIS .col_has-error .slds-input{
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}
.THIS .entry-input__error-tooltip{
    display: none;
}
.THIS .col_has-error .entry-input__error-tooltip{
    display: inline-block;
}

/* highlight changed fields  */
.THIS .col_is-changed{
    background: rgba(250, 255, 189, 0.3);
}

/* Cart Item select (Discount type) */
.THIS .qli-select{
    width: 4rem;
}

.THIS .qli-select .slds-select_container:before{
    top: 0.25rem;
}

.THIS .qli-select .slds-select_container:after{
    bottom: 0.25rem;
}

.THIS .qli-select .slds-select{
    height: 22px;
}