.THIS button.slds-button {
    font-size: 12px;
    line-height: 1.5rem;
    padding: 0 0.5rem;
}

.THIS .qw-button-cell {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    text-align: right;
}

.THIS .addtocart {
    display: inline-block;
    width: 135px;
}

.THIS button.button--cart[disabled] {
    background-color: rgb(75, 202, 129);
    border-color: rgb(75, 202, 129);
}

.THIS .tooltip-position-fix {
    top: -3px;
    position: relative;
}

.THIS.row {
    background: #FFF;
}