.THIS{
    
} 
.THIS .info{
    background-color: rgb(252, 249, 249);
    width: 800px;
    padding: 10px;
}

.THIS .iconstyle{
    background-color: token(colorBrand) !important;
}
.THIS .iconstyle svg {
    fill: rgb(252, 249, 249) !important;
}
/*EDU Package*/
.THIS h2,
.THIS h4{
    font-weight:bold;
    font-size:18px;
    text-transform:capitalize;
    color: #000;
    margin-bottom: 25px;
}
.THIS .selectpackages {
    flex-wrap:wrap;
}
.THIS .togglewrap lightning-input {
    margin: 0 15px;/*EDU Package*/
}
.THIS .durationtoggle
{
	margin-right: 45px;/*EDU Package*/
}
.THIS .font15
{
    font-size:15px;/*EDU Package*/
}