.THIS {
    color:#000;
}
.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}

.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}
.THIS .quotemaintab { 
    margin-bottom: 15px;
}
.THIS .quotemaintab lightning-tab-bar li:first-child {
    border-top-left-radius:5px;
}
.THIS .quotemaintab lightning-tab-bar li[data-label="Checkout"] {
    border-top-right-radius:5px;
}
.THIS .quotemaintab lightning-tab-bar ul {
    justify-content:center;
    border-bottom:0;
}
.THIS .quotemaintab lightning-tab-bar ul li{
    background-color:#f1f1f3;
    padding:0;
}
.THIS .quotemaintab lightning-tab-bar ul li:not(:nth-last-child(2)) a::after {
    content: '';
    display: block;
    width: 1px;
    height: 26px;
    background: #c1c1c2;
    position: absolute;
    right: 0;
    top:7px;
}
.THIS .quotemaintab lightning-tab-bar ul li a{
    padding: 0 30px;
    text-decoration:none!important;
    transition:all .3s;
    color:#000!important;
    display:flex;
}

.THIS .quotemaintab .slds-tabs_default__item:not(.slds-is-active):hover::after,
.THIS .quotemaintab .slds-tabs--default__item:not(.slds-is-active):hover::after {
    background-color: transparent;
}
.THIS .quotemaintab .slds-tabs_default__item.slds-is-active:hover::after,
.THIS .quotemaintab .slds-tabs--default__item.slds-is-active:hover::after {
    background-color: token(colorBrand);
}
.THIS .quotemaintab lightning-tab-bar ul li:not(.slds-is-active) a:hover{
    color:token(colorTextLink)!important;
}
.THIS .quotemaintab .slds-tabs_default__item.slds-active::after, 
.THIS .quotemaintab .slds-tabs_default__item.slds-is-active::after,
.THIS .quotemaintab .slds-tabs--default__item.slds-active::after, 
.THIS .quotemaintab .slds-tabs--default__item.slds-is-active::after {
    height: 2px;
}
.THIS .quotemaintab lightning-tab-bar ul li svg {
    fill:#4a4a4e;
    width:19px;
    height:20px;
}
.THIS .quotemaintab lightning-tab-bar ul li lightning-icon {
    width:20px;
}
.THIS .quotemaintab lightning-tab-bar ul li .slds-tabs__left-icon {
    display: flex;
    align-items: center;
}
.THIS .fav-btn {
    padding: 0 8px;
    height: 32px;
}
.THIS .fav-btn svg {
	fill: #fff;
    width: 18px;
    height: 18px;
}
.THIS .actionbuttonswrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.THIS .actionbuttonswrap .slds-button {
    border-radius:3px;
    white-space: nowrap;
}
.THIS .actionbuttonswrap .slds-button + .slds-button {
    margin-left:10px;
}
.THIS .lightningProgressIndicator {
    padding-bottom: 42px;
    padding-top: 6px;
}
.THIS lightning-progress-step {
    margin: 0;
    border-radius: 0!important;
    padding: initial!important;
    flex: none;
    min-width: auto;
    background: none!important;
    background-color: #f1f1f3!important;
    margin-bottom:3px;
    border:0!important;
}
.THIS lightning-progress-step a{
    color: #000!important;
    height: 42px!important;
    font-size: 12px;
    padding: 0 30px!important;
    border-bottom:2px solid transparent;
    text-decoration:none;
}

.THIS lightning-progress-step::before {
    display:none;
}
.THIS lightning-progress-step::after {
    display:none;
}
.THIS lightning-progress-step.slds-is-current::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    background: token(colorBrand)!important;
    border-radius: 50%;
    left: calc(100% - 5px)!important;
    bottom: -3px!important;
    transform:none!important;
    z-index: 99!important;
}
.THIS lightning-progress-step.slds-is-complete a,
.THIS lightning-progress-step.slds-is-current a{
    border-bottom:2px solid token(colorBrand);
}
.THIS lightning-progress-step:not(:last-child) a::after {
    content: '';
    display: block;
    width: 1px;
    height: 26px;
    background: #c1c1c2;
    position: absolute;
    right: 0;
    top:8px;
}
.THIS .slds-path__item:first-child {
    border-top-left-radius:5px!important;
}
.THIS .slds-path__item:last-child {
    border-top-right-radius:5px!important;
}
.THIS .slds-path__nav .slds-path__stage {
    display:none!important;
}
.THIS .slds-path__nav .slds-is-complete .slds-path__title {
    backface-visibility: visible;
    transform: none;
}
.THIS .slds-path__nav {
    justify-content:center;
}
.THIS .lightningProgressIndicator .slds-path__title {
    display: flex;
    align-items: center;
}
.THIS .lightningProgressIndicator .slds-path__title::before{
    content:'';
    display:block;
    width:26px;
    height:24px;
}
.THIS .lightningProgressIndicator .selectpackage .slds-path__title::before{
    background-image: url(/resource/Quote_SelectPackage);
    background-repeat: no-repeat;
    background-size: 26px 24px;
    margin-right: 6px;
}
.THIS .lightningProgressIndicator .pickyournumbers .slds-path__title::before{
    background-image: url(/resource/Quote_PickYourNumbers);
    background-repeat: no-repeat;
    background-size: 26px 24px;
    margin-right: 10px;
}
.THIS .lightningProgressIndicator .addproducts .slds-path__title::before{
    background-image: url(/resource/Quote_AddProducts);
    background-repeat: no-repeat;
    background-size: 26px 24px;    
    margin-right: 7px;
}
.THIS .lightningProgressIndicator .cart .slds-path__title::before{
    background-image: url(/resource/Quote_Cart);
    background-repeat: no-repeat;
    background-size: 26px 24px;    
    margin-right: 6px;
}
.THIS .lightningProgressIndicator .checkout .slds-path__title::before{
    background-image: url(/resource/Quote_Checkout);
    background-repeat: no-repeat;
    background-size: 26px 24px;    
    margin-right: 7px;
}
.THIS .lightningProgressIndicator lightning-progress-step:not(.slds-is-active) a:hover .slds-path__title {
    color:token(colorTextLink)!important;
}
.THIS .quoteheadinglabel {
    font-size:18px;
    margin-bottom:2px;    
    text-transform: capitalize;
}
.THIS .quoteheadingvalue {
    font-size:24px;
}
.THIS .addfav-icon {
    background-image: url(/resource/Quote_AddFavourite);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}
.THIS .mrgn-btm-20 {
    margin-bottom:28px;
    margin-top: 5px;
}

.THIS .quotedetailsform legend,
.THIS .opportunityform legend {
   color:#000; 
    margin-bottom: 18px;
    font-size: 16px;
}
.THIS .quotedetailsform .input,
.THIS .opportunityform .slds-form-element__control{
        width:330px;
}

.THIS .opportunityform .slds-form-element__control
{
    font-size:15px;
    color:#000;
}
.THIS .opportunityform .slds-form-element__label,
.THIS .quotedetailsform .slds-form-element__label {
    color:#000;
    font-size:13px;
}
.THIS .opportunityform .slds-form-element__label {
    margin-bottom:5px;
}
.THIS .opportunityform .slds-form-element__row {
    margin-bottom:18px;
}
.THIS .quotedetailsform .slds-form-element__label { 
margin-bottom: 6px;
}

.THIS .quotedetailsform .input lightning-datepicker input, .THIS .quotedetailsform .input > lightning-input > div[lightning-input_input] > input, .THIS .quotedetailsform .input > .slds-form-element__control > .slds-select_container > select {
    height:42px;
    font-size: 15px;
    color: #000;
}

.THIS .quotedetailsform .slds-form-element__row {
    margin-bottom:25px;
}

.THIS .quotedetailsform .input > .slds-form-element__control > .slds-select_container:before {
    border-bottom: 8px solid #444;
    top: calc((1.75rem / 2) - 4px);
    border-radius: 2px;
}
.THIS .quotedetailsform .input > .slds-form-element__control > .slds-select_container:after {
    border-top: 8px solid #444;
    bottom: calc((1.75rem / 2) - 4px);
    border-radius: 2px;
}
.THIS .quotedetailsform .input > .slds-form-element__control > .slds-select_container:before,
.THIS .quotedetailsform .input > .slds-form-element__control > .slds-select_container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.THIS .quotedetailsform lightning-datepicker .slds-form-element__control > lightning-button-icon {
    width: 18px!important;
    top: 17px!important;
}
.THIS .quotedetailsform lightning-datepicker .slds-form-element__control > lightning-button-icon lightning-primitive-icon svg {
	width: 20px;
    height: 20px;
    fill: #444;
}