.THIS.pre-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px 23px 20px;
    box-sizing: border-box;
    font-size: 1rem;
}

.THIS .pre-chat__hello-text {
    margin: 0;
    font-weight: lighter;
    font-size: 1.8rem;
}

.THIS .pre-chat__from-text {
    margin: 0.3rem 0;
}

.THIS .pre-chat__greeting {
    /*border-bottom: 1px solid #E2E2E2;*/
    padding-bottom: 0.5rem;
}

.THIS .pre-chat__message {
    font-size: 1.2rem;
    font-weight: lighter;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .pre-chat__question p {
    font-weight: lighter;
    color: #666666;
}

.THIS .pre-chat__button {
    display: block;
    width: 100%;
    /*padding: 1rem;*/
    font-family: "proximamedium", sans-serif;
    font-size: 16px;
    line-height: 16px;
    border-radius: 3px;
    cursor: pointer;
    height: 47px !important;
    box-shadow: none;
    outline: none;
    text-decoration: none !important;
}

.THIS .pre-chat__button__dark {
    background: #002FA7;
    color: #ffffff;
    border: none;
}

.THIS .pre-chat__button__light {
    background: #ffffff;
    color: #002FA7;
    border: 1px solid #002FA7;
}

.THIS .pre-chat__button__dark:hover {
    background: #001138;
}

.THIS .pre-chat__button__light:hover {
    background: #002FA7;
    color: #fff;
}

.THIS .pre-chat__button+.pre-chat__button {
    margin-top: 1rem;
    margin-left: 0;
}

.THIS .pre-chat__form {
    flex-grow: 1;
}

.THIS .pre-chat__form .pre-chat__title {
    line-height: 20px;
    color: #2f2f2f;
    font-family: "proximaregular", sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0 47px 30px 47px;
}

.THIS .form {
    text-align: left;
}

.THIS .form__name-row {
    display: flex;
}
.THIS .pre-chat__form >div:first-child, .THIS .pre-chat__form >lightning-input:first-child {
    margin-top: 16px;
}


.THIS .input {
    position: relative;
    margin-bottom: 33px;
}

.THIS .input:last-child {
    margin-bottom: 22px;
}

.THIS .input .slds-form-element__help {
    margin-top: 2px;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .input_first-name {
    flex-grow: 1;
    padding-right: 0.5rem;
}

.THIS .input_last-name {
    flex-grow: 1;
    padding-left: 0.5rem;
}

.THIS .slds-select {
    flex-grow: 1;
    padding-left: .5rem;
    /*padding-right: 1.5rem;*/
    outline: 0;
    /* border-color: rgb(21, 137, 238); */
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 0 3px #0070d2; */
    border: 1px solid #E4E5E6;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear, background-color .1s linear;
    height: 44px;
    text-transform: none;
    font-family: "proximaregular", sans-serif;
    font-size: 15px;
    line-height: 16px;
}

.THIS .input .slds-form-element__label {
    margin-bottom: .25rem;
    display: block;
    color: #666666;
    top: -16px;
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.THIS .input input {
    padding: 14px 10px;
    width: 100%;
    border: 1px solid #E4E5E6;
    max-height: 44px;
    font-family: "proximaregular", sans-serif;
    font-size: 15px;
    line-height: 16px;
}

.THIS .input.slds-has-error input{
    border-color: #E61E1E;
}
.THIS .input * {
    outline-width: 1px !important;
}

.THIS *,
.THIS {
    box-sizing: border-box;
}

.THIS .input abbr.slds-required {
    color: #E61E1E;
    text-decoration: none;
    margin-right: .25em;
}

.THIS .input .slds-form-element__help {
    font-size: .8rem;
    color: #E61E1E;
    /*position: absolute;*/
    margin-top: 1px;
}

.THIS .coveo-labels {
    font-family: "proximaregular", sans-serif !important;
    font-size: 14px;
    line-height: 16px;
}

.THIS .info_link {
    text-decoration: none;
    color: #002FA7;
    border-bottom: 1px dashed;
}

.THIS .info_link:hover {
    border-bottom: 1px solid #0684bd;
}

.THIS .coveo_search_result {
    flex-grow: 0.5;
}

.THIS .tooltip {
    display: inline-block;
    position: relative;
}

.THIS .tooltip > span {
    max-width: 272px;
    position: absolute;
    left: 0; right: 0; bottom: 1.2rem;
    z-index: 1;
    color: #666;
    font-family: "proximaregular", sans-serif !important;
    font-size: 0.8rem;
    padding: 5px 10px;
    visibility: hidden;
    border-radius: 5px;
    background-image: linear-gradient(#fff,#ddd);
    box-shadow: 0 0 5px;
    text-align: left;
}

.THIS .tooltip:hover > span{
    visibility: visible;
}

.THIS .information_required {
    max-width: 272px;
    color: #192C8C;
    margin-top: 0;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: "proximaregular", sans-serif;
}

.THIS .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.THIS .slds-input:invalid {
    box-shadow: none;
}

.THIS .input.slds-has-error input {
    border-width: 1px !important;
}

.THIS .pre-chat__buttons {
    margin: 0;
}