.sc-redirecter {
    background: #fff;
    overflow: hidden;
    padding: 63px 20px 63px 190px;
    border-radius: 4px;
    max-width: 1200px;
}
.sc-redirecter__html {
    margin-bottom: 36px;
    font-size: 24px;
    font-family: proximalight, sans-serif;
}
ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}
li {
    padding-left: 30px;
    position: relative;
}
li:before {
    content: "";
    font-size: 17px;
    position: absolute;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #706E6B;
    top: calc(50% - 2px);
}
h1 {
    font-size: 24px;
    text-align: center;
    padding: 20px 10px;
}
.sc-button {
    font-size: 24px;
    padding: 7px 21px;
    font-family: "proximaregular", sans-serif;
}