.THIS {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #b7b7b7;
    color:#000;
}
.THIS .bdr-btm {
    border-bottom:1px solid #d8d8d8;
}
.THIS .slds-button{
    border-radius:0;
    padding: 10px 0;
}

.THIS .headingrow{
    font-weight:bold;
    color:token(colorTextLink);
}
.THIS .slds-button svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-left: 15px;
}
.THIS table td:first-child,.THIS table th:first-child {
    padding-left:0;
}
.THIS table td:last-child,.THIS table th:last-child {
    padding-right:0;
}
.THIS .togglewrap .slds-form-element__label {
    display:none;
}
.THIS .durationtoggle lightning-input {
      margin: 0 8px;
}
.THIS .contractoggle lightning-input {
    margin-left: 8px;
}
.THIS td {
    padding-top: 10px;
    padding-bottom: 10px;
        font-size:13px!important;
}
.THIS .totalpricewrap {
    font-weight:bold;
}
.THIS .addproductsbtn {
width: 80%;
    min-width: 155px;
    font-size: 14px;
}
.THIS .addproductsbtnwrap {
    text-align:center;
    margin: 15px 0;
}
.THIS th {
    font-weight: normal!important;
    font-size: 12px;
    padding-bottom: 3px!important;
}
.THIS h2 {
    margin:18px 0 13px;
}
.THIS .slds-table thead th {
    color:#000;
}

.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox--faux:after {
    background-color: token(colorBrand);
}