.disable-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.disable-overlay__backdrop {
    opacity: .8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
}

.container-width-max {
    width: 20%;
    min-width: 100px;
}

.disable-overlay__message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    padding: 0 2rem;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 2rem 2rem rgba(255, 255, 255, .7);
    border-radius: 1rem;
    z-index: 110;
    text-align: center;
    font-weight: 400;
    color: #8C9BAF;
    font-style: italic;
    align-self: center;
}

.new-opportunity-card {
    margin-bottom: -.2rem;
    margin-left: .2rem;
}

.card_has-errors {
    border-color: #c23934;
    box-shadow: 0 0 0 1px #c23934;
}