.THIS .location-form {
    position: fixed;
    background: #FFF;
    border: 1px solid #dddbda;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    width: 500px;
    cursor: default;

    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease .3s;
    z-index: 8500;
}

.THIS.slds-backdrop.shipping-backdrop {
    z-index: 8400;
}

.THIS .location-form_hidden {
    top: -9999px !important;
    left: -9999px !important;
    opacity: 0;
    transition: opacity .3s ease, top 0s .3s, left 0s .3s;
}

.THIS .edit-button {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
}

div.THIS.slds-backdrop {
    opacity: 0;
    visibility: visible;
    background: transparent;
    position: fixed;
}

.THIS .location-form_hidden {
    top: -9999px !important;
    left: -9999px !important;
    opacity: 0;
    transition: opacity .3s ease, top 0s .3s, left 0s .3s;
}

.THIS .input_disabled {
    background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
    cursor: not-allowed;
    user-select: none;
}

.THIS .input {
    cursor: pointer;
    height: 6.25rem;
}

.THIS .location-form__state {
    width: 6rem;
}

.THIS .location-form__header {
    background: #f7f9fb;
    border-radius: 5px 5px 0 0;
}

.THIS .location-form_icon {
    align-self: center;
}

.THIS .value-string{
    line-height: 1.2;
}

.THIS .shipping-location-input {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .customer-name-container {
    white-space: normal;
}