.colorButtonRed,
.colorButtonBlack,
.colorButtonBlue,
.colorButtonIngot_Silver,
.colorButtonBlue_Jeans,
.colorButtonRace_Red,
.colorButtonMagnetic,
.colorButtonCaribou,
.colorButtonOxford_White,
.colorButtonShadow_Black{
	border:1px solid black;
	float:left;
	width:40px;
	height:40px;
	margin:5px;
	border-radius:50%;
}

.colorButtonRed{
	background-color:#ff0000;
}
.colorButtonBlack{
	background-color:#000000;
}
.colorButtonBlue{
	background-color:#0000ff;
}

.colorButtonIngot_Silver{
	background-color:#b2b3b4;
}

.colorButtonBlue_Jeans{
	background-color:#1d508f;
}

.colorButtonRace_Red{
	background-color:#ce0f1d;
}

.colorButtonMagnetic{
	background-color:#646463;
}

.colorButtonCaribou{
	background-color:#5c4e3e;
}

.colorButtonOxford_White{
	background-color:#e2e2e2;
}

.colorButtonShadow_Black{
	background-color:#121212;
}

.bufferImage{
	visibility:hidden;
	position:absolute;
	left:-1000px;
	top:-1000px;
}
.bufferContainer{
	position:absolute;
	visibility:hidden;
	overflow:hidden;
	width:1px;
	height:1px;
}
.previewContainer{
	width:640px;
	height:320px;
	overflow:hidden;
}
.productPreview{
	width:100%;
	height:100%;
	//animation-duration: 3s;
	//animation-name: rotate;
	background:url('../images/car_red/1-large.jpg') no-repeat center center;
	background-size:100%;
}