.THIS.slds-modal {
    outline: none;
}

.THIS.modal_fullscreen .slds-modal__container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.THIS.modal_fullscreen .slds-modal__close {
    top: 0.9rem;
    right: 1rem;
    z-index: 100;
}

.THIS.modal_fullscreen .slds-modal__content {
    flex-grow: 1;
}

.THIS .slds-modal__container {
    top: 1rem;
    bottom: -1rem;
}