.THIS.location-form {
    position: absolute;
    background: #FFF;
    border: 1px solid #dddbda;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    width: 500px;
    cursor: default;

    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease .3s;
    z-index: 9100;
}

.THIS .location-form__header {
    background: #f7f9fb;
    border-radius: 5px 5px 0 0;
}

.THIS .slds-button.location-form__close{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.THIS .slds-form-element.is-required label:before{
    display: none;
}

.THIS .location-form_icon{
    align-self: center;
}

.THIS.location-form_hidden{
    top: -9999px !important;
    left: -9999px !important;
    opacity: 0;
    transition: opacity .3s ease, top 0s .3s, left 0s .3s;
}

.THIS.slds-backdrop{
    opacity: 1;
    visibility: visible;
    background: transparent;
}

.THIS .location__spinner{
    width: 2rem;
    display: inline-block;
    position: relative;
    height: 0.85rem;
}

.THIS .location__spinner.slds-hide{
    display: none;
}

.THIS .location__spinner .slds-spinner{
    width: 1rem;
}

.THIS .address-indicator{
    position: relative;
    top: -1px;
}

.THIS .validation-block{
    position: relative;
    top: 2px;
}

.THIS .location-form__state{
    width: 6rem;
}

.THIS .link_right {
    text-align: right; 
    margin: 0 15px 0 0;
}

.THIS .location-form_duplicateErrorMsg {
    color: #FF0000;
}