:host {
    min-height: 500px;
    display: block;
    margin-right: -20px;
}
.im-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.im-header  > .slds-col:not(:last-child) {
    border-bottom:  1px solid rgb(217, 219, 221);
}
.im-header > .slds-col > h2 {
    color: rgb(81, 79, 77);
    padding: .5rem;
    font-weight: 700;
    line-height: normal;
    font-size: 1.25rem;
}
.im-header > .slds-col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.im-errors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}
.im-errors .slds-notify_toast {
    margin: 1px;
    flex: 1;
    overflow: hidden;
    align-items: flex-start;
}
.im-errors .slds-notify_toast h2.slds-text-heading_small {
    word-break: break-all;
    overflow: hidden;
}
.im-cases__table-controls {
    display: flex;
    align-items: center;
    margin: 0 10px;
    min-height: 42px;
}
.im-cases__show-combo {
    max-width: 80px;
    margin: 0 10px;
}
.im-cases__table-controls c-lwc-pagination {
    flex: 1;
}
ol.im-steps {
    width: 100%;
    display: flex;
    justify-content: center;
}
li.im-steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 50px 0 10px;
    margin-top: 50px;
}
li.im-steps__item:before {
    width: 40px;
    height: 40px;
    border: 2px solid #d9dbdd;
    border-radius: 20px;
    content: attr(data-id);
    line-height: 36px;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #514f4d;
    text-align: center;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 20;
}
li.im-steps__item:not(:last-child):after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d9dbdd;
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: 10;
}
li.im-steps__item[data-valid="true"]:before {
    border-color: #4bca81;
    background-color: #4bca81;
    color: #fff;
}
li.im-steps__item[data-valid="true"] + li.im-steps__item:not([data-valid="true"]):before {
    border-color: #0070d2;
}
li.im-steps__item[data-valid="true"]:after{
    background-color: #4bca81;
}
.im-step__title {
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    top: -30px;
}
.im-step__action {
    display: flex;
    align-items: center;
}
.im-step__action > span {
    font-size: 12px;
    transform: translateX(10px);
}
.im-empty-checkbox {
    transform: translateX(16px);
}
.im-cases__table {
    margin: 10px 20px;
    display: block;
}