.blue_background {
	background-color: #0070c0;
	color: white;
}

.border-blue {
	border: 0.5px solid;
	padding: 5px;
	text-align: center;
	background: #bce8ff;
	color: #0073ea;
}

.label-align-center {
	width: 100%;
	text-align: center;
}

.orange {
	background-color: #fff3dc !important;
}