.THIS {
}

.THIS .errorMessageDiv{
    margin-left:15%;
}
.THIS .alignRight{
    text-align:right;
}

.THIS .slds-table thead th {
    padding: 15px;
    font-weight: bolder;
    color:#000000;
    line-height: 20px;
}
.THIS .slds-table tbody th {
    padding: 15px;
    line-height: 20px;
}
.THIS .hideRequiredLabel .slds-required{
    display:none;
}
.THIS .label-hidden label
{
    display:none;
}
.THIS .fieldWidth{
    width:42% !important;
}

.THIS .action-button {
    border-radius: 0.3rem;
    color: #080707;
    margin-left: 0.7rem;
    font-weight: 600;
}

.THIS .process-order-button-container {
    position: relative;
    display: inline-block;
}

.THIS .process-order-button-container .process-order-tooltip {
    width: max-content;
    top: -80%;
    left: calc(50% + 10px);
    transform: translateX(-50%);
    background-color: #E7E1DF;
    color: #454443;
    text-align: center;
    padding: 1px 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 3px -1px;
    transition: opacity var(--lwc-durationQuickly,0.1s) linear,visibility var(--lwc-durationQuickly,0.1s) linear,transform var(--lwc-durationQuickly,0.1s) linear;

}

.THIS .process-order-button-container:hover:not([enabled]) .process-order-tooltip {
    visibility: visible;
    opacity: 1;
}

.THIS .tooltip {
    position: absolute;
    background: #f3f3f3;
    color: grey;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    top: -2rem;
    left: 1px;
    white-space: nowrap;
}