:host {
    padding: 10px 0;
}
.sc-case-comments__header {
    position: relative;
    display: flex;
}
.sc-case-comments__order {
}
h4 {
    flex: 1;
    font-size: 18px;
    color: #676767;
    margin-bottom: 10px;
    line-height: 27px;
    font-family: "proximamedium", sans-serif;
}
.sc-case-comments__wrapper {
    display: flex;
    flex-direction: column;
}
.sc-case-comments__input-wrapper {
    position: relative;
}
.sc-case-comments__input {
    width: 100%;
    border-radius: 0 4px 4px 0;
    border-width: 1px;
    border-color: #e4e5e6;
    border-style: solid;
    padding: 7px 42px 7px 10px;
}
.sc-case-comments__send {
    position: absolute;
    right: 0;
    top: 0;
}
.sc-case-comments__loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.sc-case-comments__loading.show {
    display: block;
}

.sc-case-comments__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
}