.rn_AdvancedSubWidget{border-bottom:1px solid #a5a5a5;margin-bottom:17px;padding-bottom:17px;}
.rn_AdvancedSubWidget:after{content:" ";display: block;visibility:hidden;height:0;font-size:0;clear:both;}
* html .rn_AdvancedSubWidget{zoom:1;}
*:first-child+html .rn_AdvancedSubWidget{display:inline-block;}
.yui-skin-sam .rn_AdvancedSearchDialog{border:0 none;}
.yui-skin-sam .rn_AdvancedSearchDialog .hd{background:transparent url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/layout/rc_ContentContainerHeaders.png) no-repeat 0 -42px;width:520px;height:33px;padding:9px 22px 0 22px;margin:0;position:absolute;top:-32px;font-size:13px;font-weight:bold;line-height:18px;color:#fff;border:0 none;}
.yui-skin-sam .rn_AdvancedSearchDialog .container-close{background:url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/layout/rc_ContentContainerHeaders.png) no-repeat -564px -52px;width:16px;height:16px;position:absolute;right:16px;top:-22px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd{background:transparent url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/layout/rc_ContentContainerMiddle_DialogLarge.png) repeat-y;width:520px;padding:24px 22px 32px 22px;margin:0;border:0 none;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd form{*display:none;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd label{display:block;font-size:13px;font-weight:bold;float:left;padding-top:4px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_SortList2 label{width:205px;clear:both;padding-top:3px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_KeywordText2 .rc_InputTypeTextWrapper{width:295px;background:url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/form/rc_CustomFormInput.png) no-repeat 0 -320px;padding:4px 10px 5px 10px;*padding-bottom:3px;float:right;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_KeywordText2 .rc_InputTypeTextWrapper input{width:295px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_SortList2 select{width:160px;}
.rn_AdvancedSearchDialog .rn_DialogContent .rn_SearchTips{position:absolute;left:22px;bottom:29px;z-index:100;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft{background:transparent url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/layout/rc_ContentContainerBottoms.png) no-repeat 0 -18px;width:520px;height:18px;padding:0 22px;margin:0;font-size:12px;line-height:15px;border:0 none;position:relative;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group{displat:block;width:520px;position:absolute;top:-34px;right:18px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button{background-position:0 -300px;width:106px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button:hover{background-position:-158px -300px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button.default{background:url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/form/rc_SearchBox.png) no-repeat -433px -126px;width:106px;margin-right:7px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button.default:hover{background-position:-539px -126px;}
.rn_ProductCategorySearchFilter{}
.rn_ProductCategorySearchFilter .rn_Label{display:block;font-size:13px;font-weight:bold;float:left;width:205px;padding-top:4px;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton{background:none;width:314px;height:auto;overflow:visible;display:block;padding:0;margin:0;border:0 none;font-family:Helvetica, Arial, sans-serif;font-size:12px;text-align:left;text-indent:0;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton::-moz-focus-inner{padding:0;border:0;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton:hover, .rn_ProductCategorySearchFilter button.rn_DisplayButton:focus{}
.rn_ProductCategorySearchFilter .rc_CustomDropDownWrapper_1{background:transparent url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/form/rc_CustomFormDropDownHeaders.png) no-repeat left top;display:block;padding-top:8px;}
.rn_ProductCategorySearchFilter .rc_CustomDropDownWrapper_2{background:transparent url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/form/rc_CustomFormDropDownBottoms.png) no-repeat left bottom;display:block;padding-bottom:8px;}
.rn_ProductCategorySearchFilter .rc_CustomDropDownWrapper_3{background:transparent url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/form/rc_CustomFormDropDownMiddle.png) no-repeat left center;display:block;margin:-2px 0;padding:0 26px 0 10px;}
.rn_ProductCategorySearchFilter .underlay{display:none;}
.rn_ProductCategorySearchFilter .yui-panel-container{padding:0;}
.rn_ProductCategorySearchFilter .rn_Panel{background:#fff;padding:8px 6px;border:1px solid #a5a5a5;max-height:200px;overflow:auto;}
.rn_ProductCategorySearchFilter table{border-collapse:collapse;}
.rn_DisplaySearchFilters{background:#f2f2f2;border:1px solid #a5a5a5;margin-bottom:24px;padding:12px 16px 14px 16px;overflow:hidden;}
.rn_DisplaySearchFilters .rn_Heading{display:block;font-size:13px;font-weight:bold;margin-bottom:9px;}
.rn_DisplaySearchFilters .rn_Filter{overflow:hidden;padding-top:10px;}
.rn_DisplaySearchFilters .rn_Label{margin-bottom:4px;}
.rn_DisplaySearchFilters .rn_Label a{}
.rn_DisplaySearchFilters .rn_Label img{margin-left:2px;vertical-align:top;}
.rn_DisplaySearchFilters .rn_FilterItem{background-color:#fff;border-color:#d2d2d2;border-style:solid;border-width:1px 0;color:#666;float:left;margin-left:-6px;padding:6px 4px 6px 10px;}
.rn_DisplaySearchFilters .rn_Selected{background-color:#f0f0f0;cursor:default;font-weight:bold;text-decoration:none;}
.rn_DisplaySearchFilters .rn_Separator{background:transparent url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/breadCrumb.png) no-repeat scroll 0px center;float:left;height:0;padding-top:29px;_padding-top:15px;position:relative;width:8px;}
.rn_DisplaySearchFilters .rn_Separator.rn_Selected{background-position:right center !important;}
.rn_ResultInfo2{overflow:hidden;}
.rn_ResultInfo2 .rn_Suggestion{float:left;width:693px;margin-bottom:15px;}
.rn_ResultInfo2 .rn_Suggestion a{}
.rn_ResultInfo2 .rn_Spell{float:left;width:693px;margin-bottom:15px;font-weight:bold;}
.rn_ResultInfo2 .rn_Spell a{}
.rn_ResultInfo2 .rn_NoResults{clear:both;}
.rn_ResultInfo2 .rn_NoResults ul{padding-left:20px;}
.rn_ResultInfo2 .rn_NoResults ul li{list-style:disc;}
.rn_ResultInfo2 .rn_Results{float:right;}
.rn_ResultInfo2 .rn_Results span{font-weight:bold;}
.rn_TopicWords2{background-color: #FAFAFA;border: 1px solid #DEDEDE;margin: 8px 0px 20px;padding: 6px;}
.rn_TopicWords2 dl{padding-left: 12px;}
.rn_TopicWords2 dd{padding-bottom: 10px;}
.rn_TopicWords2 img{margin-right: 6px;vertical-align: middle;}
.rn_TopicWords2 .rn_Title{color:#2F2F2F;font-size:1.167em;line-height:1.3em;font-weight:bold;font-family:Arial,sans-serif;}
.rn_Multiline2{overflow:hidden;}
.rn_Multiline2 .rn_Loading{background:url(/euf/rightnow/optimized/1297210009/themes/ringcentral/images/loading.gif) no-repeat center center;height:auto !important;height:66px;min-height:66px;}
.rn_Multiline2 .rn_Element1{font-size:13px;}
.rn_Home .rn_Multiline2 .rn_Element1{font-size:12px;}
.rn_Multiline2 .rn_Element2{}
.rn_Multiline2 .rn_Element3{}
.rn_Multiline2 .rn_ElementsHeader, .rn_Multiline2 .rn_ElementsData{font-size:11px;line-height:20px;color:#888;}
.rn_Multiline2 ol{}
.rn_Multiline2 li{margin-bottom:15px;}
.rn_Home .rn_Multiline2 ol{margin-top:2px;}
.rn_Home .rn_Multiline2 li{margin-bottom:18px;}
.rn_AnswerList .rn_Multiline2 ol{padding-top:16px;margin-top:7px;border-top:1px solid #a5a5a5;}
.rn_Paginator{margin-top:1px;padding-top:15px;border-top:1px solid #a5a5a5;}
.rn_QuestionList .rn_Paginator{margin-top:0;padding-top:11px;border-top:0 none;}
.rn_Paginator a{padding:0 6px;border-left:1px solid #666;color:#0670b4;}
.rn_Paginator .rn_BackLink, .rn_Paginator .rn_ForwardLink{padding:0;border-left:0 none;}
.rn_Paginator span.rn_FirstPaginatorElement{padding-left:0;border-left:0 none;}
.rn_Paginator a.rn_FirstPaginatorElement{border-left:0 none;}
.rn_Paginator .rn_CurrentPage{padding:0 6px;border-left:1px solid #666;font-weight:bold;}
.rn_Paginator a:hover, .rn_Paginator a:focus{}
.rn_Paginator .rn_ForwardImageLink, .rn_Paginator .rn_ForwardImageLink:hover, .rn_Paginator .rn_ForwardImageLink:focus, .rn_Paginator .rn_BackImageLink:hover, .rn_Paginator .rn_BackImageLink:focus, .rn_Paginator .rn_BackImageLink{}
.rn_Paginator img{}
