.THIS {
}

.THIS .half-width {
	width: 50%
}

.THIS .full-width {
	width: 100%
}

.THIS .four-fifth-width {
    width: 80%
}

.THIS .one-fifth-width {
    width: 20%
}

.THIS .add-margin-bottom {
    margin-bottom: 10px;
}

.THIS .add-margin-left {
    margin-left: 10px;
}

.THIS .no-padding-right input {
    padding-right: 0;
}

.THIS .form-checkbox {
    min-height: 56px;
    font-size: 100px;
    margin-bottom: 8px;
}

.THIS .qos-container.uiInput {
	flex-direction: column;
}

.THIS.content-centered {
    display: flex;
    align-items: center;
}

.THIS .fit-content {
    display: table !important;
    height: auto !important;
    width: auto !important;
    max-width: none !important;
}