.THIS.templates-panel{
    overflow-x: hidden;
    overflow-y: auto;
}
.THIS .slide-out--right {
    transform: translate3d(25%,0,0);
    opacity: 0;
}
.THIS .slide-out--left {
    transform: translate3d(-25%,0,0);
    opacity: 0;
}
.THIS .section{
    width: 100%;
    transition: all .3s ease;
    height: calc( 100vh - 12rem);
}
.THIS .section.slds-hide{
    display: none;
}
.THIS .flex-column{
    flex-direction: column;
}
.THIS .templates-loading .templates-list{
    opacity: .5;
    pointer-events: none;
}