.THIS .tier-list-container {
    overflow-y: auto;
    position: relative;
    flex: 1;
}

.THIS .service-table.slds-table--bordered {
    border-top: none;
}

.THIS .service-table > tbody > tr:first-child > td,
.THIS .service-table > tbody > tr:nth-child(2) > td {
    border-top: none;
}

.THIS.hidden {
    display: none;
}

.THIS .on-approve {
    display: none;
}

.THIS .message-container {
    position: relative;
    z-index: 250;
}

.THIS .message-container--center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.THIS .message-container--center h1.message {
    margin-top: 0;
}

.THIS .fixed-header {
    display: flex;
    position: absolute;
    background: #FFF;
    z-index: 10;
    border-bottom: 1px solid #d8dde6;
    border-top: 1px solid #d8dde6;
    width: 100%;
}

.THIS .header-background {
    height: 2rem;
    background-color: #fff;
}

.THIS .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;

    /* fix for flashing scrollbar. Height determined by flex grow */
    height: calc(100vh - 23rem);
}

.THIS .fixed-th {
    position: static !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.THIS .th-inner {
    position: absolute;
    top: 0;
    text-align: left;
    height: 2rem;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    z-index: 100;
}

.THIS .th-inner-hidden {
    height: 0;
    visibility: hidden;
}

.THIS .slds-table thead th,
.THIS .slds-table tbody td {
    padding-left: .75rem;
    padding-right: .75rem;
}

.THIS .service-table_hidden-row {
    height: 0;
    visibility: hidden;
    line-height: 0;
    padding: 0 !important;
}

.THIS .th_info {
    min-width: 4rem;
}

.THIS .service-table {
    background: repeating-linear-gradient(transparent 0, transparent 37px, rgb(217, 219, 221) 38px)
}

.THIS.service-plan-tab {
    min-height: 0;
}