.grid0{
    display:grid;
    padding-right: 1%;
    justify-content: space-between;
    grid-template-columns: 86% 14%;
    
  }
  .grid3{
    font-size: 0.75rem;
  }
.grid1{
    padding-right: 0.5%;
    padding-left: 0.5%;
}
.slds-page-header {
    margin-bottom: 1% !important;
  }
  .alignti{
    justify-content: right !important;
  }