.THIS {}

.THIS .message-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: large;
    height: 50px;
    color: rgb(199, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}