.THIS .slds-icon-standard-user
{
    background-color: token(colorBrand);
}
.THIS .alignRight
{
    text-align : right;
}
.THIS .buttonwrap
{
    text-align: center;
    margin: 12px 0;
}
.THIS .validateemailwrap
{
    width : 350px;
    margin: auto;
}
.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}

.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}
.THIS .help
{
    text-align: center;
    margin-top: 30px;
}
.THIS .helpemail
{
    color: #3164ac;
}
.THIS .mar20.slds-has-error .slds-form-element__help{
    margin-bottom : -20px;
}
.THIS .customIcon {
    vertical-align: text-bottom;    
}