.THIS.service-plan {
    cursor: pointer;
    background: #FFF;
}

.THIS.selectedTier {
    background-color: #6BEF9B;
}

.THIS.selectedTier:hover {
    background-color: #64DE90;
}

.THIS .slds-table tbody tr.slds-is-selected > td {
    background-color: #D7EDF9 !important;
}

.THIS.active-plan > td,
.THIS.active-plan.slds-is-selected > td {
    background: #e0ffe1 !important;
}

.THIS.inactiveServicePlan > td,
.THIS.inactiveServicePlan.slds-is-selected > td {
    background: #F4F6F9 !important;
}

.THIS td {
    height: 38px;
}

.THIS .cart-col--info {
    width: 1%;
    white-space: nowrap;
}

.THIS .service-plan-icon {
    position: relative;
    left: 2px;
    top: -3px;
}

.THIS .cart-col--info .service-plan-icon:first-child {
    margin-left: 0;
}