.THIS .group {
  height: 3.25rem;
  flex: none;
  overflow: hidden;
  padding: 0;
  background-clip: padding-box;

  border-top: 1px solid rgb(216, 221, 230);
  border-bottom: 1px solid rgb(216, 221, 230);

  cursor: pointer;
  position: relative;
}
.THIS .group + .group {
  border-top: none;
}
.THIS.no-group tr:first-child {
  border-top: none !important;
}
.THIS .group-head {
  position: relative;
  cursor: pointer;
  height: 3.25rem;
}
.THIS .group-head .cart__details-action {
  padding-left: .5rem;
  text-align: center;
}
.THIS .group-content {
  /*padding-left: 2rem;*/
}
.THIS .group-content .cart__details-action {
  width: 4rem;
  max-width: 4rem;
  min-width: 4rem;
}
.THIS .action-button {
  padding-left: .5rem !important;
  text-align: center;
}

.THIS .group.group--open {
  border-radius: .25rem;
}
.THIS .group.group--open .group-head tr {
  border-top: none;
}


.THIS .details-button {
    transition: transform .3s ease;
}
.THIS .details-button button:focus{
    box-shadow: none;
}
.THIS .details-button.show {
    transform: rotateZ(90deg);
}