.THIS .quantity-input .slds-input {
    height: 22px;
    min-height: 22px !important;
    max-height: 22px;
    line-height: 1.65;
    width: 75px;
}

.THIS .quantity-input .slds-input[disabled] {
    cursor: pointer;
}

.THIS .products-table-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.THIS h1.rc-message {
    text-align: center;
    font-weight: 400;
    color: #8C9BAF;
    font-style: italic;
}

.THIS .rc-message_bigger {
    font-size: 1.3rem;
}

.THIS .message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.THIS .product-table{
    height: 100%;
}

.THIS .products-rendered {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    z-index: 200;
    transform: translateX(-50%);
}

.THIS .col__selected {
    width: 2rem;
    max-width: 2rem;
    padding: 0 !important;
}

.THIS .col__qty {
    width: 6rem;
    max-width: 6rem;
}

.THIS .filters{
    align-items: flex-end;
}