.THIS .button {
    margin: auto 5px;
}

.THIS > .btnss {
    text-align: center;
}

.THIS > .btnss > .hidden {
    display: none;
}

.THIS > .btnss > .disabled {
    display: none;
}

.THIS .button-spinner {
    width: 0.9rem;
    display: none;
    left: 1rem;
}

.THIS .button--busy {
    padding-left: 2rem;
}

.THIS .button--busy .button-spinner {
    display: inline-block;
}