pre {
    line-height: 20px !important;
    text-wrap: wrap;
}

.expandable {
    overflow: hidden;
    height: 0;
}

.expanded {
    height: fit-content;
}

.form-input {
    width: 20%;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #706E6B;
}

.preview-spinner {
    left: 16px;
}

.preview-text {
    margin-left: 36px;
}
.dropdown-container {
    width: 20%;
}