.THIS .slds-modal__container{
     width:90% !important;
 	max-width: 90vw !important;
}
.THIS pre
{
    font-family: token(fontFamily);
}

.THIS .slds-form-element__label{
    font-size: .8125rem !important;
    font-weight: normal !important;
}
.THIS .slds-checkbox_toggle .slds-checkbox_faux::after, .THIS .slds-checkbox_toggle .slds-checkbox--faux::after, .THIS .slds-checkbox--toggle .slds-checkbox_faux::after, .THIS .slds-checkbox--toggle .slds-checkbox--faux::after {
    background-color: #949494;
    width: 18px;
    height: 18px;
}   

.THIS .slds-checkbox_toggle .slds-checkbox_faux, .THIS .slds-checkbox_toggle .slds-checkbox--faux, .THIS .slds-checkbox--toggle .slds-checkbox_faux, .THIS .slds-checkbox--toggle .slds-checkbox--faux {
    background-color: #fff!important;
    border: 2px solid #b7b7b7!important;
}
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before {
    width: 18px;
    height: 18px;
    background-color:token(colorBrand);
}
.THIS .paymentoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .paymentoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .paymentoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .paymentoggle .slds-checkbox--toggle .slds-checkbox--faux:after {
    background-color: token(colorBrand);
}