#HDbody{
	margin: auto;
	margin-top: 15px;
	background-color: #ffffff;
}
#HDpage{
	margin: auto;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #585858;
}
#HDsearchrow{
	background-color: #f8f8f8;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #cecece;
	margin-top: 30px;
}
.HDsprite{ 
	height: 56px;
	width: 390px;
	display: block;
	background-position: 0px -11px;
	background-image: url( {!URLFor($Resource.HelpDeskStyles, '/styles/topsprite.png')} );
}
.HDstatustext{
	padding-left: 5px;
}
#HDpaneltext{
	font-weight: 300;
	font-size: 18px;
	color: #ff8a00;
}
.pagination{
	margin: 0px;
	vertical-align: bottom;
}
.dropdown-menu > li > a{
	color: #0474a9;
}
.pagination > .active{
	cursor: pointer;
}
.btn{
	color: #0474a9;
}
#HDstatustextbar{
	text-align: right;
}
#HDstatusicon{
	vertical-align: text-top;
	color: {!systemStatusColor};

}
#HDsearchinput{
	padding-top: 15px;
	padding-bottom: 15px;
}
#HDstatusbar{
	margin: auto;	
	margin-top: 40px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	line-height: 10px;
	color: #585858;
}
#HDissuebar{
	border-left: solid 1px;
	border-color: #cecece;
}
#HDbuttongroup{
	margin: auto;	
	margin-top: 30px;
	margin-left: -0.35%;
	margin-right: -0.35%;
	text-align: center;
}
#HDbuttonsmall{
	text-align: right;
}
#HDinputgroup{
	padding-bottom: 10px;
}
#input-group-btn{
	padding: 0px;
	white-space: nowrap;
}
#HDbuttonstyle{
	color: #246f9e;
	width: 80px;
	height: 80px;
}
#HDfont{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	margin: 0px;
}
#HDheader{
	padding: 15px 0px;
	border-bottom: solid 1px;
	border-color: #d9d9d9;
	background-color: #ffffff;
	margin: auto;
}
#HDbuttonblock, #HDbutton{
	padding: 5px;
	margin: auto;
}
#HDbutton{
	background-color: #fafafa;
}
#HDbuttonfont{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 600;
	padding: 15px 0px;
	color: #0474a9;
	text-align: center;
	margin: 0px;
}
#HDcasepanel, #HDrequestpanel, #HDarticlepanel{
	margin-top: 30px;
}
#HDcasetitle{
	color: #0474a9;
	font-size: 16px;
	font-weight: 400;
}
#HDcaseinfo{
	font-size: 13px;
}
#HDcaselist{
	list-style: none;
	padding-right: 40px;
}
#HDcaselistentry{
	border-bottom: solid 1px;
	border-color: #cecece;
	padding-top: 10px;
}
#HDstatustext{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #5d6067;
	text-align: right;
	display: inline-block;
}
#HDstatussmall{
	text-align: center;	
}
.HDoutputlink{
	font-size: 16px;
	font-weight: 400;
}
#HDbuttons{
	font-size: 40px;
	color: #0474a9;
}
#HDiconpadding{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px
}
#HDstatus{
	margin: auto;
}
.HDsearchstr{
	height: 45px;
	font-size: 19px;
}
#HScaselist{
	font-size: 13px;
}
#HDsearchbutton{
	font-size: 25px;
}
.HDhrmenuitem,.HDmenuitem{
	padding-bottom: 5px;
}
.HDhrmenuitem{
	display: {!IF(isUserHR, '', 'none')};
}
.HDsrcbutton{
	padding: 6px 10px;
}
.HDnotfound{
	font-weight: 300;
	font-size: 15px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.HDnomargins{
	margin: 0px;
}
.HDpager{
	text-align: right;
}
.HDnopadding{
	padding: 0px;
}