.THIS {
    font-size: 14px;
    color:#000;
    margin-bottom: 35px;
}
.THIS .slds-checkbox_toggle .slds-checkbox_faux::after, .THIS .slds-checkbox_toggle .slds-checkbox--faux::after, .THIS .slds-checkbox--toggle .slds-checkbox_faux::after, .THIS .slds-checkbox--toggle .slds-checkbox--faux::after {
    background-color: #949494;
    width: 18px;
    height: 18px;
}   

.THIS .slds-checkbox_toggle .slds-checkbox_faux, .THIS .slds-checkbox_toggle .slds-checkbox--faux, .THIS .slds-checkbox--toggle .slds-checkbox_faux, .THIS .slds-checkbox--toggle .slds-checkbox--faux {
    background-color: #fff!important;
    border: 2px solid #b7b7b7!important;
}
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before {
    width: 18px;
    height: 18px;
background-color: token(colorBrand);
}
.THIS .slds-slider-label {
    font-size:14px;    
    color:#000;
}
.THIS .slds-slider__value {
    display:none;
}
.THIS lightning-slider .slds-form-element,.THIS lightning-slider .slds-slider-label {
    display:flex;
    align-items: center;
}
.THIS lightning-slider .slds-form-element__control{
    flex-grow:2;
}
.THIS .sliderinput .slds-form-element__label {
    display:none;
}
.THIS .togglewrap .slds-form-element__label {
    display:none    
}
.THIS .togglewrap lightning-input {
    margin: 0 15px;
}
.THIS lightning-slider .slds-slider-label__range {
    display:none;
}
.THIS lightning-slider label {
    padding:0;
    margin:0 15px 0 0;
}
.THIS .durationtoggle
{
	margin-right: 45px;
}
.THIS lightning-slider {
    margin-right: 15px;
}
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox--faux:after {
background-color: token(colorBrand);
}