.THIS .cart__area-code .slds-form-element__help {
    display: none;
}
.THIS .cart__area-code.slds-has-error .slds-form-element__help {
    display: block;
}

.THIS .no-background.slds-spinner_container{
    background: none;
}

.THIS .cart__actions{
    text-align: center;
    width: 40px;
}

.THIS td{
    border-top: none !important;
    border-bottom: 1px solid rgb(217, 219, 221);
}