:host {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
}
h1 {
    font-size: 38px;
    font-family: 'proximalight',sans-serif;
    line-height: 44px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #000;
    min-height: 54px;
    flex: 1;
}