#bb.rc .btn,#bb.rc select {
    white-space: nowrap;
    position: relative
}

#bb.rc :focus {
    outline: 0
}

#bb.rc {
    width: 100%;
    height: 100%;
    background: #f4f3f3;
    color: #666;
    font-size: 12px;
    line-height: 1.2
}

#bb.rc .rc-container {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto
}

#bb.rc .container {
    width: auto;
    margin: 0;
    padding: 0
}

#bb.rc .container .footer {
    display: none
}

#bb.rc .header {
    display: block;
    position: relative;
    padding: 28px 0 0
}

#bb.rc .breadcrumb {
    margin-bottom: 12px
}

#bb.rc .breadcrumb::after,#bb.rc .breadcrumb::before {
    content: '';
    display: table
}

#bb.rc .breadcrumb::after {
    clear: both
}

#bb.rc .breadcrumb li {
    width: auto;
    margin-right: 20px;
    padding: 0
}

#bb.rc .breadcrumb li button {
    border-color: transparent;
    color: transparent
}

#bb.rc .breadcrumb li button,#bb.rc .breadcrumb li button:hover {
    cursor: normal
}

#bb.rc .breadcrumb li button.active,#bb.rc .breadcrumb li button.passed {
    color: #666
}

#bb.rc .breadcrumb li button.active,#bb.rc .breadcrumb li button.active:hover,#bb.rc .breadcrumb li button.passed,#bb.rc .breadcrumb li button.passed:hover {
    cursor: pointer
}

#bb.rc .error-message {
    padding-top: 3px
}

#bb.rc .control-label {
    display: block;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #666;
    font-size: 14px;
    cursor: default
}

#bb.rc .form-control {
    display: block;
    height: 21px;
    padding: 0 4px;
    border: 1px solid #ccc;
    border-color: #ccc #f4f3f3 #f4f3f3 #ccc;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    font-size: 14px
}

#bb.rc .input-group .input-group-btn .btn {
    height: auto;
    margin: 0 0 0 10px;
    padding: 0 6px;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    color: #0b405e;
    font-size: 14px
}

#bb.rc .input-group .input-group-btn .btn:hover {
    background: 0 0
}

#bb.rc input[type=checkbox] {
    margin-top: 1px
}

#bb.rc select {
    overflow: hidden;
    width: 100%;
    height: 23px;
    padding: 1px;
    border-radius: 2px;
    border: 1px solid #aecbda;
    color: #666;
    font-size: 14px
}

#bb.rc .text-info {
    color: #0b405e
}

#bb.rc .btn {
    height: 25px;
    margin: 0 0 0 13px;
    padding: 0 12px 0 11px;
    border-radius: 13px;
    font-size: 14px;
    font-style: normal
}

#bb.rc .btn-primary {
    background: #0b405e;
    border: 1px solid #316785;
    color: #fff
}

#bb.rc .btn-info.disabled,#bb.rc .btn-info.disabled.active,#bb.rc .btn-info.disabled.focus,#bb.rc .btn-info.disabled:active,#bb.rc .btn-info.disabled:focus,#bb.rc .btn-info.disabled:hover,#bb.rc .btn-info[disabled],#bb.rc .btn-info[disabled].active,#bb.rc .btn-info[disabled].focus,#bb.rc .btn-info[disabled]:active,#bb.rc .btn-info[disabled]:focus,#bb.rc .btn-info[disabled]:hover {
    background-color: rgba(15,89,130,.5);
    border-color: rgba(15,89,130,.5)
}

#bb.rc .btn-info.active {
    color: #fff;
    background-color: #0b405e;
    border-color: #0b405e
}

#bb.rc .date-picker .btn {
    height: auto;
    margin: 0;
    padding: 5px 10px;
    border-radius: 0
}

#bb.rc [bb-day-list] {
    margin-top: 52px;
    background: #fff;
    border: 1px solid #e0e2e4;
    border-radius: 6px
}

#bb.rc [bb-day-list] [timezone-dropdown] {
    width: 344px;
    padding: 10px 15px
}

#bb.rc [bb-day-list] [timezone-dropdown]::before {
    content: 'Customer Timezone';
    display: inline-block;
    padding: 0 9px 2px;
    font-size: 13px
}

#bb.rc .booking-form-header {
    position: relative;
    height: 30px;
    margin: 0 0 12px;
    padding: 0 18px;
    background: #0b405e;
    border-radius: 5px;
    color: #f4f3f3;
    font-size: 16px;
    line-height: 1.9
}

#bb.rc .page-summary {
    margin-top: -42px;
    margin-bottom: 0
}

#bb.rc .appointment-details-header {
    display: block;
    margin-bottom: 8px;
    padding-top: 15px;
    padding-bottom: 0;
    color: #666;
    font-size: 16px;
    text-decoration: none
}

#bb.rc .bb-summary-list {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 14px
}

#bb.rc .month-calendar,#bb.rc .time-slots {
    margin: 0;
    padding: 15px 16px 10px
}

#bb.rc .day-list-header {
    margin: 0;
    padding-top: 20px
}

#bb.rc .day-list-header>[class^=col-xs-] {
    float: none;
    width: auto;
    max-width: 380px;
    margin: 0 auto
}

#bb.rc .day-list .calendar,#bb.rc .day-list .legend {
    max-width: 841px;
    margin: 0 auto
}

#bb.rc .day-list .calendar {
    margin-bottom: 22px
}

#bb.rc .day-list .calendar td.bb-available:hover,#bb.rc .day-list .calendar td.bb-selected,#bb.rc .day-list .calendar td.bb-selected:hover {
    background-color: rgba(15,89,130,.5)
}

#bb.rc .day-list .legend {
    margin-bottom: 24px
}

#bb.rc .day-list .legend h4 {
    margin-bottom: 8px;
    padding-bottom: 0;
    color: #666;
    font-size: 16px
}

#bb.rc .day-list .keys .key {
    line-height: 24px
}

#bb.rc .day-list .keys .square {
    height: 24px;
    width: 24px;
    margin-right: 4px;
    vertical-align: middle
}

#bb.rc .day-list .keys span {
    line-height: inherit;
    vertical-align: middle
}

#bb.rc .booking-form-header.ng-hide+.time-slots {
    display: none
}

#bb.rc .time-slots .btn.btn-secondary {
    height: auto;
    margin: 0;
    padding: 14px 7px;
    background: #f4f3f3;
    border: 1px solid #ccc;
    border-color: #f4f3f3 #ccc #ccc #f4f3f3;
    border-radius: 0;
    color: inherit
}

#bb.rc .time-slots .btn.btn-secondary:hover {
    color: #fff;
    background-color: rgba(15,89,130,.5)
}

#bb.rc .appointment-details {
    float: none;
    margin: 0 0 12px;
    padding: 14px 14px 20px;
    background: #fff;
    border: 1px solid #e0e2e4;
    border-radius: 6px
}

#bb.rc .appointment-details .appointment-details-header {
    padding-top: 0
}

#bb.rc .appointment-details .bb-summary-list {
    padding-bottom: 0
}

#bb.rc .bb-subcontent {
    margin: 0 0 20px;
    padding: 0 34px 12px;
    background: #fff;
    border: 1px solid #e0e2e4;
    border-radius: 6px
}

#bb.rc .bb-subcontent .booking-form-header {
    float: left;
    width: calc(100% + 68px);
    margin: 0 -34px;
    transform: translateY(-42px)
}

#bb.rc [bb-item-details] .bb-subcontent {
    margin: 54px 0 20px
}

#bb.rc .bb-step-navigation {
    margin: 18px 31px 0;
    padding: 18px 185px 32px;
    border-top: 1px solid #ccc
}

#bb.rc [bb-checkout] .col-lg-8.col-lg-offset-2 {
    width: 100%;
    margin-left: 0
}

#bb.rc [bb-checkout] .confirmation-header,#bb.rc [bb-checkout] .confirmation-summary {
    font-size: 14px
}

#bb.rc [bb-checkout] .confirmation-header {
    margin: 20px 18px 10px
}

#bb.rc [bb-checkout] .confirmation-summary {
    margin: 14px 18px 0;
    padding: 15px 15px 5px;
    border-color: #ccc
}

#bb.rc .bb-booking-export .popover-content a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain
}

#bb.rc .bb-booking-export .popover-content a img {
    opacity: 0
}

#bb.rc footer {
    position: relative;
    padding: 14px 18px 35px
}

#bb.rc footer a {
    color: #0b405e;
    font-size: 11px;
    text-decoration: none
}

#bb.rc footer p {
    margin: 0;
    color: #999;
    font-size: 11px
}

#bb.rc footer p.first {
    padding-bottom: 13px
}

#bb.rc footer .in-association-with p {
    display: none;
    margin-bottom: 3px;
    font-size: 9px;
    text-align: left
}

#bb.rc footer .in-association-with .smallLogo {
    width: 100%;
    margin-bottom: 5px
}

#bb.rc footer .footer__wrapper {
    padding-right: 134px
}

#bb.rc footer .footer__right {
    display: block;
    position: absolute;
    right: 0;
    top: 14px;
    width: 128px;
    height: 32px
}

#bb.rc footer .brandLogo {
    height: 59px
}

#bb.rc footer .brandLogo .leftLogo {
    float: left;
    height: 24px;
    width: 166px;
    margin-top: 9px
}

#bb.rc footer .brandLogo .rightLogo {
    float: right;
    height: 42px;
    width: 42px
}

#bb.att footer .in-association-with {
    display: none
}

#bb.bt footer .in-association-with p,#bb.telus footer .in-association-with p {
    display: block
}

#bb.att footer .footer__wrapper {
    padding-right: 0
}

#bb.att footer .footer__right {
    top: auto;
    bottom: 0
}

#bb.bt .bb-summary-label {
    color: #6400aa
}

#bb.bt .scheduler-message {
    color: #6400aa
}

#bb.bt .text-info {
    color: #6400aa
}

#bb.bt .booking-form-header,#bb.bt .btn-primary {
    background-color: #6400aa
}

#bb.bt .btn-primary:hover {
    background-color: #80a9c7;
    border-color: #80a9c7
}

#bb.bt .appointment-details,#bb.bt .bb-subcontent,#bb.bt [bb-day-list] {
    border-color: #e1e1e1
}

#bb.bt .day-list .calendar td.bb-available:hover,#bb.bt .day-list .calendar td.bb-selected,#bb.bt .day-list .calendar td.bb-selected:hover {
    background-color: #6400aa
}

#bb.bt .time-slots .btn.btn-secondary:hover {
    color: #fff;
    background-color: #6400aa
}

#bb.bt .btn-info.disabled,#bb.bt .btn-info.disabled.active,#bb.bt .btn-info.disabled.focus,#bb.bt .btn-info.disabled:active,#bb.bt .btn-info.disabled:focus,#bb.bt .btn-info.disabled:hover,#bb.bt .btn-info[disabled],#bb.bt .btn-info[disabled].active,#bb.bt .btn-info[disabled].focus,#bb.bt .btn-info[disabled]:active,#bb.bt .btn-info[disabled]:focus,#bb.bt .btn-info[disabled]:hover {
    background-color: #6400aa;
    border-color: #6400aa
}

#bb.bt .btn-info.active {
    background-color: #6400aa;
    border-color: #6400aa
}

#bb.bt footer .footer__wrapper {
    color: #999;
    font-size: 11px;
    line-height: 18px
}

#bb.bt footer .footer__wrapper a {
    padding-right: 12px;
    font-size: 12px
}

#bb.telus .booking-form-header {
    background-color: #49166d
}

#bb.telus .text-info {
    color: #49166d
}

#bb.telus .btn:not(.btn-default) {
    color: #fff;
    border-color: #49166d;
    background-color: #49166d
}

#bb.telus .day-list .calendar td.bb-available:hover,#bb.telus .day-list .calendar td.bb-selected,#bb.telus .day-list .calendar td.bb-selected:hover {
    background-color: rgba(94,28,141,.5)
}

#bb.telus .time-slots .btn.btn-secondary:hover {
    color: #fff;
    background-color: rgba(94,28,141,.5)
}

#bb.telus .btn-info.disabled,#bb.telus .btn-info.disabled.active,#bb.telus .btn-info.disabled.focus,#bb.telus .btn-info.disabled:active,#bb.telus .btn-info.disabled:focus,#bb.telus .btn-info.disabled:hover,#bb.telus .btn-info[disabled],#bb.telus .btn-info[disabled].active,#bb.telus .btn-info[disabled].focus,#bb.telus .btn-info[disabled]:active,#bb.telus .btn-info[disabled]:focus,#bb.telus .btn-info[disabled]:hover {
    background-color: rgba(94,28,141,.5);
    border-color: rgba(94,28,141,.5)
}

#bb.telus .btn-info.active {
    background-color: #49166d;
    border-color: #49166d
}

#bb.telus footer p {
    color: #666;
    font-size: 12px;
    line-height: 1.4
}

#bb.telus footer p span {
    font-size: 11px;
    line-height: 1.5
}

#bb.telus footer a {
    color: #49166d;
    font-size: 12px
}

#bb.telus footer a:hover {
    color: #8c68a6;
    text-decoration: underline
}

#bb.telus footer i {
    padding: 0 3px;
    color: #666
}

#bb.telus footer .footer__wrapper {
    padding-right: 180px
}

#bb.telus footer .footer__right {
    width: 180px
}
