.THIS {
    font-family: token(fontFamily);
}
.THIS .font {
    font-family: token(fontFamily);
}
.THIS .togglewrap,.THIS input,.THIS select{
    font-family: token(fontFamily);
}
.THIS .slds-form-element__label {
    color:#000;
}
.THIS .slds-modal__container{
    width:70% !important;
 	max-width: 64rem !important;
}

.THIS .slds-tabs_default__link, .THIS .slds-tabs_scoped__link , .THIS .slds-form-element__label{
    font-family: token(fontFamily);
}

.THIS .label-hidden > label {
    display: none;
}
.THIS .slds-checkbox_toggle .slds-checkbox_faux::after, .THIS .slds-checkbox_toggle .slds-checkbox--faux::after, .THIS .slds-checkbox--toggle .slds-checkbox_faux::after, .THIS .slds-checkbox--toggle .slds-checkbox--faux::after {
    background-color: #949494;
    width: 18px;
    height: 18px;
}   

.THIS .slds-checkbox_toggle .slds-checkbox_faux, .THIS .slds-checkbox_toggle .slds-checkbox--faux, .THIS .slds-checkbox--toggle .slds-checkbox_faux, .THIS .slds-checkbox--toggle .slds-checkbox--faux {
    background-color: #fff!important;
    border: 2px solid #b7b7b7!important;
}
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before {
    width: 18px;
    height: 18px;
    background-color:token(colorBrand);
}
.THIS .slds-checkbox_toggle [type=checkbox][disabled]+.slds-checkbox_faux, 
.THIS .slds-checkbox_toggle [type=checkbox][disabled]+.slds-checkbox--faux, 
.THIS .slds-checkbox_toggle [type=checkbox][disabled]~.slds-checkbox_faux, 
.THIS .slds-checkbox_toggle [type=checkbox][disabled]~.slds-checkbox--faux, 
.THIS .slds-checkbox_toggle [type=checkbox][disabled]+.slds-checkbox_faux_container .slds-checkbox_faux, 
.THIS .slds-checkbox_toggle [type=checkbox][disabled]+.slds-checkbox--faux_container .slds-checkbox--faux, 
.THIS .slds-checkbox--toggle [type=checkbox][disabled]+.slds-checkbox_faux, 
.THIS .slds-checkbox--toggle [type=checkbox][disabled]+.slds-checkbox--faux, 
.THIS .slds-checkbox--toggle [type=checkbox][disabled]~.slds-checkbox_faux, 
.THIS .slds-checkbox--toggle [type=checkbox][disabled]~.slds-checkbox--faux, 
.THIS .slds-checkbox--toggle [type=checkbox][disabled]+.slds-checkbox_faux_container .slds-checkbox_faux, 
.THIS .slds-checkbox--toggle [type=checkbox][disabled]+.slds-checkbox--faux_container .slds-checkbox--faux {
	border-color: rgb(217, 219, 221)!important;
}
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox--faux:after {
    background-color: token(colorBrand);
}
.THIS .lightningProgressIndicator {
    padding-bottom: 25px;
}
.THIS lightning-progress-step {
    margin: 0;
    border-radius: 0!important;
    padding: initial!important;
    flex: none;
    min-width: auto;
    background: none!important;
    background-color: #f1f1f3!important;
    margin-bottom:3px;
    border:0!important;
}
.THIS lightning-progress-step a{
    color: #000!important;
    height: 42px!important;
    font-size: 12px;
    padding: 0 30px!important;
    border-bottom:2px solid transparent;
    text-decoration:none;
}

.THIS lightning-progress-step::before {
    display:none;
}
.THIS lightning-progress-step::after {
    display:none;
}
.THIS lightning-progress-step.slds-is-current::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    background: token(colorBrand)!important;
    border-radius: 50%;
    left: calc(100% - 5px)!important;
    bottom: -3px!important;
    transform:none!important;
    z-index: 99!important;
}
.THIS lightning-progress-step.slds-is-complete a,
.THIS lightning-progress-step.slds-is-current a{
    border-bottom:2px solid token(colorBrand);
}
.THIS lightning-progress-step:not(:last-child) a::after {
    content: '';
    display: block;
    width: 1px;
    height: 26px;
    background: #c1c1c2;
    position: absolute;
    right: 0;
    top:8px;
}
.THIS .slds-path__item:first-child {
    border-top-left-radius:5px!important;
}
.THIS .slds-path__item:last-child {
    border-top-right-radius:5px!important;
}
.THIS .slds-path__nav .slds-path__stage {
    display:none!important;
}
.THIS .slds-path__nav .slds-is-complete .slds-path__title {
    backface-visibility: visible;
    transform: none;
}
.THIS .slds-path__nav {
    justify-content:center;
}
.THIS .lightningProgressIndicator lightning-progress-step:not(.slds-is-active) a:hover .slds-path__title {
    color:token(colorTextLink)!important;
}
.THIS .lightningProgressIndicator .slds-path__title {
    display: flex;
    align-items: center;
}
.THIS .lightningProgressIndicator .slds-path__title::before{
    content:'';
    display:block;
    width:18px;
    height:24px;
}
.THIS .lightningProgressIndicator .changeorder .slds-path__title::before{
    background-image: url(/resource/Quote_ChangeOrder);
    background-repeat: no-repeat;
    background-size: 18px 24px;
    margin-right: 10px;
}
.THIS .lightningProgressIndicator .view .slds-path__title::before{
    background-image: url(/resource/Quote_View);
    background-repeat: no-repeat;
    background-size: 18px 24px;
    margin-right: 10px;
}
.THIS .slds-tabs_default__item:not(.slds-is-active):hover::after,
.THIS .slds-tabs--default__item:not(.slds-is-active):hover::after {
    background-color: transparent;
}
.THIS .slds-tabs_default__item.slds-is-active:hover::after,
.THIS .slds-tabs--default__item.slds-is-active:hover::after {
    background-color: token(colorBrand);
}
.THIS lightning-tab-bar ul li:not(.slds-is-active) a:hover{
    color:token(colorTextLink)!important;
}
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding: 0!important;
}
.THIS lightning-tab-bar ul li a{
    text-decoration:none!important;
    transition:all .3s;
}
.THIS .callscategoriesheading .slds-tabs_default__item.slds-active::after, 
.THIS .callscategoriesheading .slds-tabs_default__item.slds-is-active::after, 
.THIS .callscategoriesheading .slds-tabs--default__item.slds-active::after, 
.THIS .callscategoriesheading .slds-tabs--default__item.slds-is-active::after {
    height: 2px;
}
.THIS .callscategoriesheading lightning-tab-bar ul li a{
    color:#000!important;
    font-size:14px;
}
.THIS .headingbold
{
    font-weight:bold;
}
.THIS .viewrecordstable .padding15
{
    padding: 12px 15px;
}
.THIS .callscategoriesheading
{
    margin-top: -20px;
}
.THIS .productswrap
{
    margin-top: 16px;   
}
.THIS .callscategoriesheading .slds-tabs_default__nav, 
.THIS .callscategoriesheading .slds-tabs--default__nav
{
    border-bottom:0;
}
.THIS .add-btn button
{
    border-radius: 3px;
    padding-left: .5rem;
    padding-right: .5rem;
    min-width: 63px;
}
.THIS .tabheading
{
    font-size:16px;
}
.THIS .actionbtnswrap .slds-button
{
    border-radius:3px;    
}
.THIS .actionbtnswrap .slds-button+.slds-button {
    margin-left: 10px;
}
.THIS .font14
{
    font-size:14px;
}