.THIS .form-content {
    max-height: calc(100vh - 13rem);
}

.THIS .slds-form-element.is-required label:before {
    content: "*\00a0";
    color: #c23934;
    margin: 0 0.125rem;
    display: inline-block;
}

.THIS .slds-has-error .slds-select_container:after {
    top: 1.2rem;
}

.THIS .qos-help__popover{
	display: none !important;
}
.THIS .qos-help span:hover + .qos-help__popover{
	display: block !important;
}

.THIS .uptime-help__popover{
	display: none !important;
}
.THIS .uptime-help span:hover + .uptime-help__popover{
	display: block !important;
}
.THIS .ltnng-check-label{
	order: 2;
	margin-left: .5rem;
}
.THIS .ltnng-check{
	margin-top: .2rem;
}
.THIS .uiInputCheckbox{
	display: flex;
}
.THIS .popover-icon svg{
	fill: rgba(255,255,255,255) !important;
}
.THIS .popover-icon-container{
	padding: 5px;
}
.THIS .enterprise-popover{
	display: none !important;
}
.THIS.enterprise-button:hover .enterprise-popover{
	display: block !important;
}

.THIS .relayware--disable{
  display: none !important;
}

.THIS .el-buttons-modal .el-text-center{
	text-align: center;
}

.THIS .el-buttons-modal .slds-modal__container {
	max-width: 20rem !important;
}

.THIS .engage-menu button::before{
	content: 'Engage Legal';
	padding-right: .5rem;
	color: rgb(0, 112, 210);
	
}

.THIS .engage-menu button{
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.THIS button.engage-menu {
	padding-left: 0rem;
	padding-right: 0rem;
}