.icon {
    padding-left: 20px;
}

.check-icon {
    height: auto;
}

.slds-dropdown {
    transform: none !important;
    
}

.slds-combobox__form-element {
    padding-left: 2px;
}

.slds-input__icon {
    opacity: 0.6;
}

.close-hover {
    pointer-events: auto !important;
}

.close-hover:hover {
    cursor: pointer;
    opacity: 1;
}

.input-text {
    text-overflow: ellipsis;
    padding-right: 24px;
}

.list-item:hover {
    box-shadow: var(--slds-g-shadow-inset-focus-1, var(--lwc-shadowButtonFocus, 0 0 3px));
    outline: 0;
}

.error {
    border: 1px solid #ea001e;
    box-shadow: #ea001e 0 0 0 1px inset;
}