div.left-menu	{
	width:170px;
	border:1px solid #D9D9D9;
	background-color:#FFF;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-border-radius:6px;
}

.brows{
    background: none repeat scroll 0 0 #C3DAE8;
    border: 1px solid #C3DAE8;
    border-radius: 6px 6px 0 0;
   -moz-border-radius:6px 6px 0 0;
   -webkit-border-radius:6px 6px 0 0;
}

ul.level-2 li.noSubMenu:hover{
   color:#FFF;
   background:#6400aa url(right-white-arrow.png) no-repeat scroll 1px 11px;
 }
 .selectedSubMenu{
   color:#FFF !important;
   background:#6400aa url(right-white-arrow.png) no-repeat scroll 1px 11px !important;
 }
 .selectedSubMenuFont{
    color:#FFF !important;
 }
 ul.level-2 li.noSubMenu:hover .linkLv2{
  color:#FFF;
 }
div.all-browser{display:none;}
div.ie-browser{display:block !important;}

ul{list-style-type:none;padding:0;margin:0;}
ul.level-1{margin-bottom:28px;}
ul.level-1 li{border-top:1px solid #D9D9D9;color:#6400aa;font-family:Helvetica;font-size:18px;padding-bottom:5px;padding-top:3px;cursor:pointer;}

ul.level-1 li.li-top {-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;border-top:none;}
ul.level-1 li.li-bottom{-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;}
ul.level-2.m_bottom{-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;}
.li-bottom{-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;}
ul.level-1 li.li-bottom.opened{-webkit-border-bottom-left-radius:0px;-webkit-border-bottom-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright:0px;}
ul.level-1 li.li-item-0{cursor:default;}
ul.level-1 li.li-item-0:hover {cursor:default;background-color:#F1F2F3;}
ul.level-1 li:hover {background-color:#CCCCCC;color:#6400aa;}

ul.level-1 li.li-item-F{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}
ul.level-1 li.li-item-F:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}

ul.level-1 li.li-item-F2{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}
ul.level-1 li.li-item-F2:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}

ul.level-1 li.li-item-1 a.linkTop,
ul.level-1 li.li-item-2 a.linkTop,
ul.level-1 li.li-item-3 a.linkTop,
ul.level-1 li.li-item-4 a.linkTop,
ul.level-1 li.li-item-5 a.linkTop,
ul.level-1 li.li-item-6 a.linkTop,
ul.level-1 li.li-item-7 a.linkTop,
ul.level-1 li.li-item-8 a.linkTop,
ul.level-1 li.li-item-9 a.linkTop{color:#6400aa;font-family:Helvetica;font-size:12px;text-decoration:none;padding-left:9px;font-weight:bold;}


ul.level-1 li.li-item-F a.linkTop{color:#6400aa;font-family:Helvetica;font-size:12px;text-decoration:none;padding-left:20px;font-weight:bold;}
ul.level-1 li.li-item-F2 a.linkTop{color:#6400aa;font-family:Helvetica;font-size:12px;text-decoration:none;padding-left:20px;font-weight:bold;}

ul.level-1 li.li-item-F{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 12px;}
ul.level-1 li.li-item-F:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 12px;}

ul.level-1 li.li-item-F2{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 12px;}
ul.level-1 li.li-item-F2:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 12px;}


ul.level-2, ul.level-3{display:none;}

ul.level-2{background:#FFFFFF url( gradient.gif) repeat-x scroll left top;padding:4px 8px 2px 8px;}
ul.level-2 li:hover{background-color:#FFFFFF;}
ul.level-2 li{border-bottom:medium none;border-top:1px dashed #DEDEDE;padding:7px 0 7px 14px;font-size:12px;}
ul.level-2 li{background:#FFFFFF url(arrow-blue-right.gif) no-repeat scroll 1px 11px;}
ul.level-2 li.li-top-level2{border-top:medium none;}




ul.level-2 a.linkLv2{text-decoration:none;color:#797979;font-size:12px;font-weight:normal;}
ul.level-2 a.linkLv2:hover{color:#6400aa;}

/*ul.level-2 li.noSubMenu{background:#FFFFFF none no-repeat scroll 1px 11px;}*/

ul.level-3{padding:0 9px 12px 10px;}
ul.level-3 li{font-size:0.9em;font-weight:normal;background:#FFFFFF none no-repeat scroll 0 0;border:medium none;padding:1px 18px 2px 11px;}
ul.level-3 li a{text-decoration:none;color:#797979;}
ul.level-3 li a:hover{text-decoration:underline;color:#6400aa;}
ul.level-3 li.activeLink-1 a{text-decoration:underline;color:#6400aa;font-weight:bold;}

.active-menu-header {
font-weight:bold !important;
}
.current-page-menu-header {
cursor:default;
}


.active-1 ul.level-1 li.li-item-1,
.active-2 ul.level-1 li.li-item-2,
.active-3 ul.level-1 li.li-item-3,
.active-4 ul.level-1 li.li-item-4,
.active-7 ul.level-1 li.li-item-7,
.active-8 ul.level-1 li.li-item-8,
.active-9 ul.level-1 li.li-item-9{background-color:#6400aa}

.active-1 ul.level-1 li.li-item-1 a.linkTop,
.active-2 ul.level-1 li.li-item-2 a.linkTop,
.active-3 ul.level-1 li.li-item-3 a.linkTop,
.active-4 ul.level-1 li.li-item-4 a.linkTop,
.active-7 ul.level-1 li.li-item-7 a.linkTop,
.active-8 ul.level-1 li.li-item-8 a.linkTop,
.active-9 ul.level-1 li.li-item-9 a.linkTop{color:#FFFFFF;text-decoration:none;}



.active-1 ul.level-1 li.li-item-F{background:#6400aa url( arrow-white-bottom.gif) no-repeat scroll 7px 14px;color:#FFFFFF;}
.active-1 ul.level-1 li.li-item-F a.linkTop{color:#FFFFFF;text-decoration:none;}
.active-1 ul.level-1 ul.level-2{display:block;}

.active-7 ul.level-1 li.li-item-F2{background:#6400aa url( arrow-white-bottom.gif) no-repeat scroll 7px 14px;color:#FFFFFF;}
.active-7 ul.level-1 li.li-item-F2 a.linkTop{color:#FFFFFF;text-decoration:none;}
.active-7 ul.level-1 ul.level-2{display:block;}

.active-10 ul.level-1 li.li-item-F3{background:#6400aa url( arrow-white-bottom.gif) no-repeat scroll 7px 14px;color:#FFFFFF;}
.active-10 ul.level-1 li.li-item-F3 a.linkTop{color:#FFFFFF;text-decoration:none;}
.active-10 ul.level-1 ul.level-2{display:block;}


.active-7 ul.level-1 li.li-item-F2{background:#6400aa url( arrow-white-bottom.gif) no-repeat scroll 7px 14px;color:#FFFFFF;}
.active-7 ul.level-1 li.li-item-F2 a.linkTop{color:#FFFFFF;text-decoration:none;}
.active-7 ul.level-1 ul.level-2{display:block;}

.sub-active-1-down .layer-1,
.sub-active-2-down .layer-2,
.sub-active-3-down .layer-3,
.sub-active-4-down .layer-4,
.sub-active-5-down .layer-5,
.sub-active-6-down .layer-6,
.sub-active-7-down .layer-7,
.sub-active-8-down .layer-8,
.sub-active-9-down .layer-9,
.sub-active-10-down .layer-10{display:block;}

.sub-active-1-down li.li2-item-1,
.sub-active-2-down li.li2-item-2,
.sub-active-3-down li.li2-item-3,
.sub-active-4-down li.li2-item-4,
.sub-active-5-down li.li2-item-5,
.sub-active-6-down li.li2-item-6,
.sub-active-7-down li.li2-item-7,
.sub-active-8-down li.li2-item-8,
.sub-active-9-down li.li2-item-9{font-weight:bold;background:#FFFFFF url( arrow-gray-bottom.gif) no-repeat scroll 1px 12px;}

.sub-active-1-down li.li2-item-1 a.linkLv2,
.sub-active-2-down li.li2-item-2 a.linkLv2,
.sub-active-3-down li.li2-item-3 a.linkLv2,
.sub-active-4-down li.li2-item-4 a.linkLv2,
.sub-active-5-down li.li2-item-5 a.linkLv2,
.sub-active-6-down li.li2-item-6 a.linkLv2,
.sub-active-7-down li.li2-item-7 a.linkLv2,
.sub-active-8-down li.li2-item-8 a.linkLv2,
.sub-active-9-down li.li2-item-9 a.linkLv2{font-weight:bold;}


.sub-active-1-nodown li.li2-item-1 a.linkLv2,
.sub-active-2-nodown li.li2-item-2 a.linkLv2,
.sub-active-3-nodown li.li2-item-3 a.linkLv2,
.sub-active-4-nodown li.li2-item-4 a.linkLv2,
.sub-active-5-nodown li.li2-item-5 a.linkLv2,
.sub-active-6-nodown li.li2-item-6 a.linkLv2,
.sub-active-7-nodown li.li2-item-7 a.linkLv2,
.sub-active-8-nodown li.li2-item-8 a.linkLv2,
.sub-active-9-nodown li.li2-item-9 a.linkLv2{font-weight:bold;}



ul.level-1 li.li-item-F3{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}
ul.level-1 li.li-item-F3:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}
ul.level-1 li.li-item-F3 a.linkTop{color:#6400aa;font-family:Helvetica;font-size:12px;text-decoration:none;padding-left:20px;font-weight:bold;}
ul.level-1 li.li-item-F3 a{cursor:pointer !important;}




ul.level-1 li.li-item-F4{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}
ul.level-1 li.li-item-F4:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 11px;}
ul.level-1 li.li-item-F4 a.linkTop{color:#6400aa;font-family:Helvetica;font-size:13px;text-decoration:none;padding-left:20px;}
ul.level-1 li.li-item-F4 a{cursor:pointer !important;}





ul.level-1 li.li-item-F a, ul.level-1 li.li-item-F2 a{cursor:pointer !important;}

.ie div.left-menu{border-top:none;border-bottom:none;margin-top:12px;width:168px;background-color:#F2F2F2;}

.ie ul.level-1 li.li-top{position:relative;padding-top:0px;}
.ie div.bgIEtop{position:absolute;width:174px;height:12px;left:0px;top:-12px;}
.ie div.bgIEbottom{position:absolute;width:174px;height:12px;left:0;bottom:-5px;}
.ie div.bgIEtop{background:transparent url( menu_top.gif) no-repeat scroll 0 0;}
.ie div.bgIEbottom{background:transparent url( menu_bot.png) no-repeat scroll 0 0;}
.ie .ie-browser .hover div.bgIEtop{background-position:-174px 0;}
.ie .ie-browser .hover div.bgIEbottom{background-position:-174px 0;}
.ie .ie-browser .opened div.bgIEbottom{background-position:-348px 0;}
.ie .ie-browser .hover.opened div.bgIEbottom{background-position:-348px 0;}
.ie .ie-browser .hover{background-color:#CCCCCC;color:#6400aa;}
.ie ul.level-1 li.li-item-F4{background:#F2F2F2 url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
.ie ul.level-1 li.li-item-F4:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
.ie ul.level-1 li.li-item-F4{background:#F2F2F2 url( arrow-blue-right.gif) no-repeat scroll 8px 10px;}
.ie ul.level-1 li.li-item-F4:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 10px;}

.ie7 div.bgIEtop{top:0;}

/*
.ie7 ul.level-1 li.li-item-F{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
.ie7 ul.level-1 li.li-item-F2{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
.ie7 ul.level-1 li.li-item-F3{background:#f1f2f3 url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
.ie7 ul.level-1 li.li-item-F:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
.ie7 ul.level-1 li.li-item-F2:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
.ie7 ul.level-1 li.li-item-F3:hover{background:#CCCCCC url( arrow-blue-right.gif) no-repeat scroll 8px 14px;}
*/

.ie7 li.li-item-F{padding-bottom:0px;}
.ie7 li.li-item-F a.linkTop{padding-bottom:5px;display:block;}
.ie7 li.li-item-F2{padding-bottom:0px;}
.ie7 li.li-item-F2 a.linkTop{padding-bottom:5px;display:block;}
.ie7 li.li-item-F3{padding-bottom:0px;}
.ie7 li.li-item-F3 a.linkTop{padding-bottom:5px;display:block;}

.ie7 .ie-browser .hover div.bgIEbottom{background-position:-174px 0;}

.ie7 li.li-item-F{background-position:8px 14px !important;}
.ie7 li.li-item-F2{background-position:8px 14px !important;}
.ie7 li.li-item-F3{background-position:8px 14px !important;}



/* questionform */

.top-p{width:135px;margin:0 auto 14px;}
.top-p p{color:#ffffff;font-size:13px;line-height:1.2;font-family:Arial;padding:0;margin:0;text-align:left;}
.top-p p.formheader-p{font-size:17px;font-weight:bold;padding-top:12px;text-shadow:0 0 1px #A0CBDB;}
.top-p p.form-p{padding-top:2px;padding-bottom:2px;text-shadow:0 0 1px #A0CBDB;}
.top-p p.form-p.prdtop{padding-top:8px;}
.top-p .formbottom-p p {text-shadow:0 0 1px #A0CBDB;}
.top-p .formbottom-p p span{font-weight:bold;}
.top-p .input-line{width:135px;height:23px;padding-top:4px;background:transparent url( bg-input.png) no-repeat scroll left top;}
.top-p .input-line input{color:#585858;border:medium none;display:block;margin:0 auto;width:119px;}
.form-p.p2{padding-top:10px !important;}
.form-p.p2 span{font-weight:bold;}

.submit-btn{text-align:center;margin:6px auto 3px;}
.qform-1 .submit-btn{height:33px;}
.submit-btn img{cursor:pointer;margin:0 auto;}

/*.selectarea  .select-list{display:none;}*/
.selectoptions-hide .select-list{display:none;}
.selectoptions-display .select-list{display:block;}
.selectarea{width:135px;position:relative;z-index:9999;}
.selectarea p{color:#585858 !important;width:98px;padding:7px 0 0 10px !important;overflow:hidden;white-space:nowrap;font-size:12px;}
.selectarea .select-top{height:27px;background:transparent url( bg-select.png) no-repeat scroll left top;z-index:1;}
.selectarea.list-on .select-top{background:transparent url( bg-input.png) no-repeat scroll left top;z-index:1;}
.selectarea .select-list{position:absolute;z-index:9999999;width:135px;top:22px;height:auto;z-index:9999;}
.selectarea .select-list .select-list-body{height:auto;background:transparent url( bg-areaselect.png) repeat-y scroll left top;}
div.select-item{width:133px;margin:0 auto;height:22px;}
div.select-item p{padding:4px 0 4px 9px !important;}
div.select-item:hover{background-color:#f1f2f3;}
.selectarea  .select-list .select-list-bottom{height:6px;background:transparent url( bg-areasel-bottom.png) no-repeat scroll left bottom;}

.item-1 .item1{background-color:#f1f2f3;}
.item-2 .item2{background-color:#f1f2f3;}
.item-3 .item3{background-color:#f1f2f3;}
.item-4 .item4{background-color:#f1f2f3;}
.item-5 .item5{background-color:#f1f2f3;}
.item-6 .item6{background-color:#f1f2f3;}
.item-7 .item7{background-color:#f1f2f3;}
.item-8 .item8{background-color:#f1f2f3;}



.selectarea .select-top p{cursor:default;}
.selectarea .select-item p{cursor:default;}
.input-line input.default{font-style:italic;color:#999999 !important;}
.select-top p.default{font-style:italic;color:#999999 !important;}

div.select-item p{width:120px;}
.select1, .select2{cursor:default;}
.qform-1 .selectoptions-display .submit-btn.tab0 img{display:none;}
.qform-1 .selectoptions-hide .submit-btn.tab0 img{display:block;}
.qform-1 .selectoptions-display input{display:none !important;}
.qform-1 .selectoptions-hide input{display:block;}
.qform-2 .selectoptions-display input{display:none !important;}
.qform-2 .selectoptions-hide input{display:block;}

.selectoptions-display .selectarea.list-off .select-top{background:transparent url( bg-input.png) no-repeat scroll left top;z-index:1;}
.form-p.p2 span{white-space:nowrap;}

.formbottom-p p span img{display:inline !important;}

.left-menu p.heading{font-weight:bold;padding:7px 0 0 18px;font-size:17px;color:#666666;}
.left-menu p.filter{font-size:12px;color:#666666;padding:12px 18px 6px;}





