#home li.home a, /*--Home Page > Home Link--*/
#knowledge li.knowledge a, /*--knowledge Page > knowledge Link--*/
#mycases li.mycases a, /*--mycases Page > mycases Link--*/
#forum li.forum a, /*--forum Page > forum Link--*/
#contact li.contact a, /*--Contact Page > Contact Link--*/
#myaccount li.myaccount a ,/*--myaccount Page > myaccount Link--*/
#video li.video a,
#userguide li.userguide a
{
	/*background-position: left bottom;*/
	color:#fffdfc ;
}

ul#topnav {
	margin: 0; padding: 0;
	list-style: none;
	float: left;
	
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	height:30px;
	color:#FFF;
	width:160px;
}

/*--CSS Sprites - Default State--*/
ul#topnav a {
	/*float: left;*/
	display: block;
	height: 45px; /*--Specify height of navigation--*/
	/*text-indent: -99999px; /*--Shoot the text off the page--*/
	background-position: left top;
	color:white;
	padding-left:50px;
	padding-top:6px;
	font-size:16px;
	font-family:Arial
}
/*--CSS Sprites - Hover State--*/
ul#topnav a:hover {
	background-position: left -45px;
}
/*--Assign an image and width to each link--*/

ul#topnav{
   background-image: url(../images/blank.png);
   width: 980px;
}
div#topnav{
   background-image: url(../images/blank.png);

}
ul#topnav li.home a {
	background-image: url(images/support-home.jpg);
	width: 164px;
}
ul#topnav li.knowledge a {
	background-image: url(images/knowledge.jpg);
	width: 162px;
}
ul#topnav li.mycases a {
	background-image: url(images/mycases.jpg);
	width: 162px;
}
ul#topnav li.forum a {
	background-image: url(images/forum.jpg);
	width: 173px;
}
ul#topnav li.contact a {
	background-image: url(images/contactus.jpg);
	width: 162px;
}
ul#topnav li.myaccount a {
	background-image: url(images/myaccount.jpg);
	width: 164px;
}