/*Main Template page*/
.search .gsc-input { background: none !important; border: 0 none; color: #FFF; font-size: 12px; padding-right: 3px; padding-top: 0; left: 60px; top:5px; width: 166px; //background-image:none !important;
}
.bottom_menu .botmenu { width:630px; }
#search { display:none; }
.gsc-search-button { display:none; }
.search input { float: left; display: inline; margin: 0px; padding: 0px; position: absolute; }
.cse .gsc-control-cse, .gsc-control-cse { padding:0px !important; background: none !important; border: 0px !important; width: 215px !important; }
.main-content { min-height:400px; }
.header { background: #E3F3FF !important; height:25px; text-align:center; border: none !important; border-bottom:1px solid #DBDBDB !important;/*border-bottom:1px solid #DBDBDB !important;
	border-right:1px solid #DBDBDB !important;*/ }
.rowData { height:25px; text-align:center; border: none !important;/*border-bottom:1px solid #DBDBDB !important;
	border-right:1px solid #DBDBDB !important;*/ }
#overlay { background: no-repeat scroll top center gray; border: 0px solid #000000; bottom: 0; left: 0; opacity: 0.75; position: absolute; top: 0; visibility: hidden; width: 100%; z-index: 1000; height:1000px; }
#search { display:block !important; }
.popupTd:hover, .popupTd1:hover, .popupTd2:hover, .popupTd3:hover { box-shadow:0 0 4px 2px gray; border-radius: 5px; }
.activeSpan { border: 1px solid gray; box-shadow:0px 0px 0px 0px inset; border-radius: 5px; background-color : lightgray; }
.learning-center ul.lc-nav a.last { padding-left: 8px !important; }
.selectedSubMenu { /*background-color: #686869;
  background-image: none;
  color: #fff !important;*/ }
.selectedMenu { background-color:#9c672b; }
.video-section a { height: 164px; }
.video-section img { height: 161px; width:212px; box-shadow:1px 1px 10px 0px lightgray; border-radius: 10px; }
.video-section li { /*padding-left:80px !important;*/ padding-top:5px !important; }
.video-section span { text-align:center; }
.article-video img { width: 280px; height: 212px; border-radius: 10px; }
.video-panel .share-video { height: 242px; }
#at_pspromo { /*display:none !important;*/ }
.share a { color: #f8981d; font-weight: 700; font-size: 12px; text-transform: uppercase; }
.share { display: block; background-color: #ececec; height: 30px; text-align: right; border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; behavior: url("{!URLFOR($Resource.RCSupportPortal, 'supportPortal/PIE.htc')}"); line-height: 30px; color: #f8981d; font-weight: 700; font-size: 12px; padding-right: 15px; text-transform: uppercase; }
.lc-page .left-container article .video-desc ul li { list-style-position: outside !important; color: #333333 !important; }
.breadcrumblink { color: #666666; font-weight: 300; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; line-height: normal; }
.left-container h3 { margin-bottom: 10px; }
#case.list-head div.selector span{background-position:-485px -1px;}
 #case div.selector.focus:active, #case div.selector.focus.active, #case div.selector:hover:active, #case div.selector.active:hover, #case.selector.focus,#case.selector.hover, #case.selector:hover, #case .selector.focus.active.hover, #case div.selector.focus, #case div.selector.hover, #case div.selector:hover, #case div.selector.focus:active, #case div.selector.focus.active, #case div.selector:hover:active, #case div.selector.active:hover, #case.selector.focus,#case.selector.hover, #case.selector:hover {background-position:0 -36px !important;}