.blockContentTop{background:transparent url(block1bg_topn.gif) no-repeat scroll 0 bottom;height:13px;width:740px;}
.ie8 .blockContentTop{margin-left:0px;}
.blockContentbottom{background:transparent url(block1bg_bottomn.gif) no-repeat scroll 0 bottom;height:13px;width:740px;}
.ie8 .blockContentbottom{margin-left:0px;}
.blockContentCenter{border-left:1px solid #E2E2E2;border-right:1px solid #E2E2E2;height:auto;padding:5px 20px;text-align:left;width:696px;background:#FFF;margin-left:1px;}
.ie8 .blockContentCenter{margin-left:1px;}
.blockContentCenter .h2con2{font-family:Verdana;color:#798496;font-size:11px;font-weight:bold;line-height:1;margin:24px 0 12px 0;}
.blockContentCenter ul li {color:#798496}
.blockContentCenter p{margin-top:0;}
.blockContentCenter ul{margin-bottom:0;}
.centerCenter a{margin-left:3px;}

.phones{float:left;width:248px;height:147px;background:url(phones.png) no-repeat;position:relative;top:22px;left:45px;}
*html .phones{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='phones.png',
sizingMethod='scale');}
.blockContentCenter p{margin:0;color:#636e80;}
*html .blockContentCenter p{padding-left:30px;padding-right:30px;}
.blockContentCenter p.tit{font-size:13px;font-weight:bold;padding-bottom:18px;padding-top:18px;}
.blockContentCenter img{padding:15px 0;}
*html .blockContentCenter img{padding-left:30px;}
#div1,#div2,#div3,#div4{display:none;}
#less1,#less2,#less3,#less4{display:none;}
.more{text-align:right;font-size:12px;font-family:Arial;font-weight:bold;}
.more span{color:#0101ef;text-decoration:underline;cursor:pointer;}
.ie .ie8text{padding-left:30px !important;}
.ie7 .ie8text{padding-left:20px !important;}