.THIS.wizard {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: #fff;
}

.THIS .wizard-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  min-height: 0;
}

.THIS button[disabled],
.THIS select[disabled],
.THIS input[disabled] {
  pointer-events: none
}

.THIS.pricingChanges {
  position: static;
}

.THIS.servicePlanDeactivated {
  position: static;
}

.THIS .add-margin {
  margin-bottom: 10px;
}

.THIS .qw-scrollable {
  overflow-y: scroll;
  margin-bottom: 10px;
}

.THIS .hidden {
  display: none;
}

.THIS .quote-summary {
  max-height: 90%;
}

.THIS .tier-list {
  max-height: 85%;
}

.THIS .product-list {
  max-height: 90%;
}

.THIS .notification-area {
  flex: 0 1 auto;
}

.THIS .filter-area {
  flex: 0 1 auto;
  margin-bottom: 10px;
}

.THIS .content-area {
  flex: 1 0 auto;
}

.THIS .fixed-header__col:first-child {
  padding-left: 0.75rem;
}

/**
 * Busy buttons with spinner
 */
.THIS .button-spinner {
  width: 0.9rem;
  display: none;
  left: 0.65rem;
  z-index: 1;
  background: none;
}

.THIS .button-spinner .slds-spinner {
  width: 0.9rem;
}

.THIS button.slds-button.button--busy {
  padding-left: 2rem;
}

.THIS .button--busy .button-spinner {
  display: inline-block;
}

.THIS .info-row {
  position: static;
  min-height: 56px;
}

/**
 * Disable something
 */

.THIS .relayware--disable {
  display: none !important;
}