:host {
    padding: 20px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    width: 245px;
}
.sc-case-summary__body,
.info-fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.info-fields {
    margin-top: -0.25rem;
}
.info-fields .info-fields__item {
    font-size: 14px;
    color: #282828;
    margin-bottom: 5px;
}
.info-fields .info-fields__item label {
    display: block;
    overflow-wrap: break-word;
    color: #696969;
    font-size: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    margin-top: 1px;
}
.info-fields .info-fields__item span {
    font-family: "proximamedium", sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    display: block;
}
.info-fields .info-fields__item .sc-case-summary__status {
    font-family: "proximamedium", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 12px;
    padding: 5px 16px;
    margin-top: 0;
    color: #000;
    border-radius: 4px;
    background-color: #ccc;
    display: inline;
}
.info-fields .info-fields__item .sc-case-summary__status.sc-case-summary__status_blue {
    color: #fff;
    background-color: #4a6785;
}
.info-fields .info-fields__item .sc-case-summary__status.sc-case-summary__status_green {
    color: #fff;
    background-color: #14892c;
}
.info-fields .info-fields__item .sc-case-summary__status.sc-case-summary__status_orange {
    background-color: #f6c342;
}
.info-fields .info-fields__item .sc-case-summary__status.sc-case-summary__status_red {
    color: #fff;
    background-color: #d04437;
}