.animate-init__block_type-1 {
    transition: all .3s ease;
    transform: translateY(-1rem);
    opacity: 0;
}

.animate-init__block_type-2 {
    transition: transform .4s ease;
    transform: translateY(-1.3rem);
    opacity: 0;
}

.animate-init__block_type-3 {
    transition: transform .2s ease;
    transform: translateY(-1.1rem);
    opacity: 0;
}

.animate-init .animate-init__block {
    transform: translateY(0);
    opacity: 1;
}

.content {
    background: rgb(244, 246, 249);
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}