.THIS {
}

.THIS .slds-form-element__label {
    margin-right: .60rem;
}

.THIS .edit-icon {
    top: 0.9rem;
    position: absolute;
    right: 0.6rem;
    margin-top: -5px;
}

.THIS .cancel-icon {
    top: 0.9rem;
    position: absolute;
    right: 0.6rem;
    margin-top: -5px;
}

.THIS .link-input {
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 1.5rem);
    display: inline-block;
    text-overflow: ellipsis;
}

.THIS.hidden,
.THIS .hidden {
    display: none !important;
}