.THIS .slds-tabs_default__item.slds-is-active a {
    font-weight:bold !important;
    /*color:black !important;*/
}
/*.THIS .customBTNColor,.THIS .customBTNColor:active,
.THIS .customBTNColor:hover
{
    border-color: #63B9FF;
    color: white;
    background : #ffa500;
    background:#63B9FF;
}*/
.THIS .status{
    background: #deedfb ;
    color: #0865c4;
    border-radius: 1px;
}