.notifications--open .notification:first-child {
    max-height: initial;
    overflow: auto;
}

.notifications--open .notification:first-child .notification__text {
    display: block;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    text-overflow: initial;
}

.notifications--open .notification {
    display: flex;
    border-bottom: 1px solid #d8dde6;
}

.notifications--open .notification:last-child {
    border-bottom: none;
}

.notifications--open .notifications {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
    border-color: #d8dde6;
    max-height: 85vh;
    background: #FFF;
}

.notification__action-container {
    padding-left: 1rem;
    align-self: flex-start;
    padding-top: 4px;
}

.notification__figure {
    align-self: flex-start;
}

.notification__icon-container svg.slds-icon {
    width: 1rem;
    height: 1rem;
    fill: #FFF;
}

.notification__icon-container {
    padding: 5px;
    font-size: 0;
}

.notifications--multiple .notifications {
    border-radius: 3px 0 0 3px;
}

.notifications-container {
    position: relative;
    border-radius: 3px;
    height: 100%;
    z-index: 140;
}

.notification__text {
    font-size: .8125rem;
}

.notification__help-text {
    font-size: .8125rem;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #d8dde6;
    display: none;
}

.notification__help-text.notification__help-text--open {
    display: block;
}

.notifications--open .notification-button-down,
.notification-button-up {
    display: none;
}

.notification-button-down,
.notifications--open .notification-button-up {
    display: inline-block;
}

.notifications-container {
    transition: background-color 1s ease, opacity .4s ease;
}

.notifications--add {
    background: #ffb75d;
    animation: jiggle-bar 0.4s forwards;
    transition: background-color .4s ease;
}

.notifications--remove {
    animation: jiggle-bar 0.4s forwards;
}

.notifications--fade-out {
    opacity: 0;
}

/* notifications-wrapper */
.notifications-wrapper {
    margin-top: -6px;
    height: 48px;
    max-width: 100%;
    flex-grow: 1;
    position: static;
}
.notifications-wrapper > div {
    height: 100%;
    border: 1px solid transparent;
}
.notifications-wrapper:hover .notifications {
    border-color: #d8dde6;
    background-color: #fff;
}
.notifications--open .notifications-button,
.notifications-wrapper:hover .notifications-button {
    border-color: #d8dde6;
    background-color: rgb(234, 236, 239);
}




/* notifications */
.notifications {
    /*position: absolute;*/
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    z-index: 120;
    min-height: 100%;
}




/* notification */
.notification {
    padding: 10px;
    display: none;
}
.notification:first-child {
    display: flex;
    max-height: 2.75rem;
    overflow: hidden;
}
.notification:first-child .notification__text {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.notifications--open .notification:hover {
    background-color: #f8fafb;
}




/* notifications-info */
.notifications-info {
    position: relative;
    z-index: 1000;
}




/* notifications-button */
.notifications-button {
    border: 1px solid transparent;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 57px;
    right: 0;
    box-shadow: none !important;
    transition: all 0s !important;
}
.notifications-button:focus {
    background: transparent;
}
.notifications-button-container {
    height: 100%;
    right: 0;
    z-index: 130;
    /* display: none; */
}
.notifications-button:focus:hover {
    background: rgb(244, 246, 249);
}
.notifications-button .slds-badge {
    line-height: 1;
}


@keyframes jiggle-bar {
    0% {
        transform: translate(0, 0%);
    }
    20% {
        transform: translate(0, -5%);
    }
    40% {
        transform: translate(0, 10%);
    }
    60% {
        transform: translate(0, -5%);
    }
    80% {
        transform: translate(0, 2%);
    }
    100% {
        transform: translate(0, 0%);
    }
}