.THIS {
}
.THIS .slds-table thead th {
    padding: 15px;
    font-weight: bolder;
    color:#000000;
    line-height: 20px;
}
.THIS .slds-table tbody th {
    padding: 15px;
}
.THIS .attachmentTypes {
	color:token(colorTextLink)!important;
    margin-bottom:8px;
    display:inline-block;
}
.THIS th 
{
    padding-bottom:5px;
}