.THIS .validation-error {
    border-color: var(--lwc-colorBorderError,rgb(234, 0, 30));
    box-shadow: var(--lwc-colorBorderError,rgb(234, 0, 30)) 0 0 0 var(--lwc-borderWidthThin,1px) inset;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
    border-radius: 0.3rem;
}