article.slds-card {
    height: 100%;
}
.input-wrapper {
    position: relative;
}
.input-wrapper.error:after {
    content: attr(data-message);
    color: rgb(194, 57, 52);
    font-size: 0.75rem;
    margin-top: 0.125rem;
    display: block;
    position: absolute;
}
.slds-item.highlight {
    border-color: #00c853;
    box-shadow: 0 0 3px #00e676;
    background-color: rgba(0, 230, 118, 0.2);
}
.slds-item:hover {
    border-color: #00c853;
    box-shadow: 0 0 3px #00e676;
    background-color: transparent;
}
.slds-item a {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: -5px;
    max-width: 100%;
}
.slds-item.custom {
    color: #90a4ae;
    font-style: italic;
    background-color: #eceff1;
}
.slds-item.custom:hover {
    background-color: #eceff1;
}
.loading {
    width: 100%;
}
.slds-p-vertical_small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.slds-has-dividers_around-space {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100px;
    position: relative;
}
.slds-has-dividers_around-space:empty:before {
    content: attr(data-empty);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.25em;
    color: #dddbda;
    transform: translate(-50%, -50%);
}