.slds-col {
    display: flex;
    align-items: center;
}

.custom_backdrop {
    z-index: 9001;
    background-color: #74747450;
    max-height: 100%;
    position: absolute;
}

.main {
    width: 45%;
    min-width: 90vh;
}

.main-invalid {
    width: 30%;
    min-width: 70vh;
}

.entered-address {
    font-size: 14px;
}

.suggested-address {
    width: 60%;
}