<style type="text/css">
.commentContainer{
	width:372px; 
	height:500px; 
	border:solid 1px #f0f0f0;
}
.post1{
	 width:362px;
	 padding:5px;
	 float:left;
	 background:#f5f5f5;
	 border-bottom:solid 1px #DADADA;
}
.profilePic{
	width:36px; 
	height:36px; 
	float:left; 
	margin-top:5px; 
	margin-left:5px;
}
.postHeadingContainer{
	width:300px;
	float:left; 
	margin-left:15px; 
	margin-top:5px;
}
.postHeading{
	font:bold 12px/16px Arial, Helvetica, sans-serif;
	color:#09F;
	text-align:left;
	text-decoration:none;
}
.postText{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#333;
	text-align:left;
	text-decoration:none;
}
.postlikeBox{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#09C;
	text-align:left;
	text-decoration:none;
	margin-top:5px;
}
.postliketext{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#09C;
	text-align:left;
	text-decoration:none;
	width:180px;
	padding-right:6px;
}
.postliketext a{
    color:#09C;
	text-decoration:none;
}
.postliketext a:hover{
    color:#09C;
	text-decoration:none;
}
.socialNetworkLikeBox{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#09C;
	text-align:left;
	text-decoration:none;
	margin-top:5px;
}
.socialNetworkLike{
	font:bold 12px/10px Arial, Helvetica, sans-serif;
	color:#09C;
	text-align:left;
	text-decoration:none;
	width:180px;
	padding-right:6px;
}
.socialNetworkLikeBlack{
	font:normal 12px/10px Arial, Helvetica, sans-serif;
	color:#000;
	text-align:left;
	text-decoration:none;
	width:180px;
	padding-right:6px;
}
.socialNetworkLike a{
    color:#09C;
	text-decoration:none;
}
.socialNetworkLike a:hover{
    color:#09C;
	text-decoration:none;
}
.collapseHiddenButton{
	float:left; 
	width:372px; 
	border-top:solid 1px #d8d8d8;
	border-bottom:solid 1px #c1c1c1; 
	background:#fafafa; 
	height:25px; 
	font:normal 12px/22px Arial, Helvetica, sans-serif; 
	color:#000; 
	text-align:center; 
	cursor:pointer;
}
.collapseHiddenButton2{
	float:left; 
	width:372px; 
	border-top:solid 1px #d8d8d8;
	border-bottom:solid 1px #c1c1c1; 
	background:#fafafa; 
	height:25px; 
	font:normal 12px/22px Arial, Helvetica, sans-serif; 
	color:#000; 
	text-align:center; 
	cursor:pointer;
}
.arrowUp {
    background: url("arrow_up.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    margin-left: 45px;
    margin-top: -10px;
    position: absolute;
    width: 20px;

}

.shownComments {
	width:370px; 
	float:left;
}
 ul{
	list-style:none;
}	
li{
list-style:none;

}
	
.shownComments ul{
	list-style:none;
	margin-left:0px;
}
.shownComments  li{
	list-style:none;
	float:left;
	width:300px;
	margin-left:14px;
	border-bottom:solid 1px #dadada;
}
.CommentsHeaddingBox{
	width:300px;
	float:left; 
	margin-top:5px;
}
.CommentsHeadding{
	font:bold 12px/16px Arial, Helvetica, sans-serif;
	color:#09F;
	text-align:left;
	text-decoration:none;
	width:250px;
	float:left; 
	padding-left:14px;
	padding-top:5px;
}
.CommentsprofilePic{
	width:36px; 
	height:36px; 
	float:left; 
	margin-top:6px; 
}
.CommentspostText{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#333;
	text-align:left;
	text-decoration:none;
	float:left;
	width:250px; 
	padding-left:14px;
}
.CommentspostDate{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#b1b6ba;
	text-align:left;
	text-decoration:none;
	float:left;
	width:250px; 
	padding-left:14px;
	padding-top:10px;
}
.CommentspostDelete{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#0099CC;
	text-align:left;
	text-decoration:none;
	float:left;
	padding-left:50px;
	padding-top:5px;
}
.writeCommentBoxDisabled{
	width:286px; 
	float:left; 
	margin-bottom:10px; 
	border:solid 1px #ddd; 
	border-radius:3px; 
	box-shadow:0 -4px 8px 3px #F0F0F0 inset;
}
.wirteCommentsBoxInputText{
	height:26px; 
	border:solid 1px #CCC; 
	border-radius:3px; 
	margin:6px; 
	padding:4px; 
	width:265px; 
	font:normal 12px/18px arial; 
	color:#999;
	position:text;
}
ul{
    list-style:none;
}   
li{
list-style:none;

}
.writeCommentBoxEnabled{
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -4px 8px 3px #F0F0F0 inset;
    float: left;
	 margin-top: 10px;
	 display:none;
}
.wirteCommentsBoxInputTextEnabled{
	height:26px; 
	border:solid 1px #CCC; 
	border-radius:3px; 
	margin:6px; 
	padding:4px; 
	width:220px; 
	font:normal 12px/18px arial; 
	color:#333;
}
.writeCommnetsCancelButton{
	width:auto; 
	height:22px; 
	float:right; 
	background:#f3f3f3; 
	margin-bottom:6px; 
	margin-right:10px; 
	border:solid 1px  #acacac; 
	border-radius:2px;
	box-shadow:0px 3px 1px -2px #999999;
	font:bold 12px/18px arial; 
	color:#5e6466;
	cursor:pointer;
}
.writeCommnetsShareButton{
	width:auto; 
	height:22px; 
	float:right; 
	background:#8bceea; 
	margin-bottom:6px; 
	margin-right:10px; 
	border:solid 1px  #a3ccec; 
	border-radius:2px;
	box-shadow:0px 3px 1px -2px #999999;
	font:bold 12px/18px arial; 
	color:#fff;
	cursor:pointer;
}
#simplemodal-container{
   background-color:#FFF;   
   border:0px;
   border-radius:6px;
}
.wirteCommentsBoxInputText{
  cursor:text;
}
 ul{
    list-style:none;
}   
li{
list-style:none;

}
.collapseHiddenButton2{
    float:left; 
    width:372px; 
    border-top:solid 1px #d8d8d8;
    border-bottom:solid 1px #c1c1c1; 
    background:#fafafa; 
    height:25px; 
    font:normal 12px/22px Arial, Helvetica, sans-serif; 
    color:#000; 
    text-align:center; 
    cursor:pointer;
}
.commentContainer{
    float:left;
    width:372px; 
    height:auto; 
    border:solid 1px #f0f0f0;
}
.OuterWrapper{
    width:auto;
    margin:0 auto;
    float:left;
}
.LeftProfileCol{
    float:left;
    width:205px; 
    height:auto;
    margin-right:5px;
}
.profilePicBig{
    width:199px; 
    float:left;
   /* height:267px;*/ 
    border:solid 1px #CCC;
}
.EditDeleteBox{
    width:195px; 
    position:absolute; 
    float:left; 
    height:20px; 
    background:#f0f0f0; 
    margin-top: -22px; 
    margin-left:2px;
    text-align:center;
}
.leftColBox1{
    width:63px;
    float:left;
    border-right:solid 1px #ccc;
    margin-top:10px;
    padding-left:3px;
}
.leftColBox2{
    width:63px;
    float:left;
    border-right:solid 1px #ccc;
    margin-top:10px;
    padding-left:3px;
}
.leftColBox3{
    width:63px;
    float:left;
    margin-top:10px;
    padding-left:3px;
}
.leftColNumber {
    font:bold 14px/16px arial;

}
.leftColText {
    color: #7D7D84;
    font:normal 11px/13px arial;
    overflow: hidden;
    text-overflow: ellipsis;
}
.LeftprofileSectionEdit {
    margin-top: 10px;
    margin-bottom: 2px;
    width:198px;
    border-bottom:solid 1px #ccc;
    float:left;
    font:bold 13px/18px Arial, Helvetica, sans-serif;
    color:#333;
    text-align:left;
}
.LeftprofileSection {
    margin-bottom: 10px;
    width:198px;
    float:left;
    font:normal 13px/18px Arial, Helvetica, sans-serif;
    color:#015BA7;
    text-align:left;
}
.LeftprofileTetx{
    width:198px;
    float:left;
    font:normal 13px/18px Arial, Helvetica, sans-serif;
    color:#999;
    text-align:left;
}
.LeftprofileSection a {
    color:#015BA7;
    text-align:left; 
    text-decoration:none;
}
.LeftprofileSection a:hover {
    color:#015BA7;
    text-align:left; 
    text-decoration:underline;
}
.profileEdit{
    width:16px; 
    height:16px; 
    float:right; 
    background:url(images/page_white_edit.png) 0 0 no-repeat;
    cursor:pointer;
}
div.profileEdit{
    text-decoration:none;
    border:solid 1px #fff;
}
Div:hover.profileEdit {
    text-decoration:none;
    background-color: #E3F3FF;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.topShareBox{
    width:372px; 
    float:left;  
    margin-top:10px;
    border-bottom:solid 1px #ccc;
    padding-bottom:15px; 
}
.shareCommentsBox{
    height:26px; 
    border:solid 1px #CCC;
    background:#fff; 
    border-radius:3px; 
    margin:6px; 
    padding:4px; 
    width:345px; 
    font:normal 12px/18px arial; 
    color:#333;
}
.ShareButton{
    width:auto; 
    height:22px; 
    float:right; 
    background:##8BCEEA; 
    margin-bottom:6px; 
    margin-right:10px; 
    border:solid 1px  #acacac; 
    border-radius:2px;
    box-shadow:0px 3px 1px -2px #999999;
    font:bold 12px/18px arial; 
    color:#5e6466;
    cursor:pointer;
}
.topShareBoxContainer{
    float:left; 
    width:auto; 
    box-shadow:0 2px 8px 3px #F0F0F0 inset;
    margin-bottom:10px;
}
.topShareBoxAttach{
    margin-left:8px;
    width:200px;
    float:left;
}
.topShareBoxAttachtext{
    font:bold 12px/16px Arial, Helvetica, sans-serif;
    color:#666;
    text-align:left;
    text-decoration:none;
    width:180px;
    padding-right:6px;
}
</style>