.THIS.phase{
    border: 1px solid transparent;
    border-bottom-color: rgb(217, 219, 221);
    border-radius: .25rem;
}

.THIS.phase.phase_has-drop{
    border: 1px dashed rgb(217, 219, 221);
    background-color: rgb(249, 249, 250);
}

.THIS .phase__logo{
    position: relative;
    top: 3px;
}

.THIS .phase__icon.slds-icon_container{
    background-color: rgb(107, 109, 112);
}

.THIS.phase_is-complete .phase__icon.slds-icon_container{
    background-color: #4bc076;
}

.THIS .phase__collapse-icon,
.THIS .slds-button.phase__collapse-icon:focus{
    width: 2rem;
    height: 2rem;
    outline: none;
    box-shadow: none;
}

.THIS .phase__collapse-icon svg{
    transition: transform .3s ease;
}
.THIS.phase_is-collapsed .phase__collapse-icon svg{
    transform: rotateZ(-90deg);
}

.THIS.phase_is-collapsed .slds-accordion__content{
    display: none;
}

.THIS.phase_is-changed,
.THIS .phase-details__est-date_is-changed .slds-input{
    background: rgba(250, 255, 189, 0.3);
}

.THIS.phase_is-changed .cart-item{
    background: transparent;
}

.THIS.phase:hover .phase__drop-actions{
    opacity: 1;
    pointer-events: auto;
}
.THIS .phase__drop-actions{
    transition: opacity .1s ease;
    opacity: 0;
    pointer-events: none;
}

.THIS.phase_is-deleted .phase__drop-actions,
.THIS.phase_is-deleted .phase_actions,
.THIS.phase_is-deleted .phase-details{
    display: none;
}

.THIS.phase_is-deleted .phase__collapse-icon{
    opacity: 0;
    pointer-events: none;
}

.THIS.phase_is-deleted .phase-details-deleted{
    display: block;
}

.THIS .phase-details-deleted{
    color: #8C9BAF;
    font-style: italic;
    display: none;
}

.THIS .phase_actions{
    white-space: nowrap;
}

.THIS.phase_is-empty-error .phase__message {
    color: rgb(194, 57, 52);
}

.THIS .phase__products{
    margin-left: 2.3rem;
}

/* Phase Spinner */
.THIS .phase__spinner{
    display: none;
}

.THIS.phase_is-busy .phase__spinner{
    display: block;
}

.THIS .phase__header .slds-page-header__detail-block {
    padding: 0 0.5rem;
}

.THIS .completion-date {
    padding-left: 0 !important;
}

/*@media (min-width: 1128px) {
    .THIS .phase__header .slds-page-header__detail-block {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 1400px) {
    .THIS .phase__header .slds-page-header__detail-block {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}*/

.THIS .phase__header .phase__name-block.slds-page-header__detail-block{
    padding-left: 0;
}

.THIS .phase__name-block {
    min-width: 6rem;
}

/* Phase Estimated Completion Date*/
.THIS .phase-details__est-date-edit,
.THIS .phase-details__est-date-empty,
.THIS.phase_est-date-edit .phase-details__est-date-display,
.THIS .phase-details__est-date-empty .phase-details__est-date-value{
    display: none;
}

.THIS .phase-details__est-date-display,
.THIS.phase_est-date-edit .phase-details__est-date-edit,
.THIS.phase_est-date-empty .phase-details__est-date-empty{
    display: inline-block;
}

.THIS .phase-details__est-date {
    min-width: 12rem;
}

/* Phase Completion Date*/
.THIS .phase-details__comp-date-edit,
.THIS .phase-details__comp-date-empty,
.THIS.phase_comp-date-edit .phase-details__comp-date-display,
.THIS .phase-details__comp-date-empty .phase-details__comp-date-value{
    display: none;
}

.THIS .phase-details__comp-date-display,
.THIS.phase_comp-date-edit .phase-details__comp-date-edit,
.THIS.phase_comp-date-empty .phase-details__comp-date-empty{
    display: inline-block;
}

.THIS .is-required label:before,
.THIS .is-required .label:before{
    content: "*\00a0";
    color: #c23934;
    margin: 0 0.125rem;
    display: inline-block;
}

/* PhaseDescription */
.THIS .phase__description-label {
    padding-top: 0.4rem;
}

.THIS .phase__description-block {
    margin-left: 11.5rem;
    margin-top: .5rem;
}

/* Phase Total */
.THIS .phase__total-block {
    min-width: 10rem;
    padding-left: .5rem;
}

/* Completed phases */
.THIS.phase_is-complete{
    background-color: rgb(249, 249, 250);
}

.THIS .phase__complete-button-wrapper,
.THIS.phase_is-complete .phase__locked-icon.slds-icon_container,
.THIS.phase_is-complete .phase__completed-at{
    display: inline-block;
}

.THIS .phase__completed-at,
.THIS .phase__locked-icon.slds-icon_container,
.THIS.phase_is-complete .phase__complete-button-wrapper,
.THIS.phase_is-complete .phase__drop-actions,
.THIS.phase_is-complete .phase__est-date-edit-button{
    display: none;
}

.THIS .completion-date .slds-datepicker .slds-disabled-text .slds-day{
    color: rgb(217, 219, 221);
}

/* Override datepicker popup position not to be displayed off screen */
.THIS .completion-date .slds-datepicker{
    left: 340px !important;
    top: 155px !important;
}

.THIS .phase__icon_approval svg {
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    fill: #FFF;
}

.THIS .phase__status-block{
    min-width: 8rem;
}

.THIS .signoff__input-block{
    min-width: 12.5rem;
}

.THIS .helper-message{
    color: rgb(107, 109, 112);
    font-size: .75rem;
}

.THIS .winter19-fontsize-fix {
    font-size: 13px;
}

.THIS .status-ok {
}

.THIS .status-error {
    color: red;
}

.THIS .locationsInputLabel {
    width: 16rem;
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    color: white;
    background-color: rgb(0, 112, 210);
    border: 1px solid rgb(0, 112, 210);
    border-radius: 4px;
    padding: 10px 25px;

}
.THIS .locationsInputLabel:focus,
.THIS .locationsInputLabel:hover {
    background-color: white;
    border: 1px solid rgb(0, 112, 210);
    border-radius: 4px;
    color: rgb(0, 112, 210);
    cursor: pointer;
}

.THIS .uploadIcon {
    margin: 0 10px 0 0;
}

.THIS .nolabel .slds-form-element__label{
    display: none;
}