/* Custom CSS for the component UI */
.carousel-container {
    width: 100%;
    overflow: clip !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-wrapper {
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    margin-top: 0px;
}

.sub-header-style {
    padding: 0.5rem 1rem;
    margin-top: 0;
    text-transform: uppercase;
}

.body-style{
    font-size: medium;
    padding: 0px 20px;
    overflow-y: scroll;
    max-height: 500px;
    margin-right: 0.3%;
    overflow-wrap: break-word;
}
.body-style::-webkit-scrollbar {
    width: 7px;
}

.body-style::-webkit-scrollbar-thumb {
    background-color: #747474; 
    border-radius: 10px;
}

.labelClass {
    font-size: medium;
    font-weight: bold;
}

.warning-text-color {
    color: #dd7a01;
}

.carousel-nav {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}

.carousel-nav span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbbbbb;
    cursor: pointer;
}

.prev,
.next {
  top: 50%;
  width: auto;
  padding: 14px;
  color: #1f1a3f;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  text-decoration-line: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #dddddddd;
}

.carousel-nav .active-circle {
    background-color: #333333;
}

.carousel-nav .inactive-circle:hover {
    background-color: #777777;
}