.slds-table th {
    max-width: 200px; 
    white-space: normal; 
}

.cell {
    max-width: 200px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-application {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.date-combobox, .origin-combobox {
    width: 220px;
}

.filter-buttons {
    display: flex;
    align-items: center;
    gap: 20px; /* Add gap between the buttons and the Date Filter */
    margin-left: 20px;
}

.year-filters {
    display: flex;
    align-items: center;
}

.year-filter {
    margin-top: 10px;
}

.year-combobox {
    display: flex;
    align-items: center;
    gap: 20px; /* Add gap to create space between "From" and "To" filters */
}

.inner-filter {
    width: 100px; /* Set a limited width for "From" and "To" comboboxes */
}

.white-button {
    background-color: aliceblue;
    color: rgb(15, 15, 15);
}

.disabled {
    background-color:  rgb(181, 181, 181);
    color: white; 
    cursor: not-allowed;
}