:host {
    padding: 10px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
:host > * {
    flex: 2;
}
:host > .slds-hidden {
    position: absolute;
    top: -1000px;
}
.sc-button {
    margin-left: 10px;
    margin-top: 11px;
    transform: translateY(1px);
    padding: 5.5px 21px;
    flex: 1;
}

.sc-case-controls__v-fix {
    margin-top: -10px;
}
.sc-case-controls__search {
    position: relative;
    min-width: 250px;
    flex: 5;
    display: block;
    padding: 0;
}

.sc-case-controls__search-clear {
    position: absolute;
    right: 10px;
    top: 32px;
    display: block;
    width: 14px;
    height: 14px;
}
.sc-case-controls__search-by {
    margin: -10px 10px 0;
}
.sc-case-controls__search-input {
    width: 100%;
}