.THIS .slds-section__title-action .slds-button__icon{
    transform: rotateZ(-90deg);
    transition: transform .3s ease;
}

.THIS.slds-is-open .slds-section__title-action .slds-button__icon{
    transform: rotateZ(0);
}

.THIS .col_equal{
    flex-basis: 0;
}