:host {
    position: sticky;
    bottom: 0;
    z-index: 9999;
}

.slds-docked-form-footer {
    position: static;
}

.slds-popover__body {
    line-height: 1.25rem;
}

.slds-popover_tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #16325C;
    width: max-content;
    opacity: 0;
    transition: opacity 0.3s;
    left: -10rem;
}

.slds-nubbin_bottom {
    bottom: 2.75rem;
    right: 1rem;
}

.slds-button[disabled]:hover .slds-popover_tooltip {
    visibility: visible;
    opacity: 1;
}