.content {
    background: rgb(244, 246, 249);
    position: relative;
}
.shadow,.section {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}
.border-radius, .unexpandable-section {
    border-radius: 0.25rem;
}
.unexpandable-section {
    cursor: default;
}
.section {
    position: relative;
    padding: 1rem;
    margin: .5rem;
    background: white;
    border: 1px solid #dddbda;
    background-clip: padding-box;
}
.section-title, .section-button {
    width: 100%;
}
.section-button {
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-button:after {
    content:'';
    width:100%;
    order:1;
}
.order-0 {
    order:0;
}
.order-1 {
    order:1;
}
.order-2 {
    order:2;
}
.upload-button {
    width: 1rem;
    height: 1.6rem;
}
.file-details, .not-expandable-section {
    margin-left: 1.4rem;
}
.file-details {
    margin-bottom: -0.2rem;
    margin-top: -0.4rem;
}
.empty-space {
    height: 0.5rem;
}