.slds-textarea {
  height: 144px;
  min-height: 80px;
  resize: none;
}

.disable-textarea {
  background-color: #F3F3F3;
  color: var(--lwc-colorTextInputDisabled,rgb(68, 68, 68));
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.expandable {
  overflow: hidden;
  height: 0;
}

.expanded0 {
  height: 539px;
}

.expanded1 {
  height: 699px;
}

.expanded2 {
  height: 739px;
}

.expanded3 {
  height: 788px;
}

.expanded4 {
  height: 819px;
}

.expanded5 {
  height: 859px;
}

.expanded6 {
  height: 909px;
}

.expanded0-existing {
  height: 445px;
}

.expanded1-existing {
  height: 625px;
}

.expanded2-existing {
  height: 665px;
}

.expanded3-existing {
  height: 705px;
}

.expanded4-existing {
  height: 745px;
}

.expanded5-existing {
  height: 785px;
}

.expanded6-existing {
  height: 825px;
}

.set-width {
  width: 10%
}

.text-step {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #706E6B;
}

.sync-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #706E6B;
}