.slds-input__icon.remove-icon,
.slds-input-has-icon .remove-icon.slds-input__icon:not(button) {
    pointer-events: auto !important;
}

/*.dropdown {*/
/*    opacity: 0 !important;*/
/*    transform: translateZ(1rem) !important;*/
/*}*/

/*.dropdown-appear {*/
/*    opacity: 1 !important;*/
/*    transform: translateZ(0) !important;*/
/*    transition: all .3s ease !important;*/
/*}*/
.slds-dropdown {
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity .3s ease, transform .3s ease;
    width: inherit;
    margin: 0;
}

.slds-has-error {
    border-color: #ea001e;
    border-width: 0.15rem;
}

.slds-form-element__help {
    color: #ea001e;
}