.dropbox {
  max-width: 16%;
}

.dropbox-voice {
  max-width: 33%;
}

.input {
  max-width: 38%;
}

.expandable {
  overflow: hidden;
  height: 0;
}

.disabled-step {
  color: var(--lwc-colorTextInputDisabled,rgb(68, 68, 68));
}

.text-step {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #706E6B;
}

.THIS .label-hidden > label {
  display: none;
}

.label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2px;
  padding-top: 1.5px;
  color: #444444;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}