.THIS.listbox{
    position: fixed;
    z-index: 9100;
    opacity: 1;
    transition: opacity .3s ease, transform .3s ease;
    transform: translateX(0);
}
.THIS.listbox--hidden{
    top: -9999px !important;
    left: -9999px !important;
    opacity: 0;
    transition: opacity .3s ease, top 0s .3s, left 0s .3s, transform .3s ease;
    transform: translateY(1rem);
}
.THIS .slds-listbox {
    max-height: 19.8rem;
    transition: height .3s ease-out,
                opacity .1s linear,
                visibility .1s linear !important;
}
.THIS .item-spinner {
    overflow: hidden;
    position: relative;
    height: 44px;
}