.title-head {
    cursor: pointer;
    margin-bottom: 16px;
}

.title-block {
    display: inline-block;
}

.title-hide-pointer {
    position: relative;
    top: -2.1px;
    margin-right: 8.92px
}

.step-title {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.opened-quote-select-prompt {
    font-weight: 650;
}

.closed-quote-select-prompt {
    font-weight: 600;
}

.icon-xx-small {
    --lwc-squareIconXxSmallContent: 10.16px;
}

.expandable {
    overflow: hidden;
    transition: all .5s ease-in-out;
    height: 0;
}

.expanded {
    height: 70px;
}

.labelDisabled {
    color: #706E6B;
}