.error-frame {
    border: 1px solid #ea001e;
    box-shadow: #ea001e 0 0 0 1px inset;
}

.disabled-frame {
    border: 1px solid #d3d3d3;
}

.placeholder-color {
    color: #181818
}

.select-combobox__icon {
    margin-right: -3px;
}

.each-item:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}

.slds-dropdown {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    margin-top: 0px !important;
}

.slds-listbox li {
    padding: 0.5rem 0.75rem !important;
    display: flex;
}

.slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slds-truncate:before {
    box-sizing: border-box;
}

.slds-truncate:after {
    box-sizing: border-box;
}

.label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 2px;
    padding-top: 1.5px;
    color: #444444;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.slds-media__figure {
    margin-right: 0.25rem
}

.slds-dropdown_fluid {
    min-width: fit-content;
}

.slds-input_faux:disabled {
    background: #F3F3F3;
}

.slds-input_faux:disabled:hover {
    cursor: not-allowed;
}

.dropdown-position {
    position: relative;
}

.hidden-scrollbar {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}