.notifications--open .notification:first-child {
    max-height: initial;
}

.icon-close {
    width: 40px;
    padding-left: 50%;
}

.notifications--open .notification:first-child .notification__text {
    display: block;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    text-overflow: initial;
}

.notifications--open .notification {
    display: flex;
}

.notifications--open .notification {
    border-bottom: 1px solid #d8dde6;
}

.notifications--open .notifications {
    max-height: 85vh;
}

.notification__figure {
    align-self: center;
}

.notifications-button {
    border: 1px solid transparent;
    border-left: none;
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 3rem;
    right: 0;
    box-shadow: none !important;
    transition: all 0s !important;
}

.notifications-button:focus {
    background: transparent;
}

.notifications--multiple .notifications {
    width: calc(100% - 56px);
}

.notification__help-text.notification__help-text--open {
    display: block;
}

.notifications--open .notification-button-down,
.notification__help-text {
    display: none;
}

.notification-button-down,
.notifications--open .notification-button-up {
    display: inline-block;
}

.notifications--add {
    background: #ffb75d;
    animation: jiggle 0.4s forwards;
    transition: background-color .4s ease;
}

.notifications--remove {
    animation: jiggle 0.4s forwards;
}

.notifications--fade-out {
    opacity: 0;
}

/* notifications-wrapper */
.notifications-wrapper {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: clip;
}

.notification-container {
    max-height: 40vh;
}

/* notifications */
.notifications {
    background-color: #d8dde6;
    border-width: 1px 2px 1px 2px;
    border-style: solid;
    border-color: #d8dde6;
    cursor: pointer;
    width: 100%;
    z-index: 120;
    min-height: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
}

/* notification */
.notification {
    padding: 10px;
    display: none;
    align-items: center;
}
.notification:first-child {
    display: flex;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.notification:last-child,
.notifications--closed .notification {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom: 1px solid #d8dde6;
}

.notification:only-child {
    display: flex;
    border-radius: 0.25rem;
}

.notification:first-child .notification__text {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.theme_warning {
    background-color: #FE9339;
}

.theme_error {
    background-color: #EA001E;
}

.theme_info {
    background-color: #F3F2F2;
    color: #3E3E3C;
}

.theme_warning {
    background-color: #FE9339;
}

.theme_success {
    background-color: #027E46;
}

.theme_error,
.theme_success {
    color: white;
}

.icon-white {
    --lwc-colorTextIconDefault: white;
    --slds-c-icon-color-foreground-default: white;
}

.icon-grey {
    --lwc-colorTextIconDefault: #514f4d;
    --slds-c-icon-color-foreground-default: #514f4d;
}


.text-counter {
    padding-right: 5px;
    display: inline-block;
    font-size: 17px;
}

.link-under {
    text-decoration: underline
}

.link-under:hover {
    text-decoration: none
}

.slds-badge span {
    font-size: 0.8rem;
}

@keyframes jiggle {
    0% {
        transform: translate(0, 0%);
    }
    20% {
        transform: translate(0, -5%);
    }
    40% {
        transform: translate(0, 10%);
    }
    60% {
        transform: translate(0, -5%);
    }
    80% {
        transform: translate(0, 2%);
    }
    100% {
        transform: translate(0, 0%);
    }
}