.THIS .group-label {
    margin-bottom: .25rem;
}
.THIS .grouped {
    padding: .75rem;
    border-radius: .25rem;
    border: 1px solid rgb(217, 219, 221);
    background: rgba(0,0,0,0.02);
}
.THIS .entry {
    margin-left: .75rem;
}
.THIS .grouped > .entry {
    margin-left: 0;
}
.THIS > .entry:first-child {
    padding-top: .5rem;
}