/* .slds-progress__item_content {
  cursor: pointer;
} */

.step-label {
    font-size: 1rem;
    line-height: 1.5rem;
}

.step-completion-date {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 700;
}

.description {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0.5rem 0;
}
.slds-progress__marker {
    align-self: flex-start;
}

.slds-progress__item_content {
    margin-top: 0;
    padding-bottom: 1.25rem;
}

.text-color {
    color: #706E6B;
}

.item-style {
    font-weight: bold;
    width: 100%;
}