:host {
    padding: 20px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-radius: 4px;
    width: 100%;
}
.sc-case-info__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
}
.sc-case-info__header .sc-button {
    height: 36px;
}

.sc-case-info__header h3 {
    flex: 1;
    word-break: break-all;
}
.sc-case-info__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
h3 {
    font-size: 28px;
    font-family: "proximalight", sans-serif;
    line-height: 36px;
    color: #706e6b;
    margin-bottom: 20px;
}
h4 {
    font-size: 1rem;
    margin-top: 15px;
}
.sc-case-info__description {
    font-family: "proximamedium", sans-serif;
    overflow: hidden;
    font-size: 1rem;
    text-align: justify;
    line-height: 24px;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e5e6;
    word-break: break-all;
}
.sc-button {
    background-color: #0684bd;
    padding: 7px 21px;
    outline: 0;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-family: "proximalight", sans-serif;
    text-decoration: none !important;
}
.slds-grid.slds-wrap {
    align-items: stretch;
    margin: 0 -10px;
}
.slds-col.slds-size_6-of-12 {
    padding: 10px;
}
.sc-case-info__value label {
    display: block;
    overflow-wrap: break-word;
    color: #696969;
    font-size: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    margin-top: 1px;
}
.sc-case-info__value span {
    font-family: "proximamedium", sans-serif;
    font-weight: 700;
    overflow: hidden;
    font-size: 14px;
    color: #282828;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    display: block;
}