input.slds-input:focus {
    box-shadow: none;
}
span.slds-grid_align-spread  {
    justify-content: left;
}
.slds-textarea:invalid{
    border-color:  gray;
}
.custom_backdrop {
    z-index: 9001;
    background-color: #74747450;
    max-height: 100%;
    position: absolute;
}