.cls-1{fill:#0e85bd;}
.cls-1,.cls-2{fill-rule:evenodd;}
.cls-2,.cls-3{fill:#f6891f;}
.sc_login {
    background-color: #fff;
    border-radius: 4px;
    padding: 15px 20px;
    width: 350px;
}
.sc_login__logo {
    padding: 10px 20px;
}
.sc_login__desc {
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
}
.sc_login__buttons {
    display: flex;
    flex-direction: column;
}
.sc_login__button {
    background-color: #f80;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 30px;
    outline: none;
    margin: 10px 0;
    border: none;
}
.sc_login__button:hover {
    background-color: #ff9d2a;
}
.sc_login__button:active {
    background-color: #eb6321;
}
.sc_login__button.cerulean {
    background-color: #0684bd;
}
.sc_login__button.cerulean:hover {
    background-color: #2098ce;
}
.sc_login__button.cerulean:active {
    background-color: #005684;
}