.THIS .button__is-busy .slds-spinner {
    width: 1rem;
}

.THIS .button__is-busy .slds-spinner_container {
    background: transparent;
    width: 2rem;
}

.THIS .button__is-busy.slds-button {
    padding-left: 2rem;
}

.THIS .button__default-margin{
    margin-left: .25rem;
}

.THIS {
    display: inline-block;
}