.THIS.phases-management {
    height: 100%;
}


/* helpers */

.THIS .link_dotted,
.THIS .link_dotted:hover{
    text-decoration: underline dotted;
}

.THIS .fix-icon-row-position{
    position: relative;
    top: -2px;
}

.THIS .cursor-click{
    cursor: pointer;
}

/* Inputs */

.THIS .input_small .slds-input{
    width: 75px;
    height: 22px;
    min-height: 22px !important;
    max-height: 22px;
    line-height: 1.65;
}

.THIS .phase_is-deleted,
.THIS .cart-item.cart-item_is-changed .cart-item__header,
.THIS .cart-item.cart-item_quantity-is-changed .cart-item__header{
    background: rgba(250, 255, 189, 0.3);
}

/* Totals */
.THIS .label_weak{
    color: #8c9baf;
}
/* Messages */

.THIS .rc-message {
    text-align: center;
    font-weight: 400;
    margin: 1rem 0 1rem 0;
    color: #8C9BAF;
    font-style: italic;
    width: 100%;
}

/* Unassigned Section */
.THIS .unassigned{
    border: 1px solid transparent;
    border-right-color: rgb(217, 219, 221);
    border-radius: 3px;
    height: 100%;
}

.THIS .unassigned_has-drop{
    border: 1px dashed rgb(217, 219, 221);
    background-color: rgb(249, 249, 250);
}

/* Phases Section */
.THIS .phases{
    height: 100%;
}

.THIS .location__spinner{
    width: 2rem;
    display: inline-block;
    position: relative;
    height: 0.85rem;
}

.THIS .location__spinner.slds-hide{
    display: none;
}

.THIS .location__spinner .slds-spinner{
    width: 1rem;
}

.THIS .text-weak {
    color: #8C9BAF;
    font-size: .8rem;
}

.THIS .address-indicator{
    position: relative;
    top: -1px;
}

.THIS .tooltip-position-fix {
    top: -3px;
    position: relative;
}

.THIS .hidden-icon {
    padding: 0 1rem;
}

.THIS .hidden-label {
    font-size: 1rem;
}

.THIS .hidden-section {
    cursor: pointer;
    height: 2.5rem;
    align-items: center;
    align-content: center;
    display: flex;
    border-bottom: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
}

.THIS .hidden-section:hover {
    background-color: rgb(244, 246, 249);
}

.THIS .hidden-section:hover svg,
.THIS .hidden-section:hover .hidden-label {
    fill: rgb(0, 95, 178);
    color: rgb(0, 95, 178);
}

.THIS .hide-show-section {
    border-left: 1px solid rgb(217, 219, 221);
    border-right: 1px solid rgb(217, 219, 221);
    border-top: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
}