.THIS .slds-modal__container{
    width:95% !important;
    max-width: 95vw !important;
}

.THIS .slds-form-element__label{
   font-size: .8125rem !important;
   font-weight: normal !important;
}
.THIS .slds-checkbox_toggle .slds-checkbox_faux::after, .THIS .slds-checkbox_toggle .slds-checkbox--faux::after, .THIS .slds-checkbox--toggle .slds-checkbox_faux::after, .THIS .slds-checkbox--toggle .slds-checkbox--faux::after {
   background-color: #949494;
   width: 18px;
   height: 18px;
}   

.THIS .slds-checkbox_toggle .slds-checkbox_faux, .THIS .slds-checkbox_toggle .slds-checkbox--faux, .THIS .slds-checkbox--toggle .slds-checkbox_faux, .THIS .slds-checkbox--toggle .slds-checkbox--faux {
   background-color: #fff!important;
   border: 2px solid #b7b7b7!important;
}
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before {
   width: 18px;
   height: 18px;
   background-color:token(colorBrand);
}
.THIS .paymentoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .paymentoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .paymentoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .paymentoggle .slds-checkbox--toggle .slds-checkbox--faux:after,
.THIS .accloctoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .accloctoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .accloctoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .accloctoggle .slds-checkbox--toggle .slds-checkbox--faux:after
{
   background-color: token(colorBrand);
}

.THIS .slds-select_container {
   width: 179px;
}

.THIS .orderdetailsmainwrap .slds-select_container,
.THIS .shippingaddrtable .slds-select_container {
   width: 100%;
}
.THIS .iconswrap
{
    display: flex;
    margin: 8px 5px;
}
.THIS .iconswrap svg
{
    width: 20px;
    height: 20px;
}
.THIS .iconswrap a
{
    margin-right: 5px;
}
.THIS .iconswrap .slds-button_icon
{
    box-shadow: none;
}
.THIS .inputw input
{
    width:100%;
}
/*.THIS .inputw .slds-select_container
{
    width : auto;
}*/
.THIS .iconswrap a:only-child
{
    margin-right: 32px;
}
.THIS .iconsrow label
{
    white-space : nowrap;
}
.THIS .shippingaddrtable
{
    table-layout: fixed;
}
.THIS .shippingaddrtable td
{
    padding: 0 5px;
}
.THIS .shippingaddrtable label
{
    white-space: nowrap;
}
.THIS .orderdetailsmainwrap input, .THIS .orderdetailsmainwrap select
{
    width: 225px;
}
.THIS .iconscell
{
    width: 60px;
}