.msie7 li.full-width {position:relative;}
.msie7 #backtocases {float:none; }
/*top nav country pick list*/
.msie7 ul.menu-head .submenu {top:32px; z-index:9999; zoom:1;}

/*Main Nav drop down fix for IE 7*/
.msie7 li .product-drop-down, .msie7 li .about-drop-down,.msie7 li .resource-drop-down, .msie7 li .customer-drop-down  {top:58px; left:0px;}

/*Main search input box in top navigation*/
.msie7 .search .submit-search {top:7px;}

/*support page*/
.msie7 .learning-center-container .flag-bottom {padding-bottom:20px; padding-top:0px;}

/*Register for Webinar*/
.msie7 .register-webinar, .msie8 .register-webinar {background-position: 0 540px;}

/*sales phone number font size update for IE*/
.msie .sale_phones{font-size:12px;}




