* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body > span {
  display: block;
  height: 100%;
}
.container {
  width: 264px;
}
.head {
  background-color: #333;
  padding: .6rem 0;
  min-height: 3.5rem;

  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;
}
.head p {
  text-align: center;
  color: #fff;
  font-size: .65rem;
  font-weight: 300;
}
.head p + p {
  margin-top: 0.2rem;
  font-size: 1.15rem;
  font-weight: 400;
}
.head .logo {
  width: 100%;
}
.head .logo .mobile {
  display: none;
  /*width: 50%;*/
  width: 176px;
  margin: 0 auto;
}
.head .logo .full {
  width: 114px;
  display: block;
  margin: 0 auto;
}

/*.main,*/
.pre-chat__form {
  padding: .9rem;
  background-color: #ededef;
}
.main > p:first-child {
  font-size: .85rem;
  line-height: 1.15rem;
  color: #4a4a4c;
}
.form {
  min-height: 9rem;
  margin-top: 0.85rem;
}
.form input,
.form select,
.form .select {
  height: 1.85rem;
  background-color: #fff;
  border-radius: .25rem;
}
.form input,
.form select {
  width: 100%;
  border: none;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  outline: none;
  color: #4a4a4c;
}
.form select {
  z-index: 10;
  position: relative;
  background: transparent;
}
.form .select {
  position: relative;
}
.form .select:before {
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -2px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #bdbdbd;
}
.form .select:after {
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -4px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
.form .select select {
  height: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form input+input,
.form input+.select {
  margin-top: 0.5rem;
}
/* IE FIX */
.form select::-ms-expand {
  display: none;
}

.errors {
  min-height: 2rem;
  padding: 0.5rem 0;
  /*line-height: 2rem;*/
  text-align: center;
  color: #ca2550;
  font-size: 0.75rem;
}


.chat-button {
  background-color: #fd8825;
  color: #fff;
  width: 100%;
  height: 2.8rem;
  font-size: 1rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.chat-button + p {
  margin-top: 0.65rem;
  font-size: 0.7rem;
  text-align: center;
  color: #4a4a4c;
}
.hide {
  display: none;
}
.has-error {
  border: 1px solid #ca2550 !important;
  color: #ca2550 !important;
}
.has-error::-webkit-input-placeholder { /* Chrome */
  color: #ca2550;
}
.has-error:-ms-input-placeholder { /* IE 10+ */
  color: #ca2550;
}
.has-error::-moz-placeholder { /* Firefox 19+ */
  color: #ca2550;
}
.has-error:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ca2550;
}

a[href^=tel] { color: inherit; text-decoration: none; }

select:focus::-ms-value {
    color: inherit;
    background: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #757575;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #757575;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #757575 !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #757575;
}


@media only screen
  and (hover: none) {

    html {
      /*font-size: 6vw;*/
      height: 100%;
      font-size: 1.3rem;
    }
    body {
      height: 100%;
    }
    .container {
      width: 100% !important;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .pre-chat__form {
      flex: 1 1 auto;
    }
    .head .logo .mobile {
      display: block;
    }
    .head .logo .full {
      display: none;
    }

}