.slds-button-group-list.slds-button-group-list__wo-labels {
    transform: translateY(26px);
}
.slds-button-group-list lightning-combobox {
    width: 80px;
    margin-right: 10px;
}
.slds-button-group-list lightning-input {
    width: 80px;
    margin-right: 10px;
}