@font-face {
    font-family: 'GothamFont';   
    src: url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.eot');
    src: url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.woff') format('woff'), url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('/resource/AvayaCommunityFonts/fonts/gothamhtf-book-webfont.ttf.svg#gotham_htflight') format('svg');
}
.comm-page-login-home .siteforceContentArea .ui-widget:nth-child(1) .cb-section_column:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.siteforcePrmBody .cHeader .cBrandingLogo {
    height: 35px !important;
    width: 160px !important;
    margin: 12px 0;
}
.cHeader .cHeaderTop {
    height: auto!important;
}
.comm-page-login-home .cCenterPanel
{
    margin-top: 0!important;
}
.norecordsmsg
{
    background: #ddeff8!important;
    color: #0684BD;
}
:root { --dxp-c-section-columns-max-width: 1170px; }