.THIS .slds-p-bottom_small {
    color: #007add;
}
.THIS td[id*="Plan"],
.THIS td[id*="Seat MRR"],
.THIS td[id*="Minutes"],
.THIS td[id*="Description"],
.THIS td[id*="Overage"] {
    border-bottom: 2px solid #000;
}

.tableContainer.THIS{
    border-bottom-style:none;
    border-width:2px;
    border-color: #1d1e1f;
}