/*
.THIS table tbody .colorRow tr {
    background : #90ee98;
}
*/
.THIS .textBold {
    font-weight : bold;
}
/*
.THIS .table-hover tbody tr:hover td  {
 background-color: #90ee98 !important;
}

.THIS .table-hover > tbody > tr.active:hover > td {
    background-color: #90ee98;
}
*/
.THIS .slds-text-title_caps .tablehead{
    background: #2589ee;
    color: white;
}