@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap);

.THIS h1,
.THIS h2,
.THIS .language-select,
.THIS .rccheckbox,
.THIS .rctop1,
.THIS .rctop,
.THIS .rcheader,
.THIS .rcfieldform1,
.THIS .slds-form-element__label,
.THIS .submit-button {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.THIS ::placeholder {
  color: gray;
  opacity: 1;
}

.THIS .rcheader {
  font-size: 22px;
  color: #222222;
  font-weight: 700;
  text-align: center;
}

.THIS .rctop {
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.THIS .rctop1 {
  font-size: 18px;
  justify-content: center;
  font-weight: normal;
  text-align: center;
}

.THIS .rccheckbox {
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: row;
}

.THIS .rcfieldform1 {
  font-size: 18px;
  order: 0;
  color: #6F6F6F;
  flex-grow: 1;
  margin: 0px 10px;
}

.THIS .slds-form-element__control .slds-radio {
  display: inline;
}

.THIS .slds-form-element__label {
  font-size: 18px;
  margin: 5px;
}

.THIS .select-div label {
  display: none;
}

.THIS .button {
  width: 100%;
  line-height: 56px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}

.THIS .slds-form-element_horizontal .slds-form-element__control {
  padding-left: 40%;
}