.paginate_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: progress;
}
.paginate_loading lightning-progress-bar {
    max-width: 500px;
    width: 500px;
    display: block;
}

.paginate_loading .paginate_loading__desc {
    margin-top: 20px;
    font-size: 18px;
}
.paginate_loading .paginate_loading__proc {
    font-size: 32px;
}