.THIS .editform
{
    padding:0 40px;
}
.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}
.THIS.pagewrap article
{
    min-height: calc(100vh - 165px);
}

.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}
.THIS .toggle {
    display: none;
}

.THIS .tooltipdiv{
    width:auto;
    height:auto;
    padding:7px;
    position:absolute;
    left:45px;
    background-color:#002e60;
    color:#ffffff;
}