.THIS {
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
  position: relative;
  display: inline-block;
}
.THIS .wrap-help-body {
  width: 20rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.THIS .slds-popover {
  position: absolute !important;
  width: auto !important;
  max-width: 20rem !important;
  white-space: normal !important;
}
.THIS .wrap-help-body {
  display: none !important;
}
.THIS .slds-form-element:hover + .wrap-help-body {
  display: block !important;
}

.THIS .slds-popover.slds-nubbin--bottom-left {
  bottom: 2rem;
  left: -1rem;
}
.THIS .slds-popover.slds-nubbin--top-left {
  top: 2rem;
  left: -1rem;
}
.THIS .slds-button:focus {
  box-shadow: none !important;
}