.partneruserinfowrap
{
  display:flex;
  margin-top: -10px;
}
.partneruserinfowrap .eachinfo
{
  width: 50%;
}
.partneruserinfowrap .eachinfo .slds-card
{
  height: 100%;
}
.partneruserinfowrap .eachinfo.leftwrap
{
  margin-right:24px;
}
.partneruserinfowrap .eachinfo.rightwrap
{
  margin-left:24px;
}