.THIS .errorMessageDiv{
    margin-left:30%;
}
.THIS .boxheight{
    height: calc(1.875rem + 2px);
}
.THIS .slds-table thead th {
    padding: 15px;
    font-weight: bolder;
    color:#000000;
    line-height: 20px;
}
.THIS .dealsupportlistatble thead th {
    padding: 15px 7px;
}
.THIS .slds-table tbody th {
    padding: 15px;
    line-height: 20px;
}
.THIS .dealsupportlistatble tbody th {
    padding: 15px 7px;
}
.THIS .slds-form-element__label {
    font-size: 13.5px;
    font-weight: bold;
}

.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}

.THIS .slds-spinner_container  {
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color:rgb(0, 0, 0,0);	
    margin-right:100px;
    margin-left:100px;
    z-index: 10000;
    position: fixed;
}


.THIS .slds-checkbox_on{
    display:none !important;
}
.THIS .slds-checkbox_off{
    display:none !important;
}
.THIS .dealToggle .slds-checkbox_toggle .slds-checkbox_faux:after {
    background-color: #949494; 
    
    
}
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox--faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox_faux:after, 
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox--faux:after {
    background-color: token(colorBrand);
}

.THIS .slds-checkbox_toggle .slds-checkbox_faux::after, .THIS .slds-checkbox_toggle .slds-checkbox--faux::after, .THIS .slds-checkbox--toggle .slds-checkbox_faux::after, .THIS .slds-checkbox--toggle .slds-checkbox--faux::after {
    background-color: #949494;
    width: 18px;
    height: 18px;
}   

.THIS .slds-checkbox_toggle .slds-checkbox_faux, .THIS .slds-checkbox_toggle .slds-checkbox--faux, .THIS .slds-checkbox--toggle .slds-checkbox_faux, .THIS .slds-checkbox--toggle .slds-checkbox--faux {
    background-color: #fff!important;
    border: 2px solid #b7b7b7!important;
}
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before, .THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before {
    width: 18px;
    height: 18px;
    background-color:token(colorBrand);
}
.THIS .slds-New{
  margin-top: 30px;
}

.THIS .alltoggleWidth{
    width:10%;
}
.THIS .filterby {
      margin-right:10px;
}
.THIS .salesover {
      margin-right:-10px;
}
.THIS .nowrap {
    white-space : nowrap;
}
.THIS .salesoverlay {
      margin-right:-40px;
}