.THIS.docusign-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #FFF;
    border-bottom: 1px solid #dddbda;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 50;
}