.THIS {
    color:#000;
}
.THIS.brdr td{
    border:1px solid #d8d8d8;
}
.THIS.brdr td:first-child{
    border-right:0;
}
.THIS.brdr td:last-child{
    border-left:0;
}
.THIS.tableheading td{
    padding:25px 0 8px 0;
    font-size: 14px;
}
.THIS button {
    width:80px;
    height:32px;
    border-radius:3px;
    border:2px solid transparent;
    line-height: normal;
}
.THIS .slds-button[disabled], .THIS .slds-button:disabled {
    /*background-color: #f4bfbb!important;
    border:2px solid #f4bfbb!important;*/
}