.THIS {
}
.THIS .cloudspecdropdown 
{
    position:relative;
}
.THIS .cloudspecdropdown ul
{
    max-height: 250px;
    overflow: auto;
}
/*.THIS .slds-dropdown_fluid{
    
}*/
/*.THIS .slds-lookup.slds-is-close .slds-lookup__menu {
    display: none;
}*/