.section {
    background-color: #f3f2f2;
}

.white-icon {
    --lwc-colorTextIconDefault: white;
}

.red-icon {
    --lwc-colorTextIconDefault: #ba0517;
}

.slds-popover__body_small {
    max-height: 15rem;
    overflow-y: auto;
}

.popover-position {
    position: absolute;
    bottom: 40px;
    left: -12px;
}

.popover-relative {
    position: relative;
}

.slds-rise-from-ground {
    visibility: visible;
    opacity: 1;
    transform: translate(0%, 0%);
    transition: opacity 0.1s linear, visibility 0.1s linear, transform 0.1s linear;
    will-change: transform;
}

.slds-fall-into-ground {
    visibility: hidden;
    opacity: 0;
    transform: translate(0%, 0%);
    transition: opacity 0.1s linear, visibility 0.1s linear, transform 0.1s linear;
    will-change: transform;
}

.field-with-error:hover {
    text-decoration-line: underline;
    text-decoration-color: #004485;
    cursor: pointer;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-top {
    position: sticky;
    top: 0;
    background: white;
    z-index: 3;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 3;
}

.border-buttons {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--sds-c-tabs-list-color-border, var(--lwc-colorBorder,rgb(217, 219, 221)));
    padding-top: 9px;
    padding-bottom: 3px;
}