.file-upload-label-hide .slds-form-element__label {
    display: none;
}

.slds-file-selector__button {
    width: 30px;
    overflow: hidden;
    height: 30px;
}

.slds-file-selector__button > lightning-primitive-icon {
    padding-left: 55px;
    padding-bottom: 5px;
}
