.sdmenu {
    width: 150px;
    font-family: Verdana;
    font-size: 11px;
    padding-bottom: 0px;
    background: #0073AE url(bottom1.png) no-repeat  right bottom;
    color: #FFF;
}

.sdmenu .title, .sdmenu .titlehidden{
    display: block;
    padding: 5px 0;
    font-weight: bold;
    color: white;
    background: #0073AE;
}

.sdmenu .title {
    border-bottom: 1px solid #F1F7FE;
}

.sdmenu .arrow {
	margin-left: 10px;
    margin-right: 7px;
    cursor: pointer;
}

.sdmenu .titlehidden {
    border-bottom: none;
}

.sdmenu #top1 {
    background: #0073AE;
     cursor: pointer;
}
.sdmenu #top1_child {
    background: #0073AE;
    display: none;
     cursor: pointer;
}
.sdmenu .submenu {
    overflow: hidden;
    display:none;
}

.sdmenu .submenu a {
    padding: 5px 0;
    font-size: 12px;
    text-indent: 10px;
    background: #F1F7FE;
    display: block;
    color: #333333;
    font-family: Verdana;
    text-decoration: underline;
}

.sdmenu .submenu a:hover {
    background : #F1F7FE;
    color: #000000;
}
