/* ======== CSS File Information ========
          version: 22.0
             skin: PortalDefault
         cssSheet: portal_template.css
          postfix: 
   spritesEnabled: false */

/* BEGIN Global */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 85%;
}
/* Override empty related list header weirdness */
.list .headerRow .noRowsHeader {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* END Global */

/* BEGIN Header */
body .primaryPalette,
body .primaryPalette a,
body .bPageTitle .secondaryPalette,
body .bPageTitle .secondaryPalette a,
body .secondaryPalette .lbHeader,
body .secondaryPalette .lbHeader a,
body .pbSubheader,
body .pbSubheader a {
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Default base palette color */
.primaryPalette,
.secondaryPalette,
.tertiaryPalette,
.individualPalette .primaryPalette,
.individualPalette .secondaryPalette,
.individualPalette .tertiaryPalette,
.bPageBlock .pbFooter {
    background-color: #0073AE;
    border-color: #0073AE;
}
/* END Header */


/* BEGIN Portal Text Color */
body,
td,
select,
input,
textarea,
fieldset legend,
.warn .textCounter,
.miniTab .currentTab,
.requiredLegend,
.bPageBlock .noRecords,
.list td,
.list th,
.bPageBlock td.actionColumn .actionLink,
.bWizardBlock .pbDescription,
.bWizardBlock .pbTopButtons {
    color: #333333;
}

a,
.miniTab .currentTab a {
    color: #333333;
}
a:hover,
.miniTab .currentTab a:hover {
    color: #333333;
}

/* Override darkening in SFDC skin */
.pbBody,
.pbBody td,
.lbBodyDescription,
.list .headerRow .noRowsHeader {
    color: #333333;
}

.pbBody a,
.lbBody a {
    color: #333333;
}

.pbBody a:hover,
.lbBody a:hover {
    color: #333333;
}

/* END Portal Text Color */


/* BEGIN Tab Bar Navigation Styles */

.tabNavigation {
   	background-image: url(http://marketo.ringcentral.com/rs/ringcentral/images/toppartnerportal3-bg.jpg);
	background-repeat:repeat-x;
    background-color: #539bc1;
    font-weight: bold;
	height:41px;
}

.tab td {
    background-image: none; 
    border-right:1px solid #fff;
	height:35px;
	margin:0 15px 0 15px;
	width:140px;
}

.tab td div,
.tab .last div {
    background-image: none;

}
/* disable by RVjr
.tab .currentTab {
    background-image: url(/dimg/portalTabLeft0073AEFC8F00.gif);
    background-position: center;
    border-right-color: #FC8F00;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}*/

.tab .currentTab div {
    background-image: none;
	background-color: #0d436a;
	border-right:1px solid #fff;
	height:23px;
	padding-top:8px;	
	width:140px;
	
}
.currentTab div {
    padding:0;
}
.tab a:hover {
    text-decoration:none;
	color:#f1f7ff;
}
.tab a {
	border:0px;
	
}

body .tab,
body .tab a {
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:200;
/*	text-shadow: #3f3f3f 0.1em 0.1em 0.1em;*/
}
body .currentTab,
body .currentTab a {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
/* END Tab Bar Navigation Styles */

/* BEGIN Sidebar Modules */
.sidebarModule {
    background-color: #F1F7FE;
    border-bottom: 1px solid #539bc1;
    border-left: 1px solid #539bc1;
    border-right: 1px solid #539bc1;
    border-top: 1px solid #539bc1;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.sidebarModuleHeader,
.nestedModule .sidebarModuleHeader {
    background-color: #539bc1;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.sidebarModuleHeader h1,
.sidebarModuleHeader h2,
.sidebarModuleHeader h3,
.sidebarModuleHeader h4,
.sidebarModuleHeader h5,
.sidebarModuleHeader h6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* END Sidebar Modules */

/* BEGIN Content */
.bodyDiv {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}

.requiredLegend {
    background-color: #F1F7FE;
}
/* END Content */

/* BEGIN Page Blocks */
.bPageBlock,
.individualPalette .bPageBlock {
    background-color: #F1F7FE;
    border-bottom: 1px solid #0d436a;
    border-left: 1px solid #0d436a;
    border-right: 1px solid #0d436a;
    border-top: 1px solid #0d436a;
}

.bPageBlock .pbHeader {
    background-color: #0d436a;
}

.pbHeader .pbTitle h2,
.pbHeader .pbTitle h2 a,
.pbHeader .pbTitle h3,
.pbHeader .pbTitle h3 a,
.pbSubheader h3,
.pbSubheader h3 a {
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bPageBlock .labelCol,
.bPageBlock .labelCol a {
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bPageBlock .pbBody .pbSubsection .detailList .labelCol .noWrap{
    white-space: nowrap;
}

/* END Page Blocks */

/* BEGIN SubBlock */
.bSubBlock {
    background-color: #F1F7FE;
    border-bottom: 1px solid #0073AE;
    border-left: 1px solid #0073AE;
    border-right: 1px solid #0073AE;
    border-top: 1px solid #0073AE;
}

.bSubBlock .lbHeader {
    background-color: #0073AE;
}
/* END SubBlock */

/* BEGIN Detail & Edit Pages */
.bPageBlock .detailList tr td, .bPageBlock .detailList tr th {
    border-bottom-color: #FFFFFF;
}

.detailPage .bPageBlock, .editPage .bPageBlock {
    border-top-width: 1px;
}

.detailPage .bRelatedList .bPageBlock,
.editPage .bRelatedList .bPageBlock {
    border-top-width: 1px;
}
/* END Detail & Edit Pages */

/* BEGIN List */
.list .headerRow th,
.list .headerRow th a {
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-bottom-color: #FC8F00;
}

.list td,
.list th,
body.oldForecast .list .last td,
body.oldForecast .list .last th {
    border-bottom:1px solid #FFFFFF;
}

.highlight td,
.highlight th {
    background-color: #C2E4FE;
}

/* END List */


/* BEGIN Lookup */
.lookupTab {
    background-color: #FFFFFF;
}
/* END Lookup */


/* BEGIN Calendar */
.homeCalendarEvents .event {
    border-top-color: #FC8F00;
}

.mCalendar .header td {
    color: #FFFFFF;
    border-bottom-color: #FC8F00;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* END Calendar */

/* BEGIN Report */

.reportTab .csvSetup .pbSubheader,
.reportTab .csvSetup .bPageBlock .pbSubheader,
.reportTab .bGeneratedReport .bPageBlock .pbSubheader {
    background-color: #0073AE;
    border-color: #0073AE;
}

.reportTab .csvSetup,
.reportTab .csvSetup .bPageBlock,
.reportTab .csvSetup .bPageBlock .pbHeader,
.reportTab .csvSetup .bPageBlock .detailList tr td,
.reportTab .csvSetup .bPageBlock .detailList tr th {
    background-color: #FFFFFF;
    border: none;
}

/* END Report */

/* BEGIN Color Correction */
/*
 * Overrides to handle non-standard color palettes
 */
.bMyCalendar .primaryPalette,
.bMyCalendar .secondaryPalette,
.bMultiuserCalendar .primaryPalette,
.bMultiuserCalendar .secondaryPalette {
    background-color: #0d436a;
    border-color: #0d436a;
}

.bMyCalendar .bPageBlock,
.bMultiuserCalendar .bPageBlock,
.bMyDashboard .bPageBlock {
    background-color: #F1F7FE;
    border-bottom: 1px solid #0073AE;
    border-left: 1px solid #0073AE;
    border-right: 1px solid #0073AE;
    border-top: 1px solid #0073AE;
}
/* END Color Correction */

/* BEGIN Knowledge Article Renderers */

.knowledgeTabPanel ul.x-tab-strip-top {
    background-image: url(/dimg/portalTopBgFFFFFFFC8F00.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 10px;
    background-color: #0073AE;
}

.knowledgeTabPanel .x-tab-strip-top  .x-tab-right {
    background-image: url(/dimg/portalTabLeftFFFFFF0073AE.gif);
    background-position: 0 0;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 3px;
}

.knowledgeTabPanel .x-tab-strip-top  .x-tab-strip-inner {
    background-image: url(/dimg/portalTabRightFFFFFF0073AE.gif);
    background-position: 0 0;
}

.knowledgeTabPanel .x-tab-strip-top  .x-tab-left {
    background-image: url(/dimg/portalTabRightFFFFFF0073AE.gif);
    background-position: 0 0;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 7px;
}

.knowledgeTabPanel .x-tab-strip-top .x-tab-strip-text {
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.knowledgeTabPanel .x-tab-strip-top .x-tab-strip-active .x-tab-right {
    background: url(/dimg/portalTabActiveRightFFFFFFFC8F00.gif);
    border-left-color: #FFFFFF;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-style: none;
}

.knowledgeTabPanel .x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
    background: url(/dimg/portalTabActiveRightFFFFFFFC8F00.gif);
}

.knowledgeTabPanel .x-tab-strip-top .x-tab-strip-active .x-tab-left {
    background: url(/dimg/portalTabActiveRightFFFFFFFC8F00.gif);
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
}

.knowledgeTabPanel .x-tab-strip-top .x-tab-strip-active .x-tab-strip-text {
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.knowledgeTabPanel .bPageBlock, .knowledgeTabPanel .individualPalette .bPageBlock {
    border-top-style: none;
}

.knowledgeTOCRendererSections {
    background-color: #0073AE;
}

.knowledgeTOCRendererSections .knowledgeTOCRendererSection.selected {
    background-color: #FC8F00;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.knowledgeTOCRendererContent .sectionName.selected td {
    color: #FFFFFF;
}

.knowledgeTOCRendererContent .sectionName.selected {
    background-color: #FC8F00;
    color: #FFFFFF;
    border-left: 1px solid #0073AE;
    border-right: 1px solid #0073AE;
    border-top: 1px solid #0073AE;
}

.knowledgeTOCRendererSections .knowledgeTOCRendererSection {
    background-color: #0073AE;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.knowledgeTOCRendererContent .sectionName {
    background-color: #0073AE;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-left: 1px solid #0073AE;
    border-right: 1px solid #0073AE;
    border-top: 1px solid #0073AE;
    border-bottom: 1px solid #0073AE;
}

.knowledgeTOCRendererContent, .knowledgeTOCRendererContentDiv, .knowledgeTOCRendererContentDiv .sectionContent {
    background-color: #FFFFFF;
}

.knowledgeTOCRendererContent .sectionContent {
    background-image: none;
    background-color: #F1F7FE;
    border-bottom: 1px solid #0073AE;
    border-left: 1px solid #0073AE;
    border-right: 1px solid #0073AE;
}

/* END Knowledge Article Renderers */

/* START Answers */

.ansContent a {
    color: #333333;
}

.ansQuestionDetailsOnList .ansQuestionPrimary, .ansReplyPrimary, .ansActivityPrimary,
    .ansBestReply .ansReplyPrimary {
    border-color: #FFFFFF;
}

form.ansAskQuestionBox label, .ansCategoriesLabel {
    color: #333333;
}

.ansAskQuestionContainer {
    background: none;
}

.ansReplyListAndPostContainer {
    background: none;
}

.ansHomeRecentlyAsked h2, .ansHomeRecentlyReplied h2, .ansHomeStillOpen h2 {
    color: #FFFFFF;
}

/* END Answers */




