/* ======== CSS File Information ========
          version: 22.0
             skin: PortalDefault
         cssSheet: extended
          postfix: 
   spritesEnabled: false */

/* Base style for portals */

/*
 * Unused style for documentation purposes only.
 * Keep this CSS well-formed.
 * Each distinct colorable piece gets a unique color to aid editing.
 */
.cspCommentsDoNotUse {
    color: cornsilk /* page bg color */;
    color: palegreen /* page border bottom */;
    color: blue /* portal font color */;
    color: lightgreen /* portal base color */;
    color: mintcream /* box bg color */;
    color: forestgreen /* box border color */;
    color: green /* header font color */;
    color: Gainsboro  /* list border color */;
    color: slategray /* list header underline */;
    color: springgreen /* list highlight color */;
    border-style: solid /* box border style */;
    border-width: 1px /* box border width */;
}

/* Header font */
.primaryPalette,
.primaryPalette a,
.bPageTitle .secondaryPalette,
.bPageTitle .secondaryPalette a,
.secondaryPalette .lbHeader,
.secondaryPalette .lbHeader a,
.pbSubheader,
.pbSubheader a {
    color: green /* header font color */;
}

/* Default base palette color */
.primaryPalette,
.secondaryPalette,
.tertiaryPalette,
.individualPalette .primaryPalette,
.individualPalette .secondaryPalette,
.individualPalette .tertiaryPalette,
.bPageBlock .pbFooter {
    background-color: lightgreen /* portal base color */;
    border-color: lightgreen /* portal base color */;
}

/*RVJr edit*/
.bPageHeader, .bPageHeader td.left {	
    background:url(http://marketo.ringcentral.com/rs/ringcentral/images/top-line-bg.jpg) repeat-x  top left;
	width:100%;
	height:71px;
	position:relative;
}
.bPageHeader .rcpartner-logo {position:absolute;top:13px;left:23px;}
/*h1 {font-family:Arial, Helvetica, sans-serif;font-weight:normal;color:#999999;font-size:24px;padding-left:240px;padding-top:35px;}*/
h1 {font-family:Arial, Helvetica, sans-serif;font-weight:normal;color:#FFFFFF;font-size:24px;}
.topmenu{float:right;color:#000;font-size:10px;padding:0 15px 0 0;font-weight:normal;}

/* BEGIN Portal Text Color */
a,
body,
td,
select,
input,
textarea,
fieldset legend,
.warn .textCounter,
.miniTab .currentTab,
.miniTab .currentTab a,
.requiredLegend,
.bPageBlock .noRecords,
.bPageBlock .labelCol,
.list td,
.list th,
.bPageBlock td.actionColumn .actionLink,
.bWizardBlock .pbDescription,
.bWizardBlock .pbTopButtons {
    color: blue;
}

/* Override darkening in SFDC skin */
.pbBody,
.pbBody a,
.pbBody td,
.lbBody a,
.lbBodyDescription,
.list .headerRow .noRowsHeader {
    color: blue;
}
/* END Portal Text Color */


/* BEGIN Tab Bar Navigation Styles */
.tabNavigation {
    /*background-image: url(/img/portaldefault/top-bg.gif);*/
    margin-bottom: 0;
	padding-bottom:0;
    padding-left: 0px;
    margin-bottom:0px;
    font-size: 100%;
    font-family: 'Verdana', 'Geneva', sans-serif;
}
.tab td {
   /* background-image: url(/img/portaldefault/tab-left.gif);*/
  /*  border-bottom: 1px solid #009;*/
    padding: 0 0 0 0px;
}

.tab td div,
.tab .last div {
    /*background-image: url(/img/portaldefault/tab-right.gif);
    padding: 4px 9px 4px 8px;*/
}

.tab .currentTab {
   /* background-image: url(/img/portaldefault/tab-active-left.gif);
    background-position: left bottom;
    border-bottom-width: 0;
    padding-bottom: 1px;
    border-right: 1px solid #009;*/
}

 .tab .currentTab div {
 /*   background-image: url(/img/portaldefault/tab-active-right.gif);
    background-position: right top;*/
    
}

.currentTab,
.currentTab a {
    color: #000;
}

.allTabTab .currentTab .allTabsArrow { background-image: url(/img/tab/arrow.gif);
    background-position: 0px 0px;width:6px;
    height:9px; }
/* END Tab Bar Navigation Styles */

#AppBodyHeader {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin: 0;
	padding-bottom:0px;
}
/* BEGIN Sidebar Modules */
#sidebarDiv {
    background-color: transparent;
    top: 10px; /* Match main content's spacing */
}

#sidebarCell {
    background-color: transparent;
	border-right: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-right: 20px;
}

.sidebarModule {
    background-color: mintcream /* box bg color */;
    border: 1px /* box border width */ solid /* box border style */ forestgreen /* box border color */;
    margin: 0 0 10px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 0;
}

.sidebarModuleHeader,
.nestedModule .sidebarModuleHeader {
    background-color: lightgreen /* portal base color */;
    color: green /* header font color */;
    font-size: 100%;
    padding: 5px 15px;
}

.sidebarModuleBody {
    padding: 10px;
}

.nestedModule {
	padding: 0;
    margin: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-image: none;
    background-color: transparent;
    border: 0px none transparent;
}

.nestedModule .sidebarModuleHeader {
    border-bottom: none;
}

.nestedModule .sidebarModuleBody {
    border-top: 0px none transparent;
}

.sidebarModulePortalWelcome {
    padding: 0.5em;
}

/* END Sidebar Modules */


/* BEGIN Content */
.outer td.oRight {
    background-color: transparent;
	padding-left:20px;
}

.bodyDiv {
    background-color: cornsilk /* page bg color */;
    border-bottom: 1px solid palegreen /* page border bottom */;
    font-size: 90%;
    padding-top: 0px;
}

.bPageTitle .ptBreadcrumb {
    margin-bottom: 0px;
}

.requiredLegend {
    background-color: mintcream;
}

.bPageFooter {
	text-align:left;
	padding-left:25px;
}
/* END Content */


/* Page title icons are not displayed */
.pageTitleIcon {
    display: none;
}

.bPageTitle .ptBody .content {
    padding-left: 10px;
}


/* BEGIN Page Blocks */
.bPageBlock,
.individualPalette .bPageBlock {
    background-color: mintcream /* box bg color */;
    background-image: none;
    border: 1px /* box border width */ solid /* box border style */ forestgreen /* box border color */;
}

.bPageBlock .pbHeader,
.bGeneratedReport .bPageBlock .pbSubheader {
    background-color: lightgreen /* portal base color */;
    border-bottom: 0px none transparent;
    margin: 0;
}

.pbHeader .pbTitle h2 ,
.pbHeader .pbTitle h3,
.pbSubheader h3 {
    color: green /* header font color */;
}

.bPageBlock .pbBody {
    background-color: transparent;
    margin: 0;
}

.bPageBlock .pbBottomButtons {
    background-color: transparent;
}

.bPageBlock .pbFooter {
    background-color: transparent;
    background-image: none;
    display: none;
    height: 0;
    width: 0;
}
/* END Page Blocks */

/* BEGIN SubBlock */
.bSubBlock {
    background-color: mintcream /* box bg color */;
    background-image: none;
    border: 1px /* box border width */ solid /* box border style */ forestgreen /* box border color */;
}

.bSubBlock .lbHeader {
    background-color: lightgreen /* portal base color */;
}

.bSubBlock .lbBody {
    background-color: transparent;
}

/* END SubBlock */

/* BEGIN Detail & Edit Pages */
.bPageBlock .detailList .col02 {
    border-right: 0px none transparent;
}

.bPageBlock .detailList tr td, .bPageBlock .detailList tr th {
    border-bottom-color: lightgreen /* portal base color */;
}

.detailPage .bPageBlock, .editPage .bPageBlock {
    border-top-width: 1px /* box border width */;
}

.detailPage .bRelatedList .bPageBlock,
.editPage .bRelatedList .bPageBlock {
    border-top-width: 1px /* box border width */;
}
/* END Detail & Edit Pages */

/* BEGIN List */
.list .headerRow th {
    border-bottom-color: slategray /* list header underline */;
}

.list td,
.list th,
body.oldForecast .list .last td,
body.oldForecast .list .last th {
    border-bottom:1px solid Gainsboro  /* list border color */;
}

.highlight td,
.highlight th {
    background-color: springgreen /* list highlight color */;
}

/* END List */

/* BEGIN Lookup */
.lookupTab {
    background-color: cornsilk /* page bg color */;
}
/* END Lookup */


/* BEGIN Calendar */
.homeCalendarEvents .event {
    border-top-color: slategray /* list header underline */;
}

.mCalendar .body {
    width: 14.5em;
}

.mCalendar .header td {
    color: green /* header font color */;
    border-bottom-color: slategray /* list header underline */;
}

.mCalendar .calDays {
    color: #333;
}
/* END Calendar */

/* BEGIN Report */
.miniTab {
    border-left: /* ERROR parsing css file. Invalid substitution:BoxBorderLeftWidth */ /* ERROR parsing css file. Invalid substitution:BoxBorderLeftStyle */ /* ERROR parsing css file. Invalid substitution:BoxBorderLeftColor */;
    border-right: /* ERROR parsing css file. Invalid substitution:BoxBorderRightWidth */ /* ERROR parsing css file. Invalid substitution:BoxBorderRightStyle */ /* ERROR parsing css file. Invalid substitution:BoxBorderRightColor */;
    border-top: /* ERROR parsing css file. Invalid substitution:BoxBorderTopWidth */ /* ERROR parsing css file. Invalid substitution:BoxBorderTopStyle */ /* ERROR parsing css file. Invalid substitution:BoxBorderTopColor */;
    border-bottom: /* ERROR parsing css file. Invalid substitution:BoxBorderBottomWidth */ /* ERROR parsing css file. Invalid substitution:BoxBorderBottomStyle */ /* ERROR parsing css file. Invalid substitution:BoxBorderBottomColor */;
}

.noTableSidebar {
    position: static;
}
/* END Report */

/* BEGIN Color Correction */
body .primaryPalette,
body .primaryPalette a,
body .bPageTitle .secondaryPalette,
body .bPageTitle .secondaryPalette a,
body .secondaryPalette .lbHeader,
body .secondaryPalette .lbHeader a,
body .pbSubheader,
body .pbSubheader a {
    color: green /* header font color */;
}
/*
 * Overrides to handle non-standard color palettes
 */
.bMyCalendar .primaryPalette,
.bMyCalendar .secondaryPalette,
.bMultiuserCalendar .primaryPalette,
.bMultiuserCalendar .secondaryPalette {
    background-color: lightgreen /* portal base color */;
    border-color: lightgreen /* portal base color */;
}

.bMyCalendar .bPageBlock,
.bMultiuserCalendar .bPageBlock,
.bMyDashboard .bPageBlock {
    background-color: mintcream /* box bg color */;
    background-image: none;
    border: 1px /* box border width */ solid /* box border style */ forestgreen /* box border color */;
}
/* END Color Correction */




