.tablecls table>thead .slds-cell-fixed.slds-has-button-menu .slds-th__action{
  background: #f9a23d;
  color:white;
}
 .tablecls table>thead .slds-cell-fixed.slds-has-button-menu .slds-th__action:hover{
 background: #f9a23d;
    color:white;
 }
.tablecls table>thead .slds-cell-fixed .slds-th__action{
  background: #f9a23d;
  color:white;
}
 .tablecls table>thead .slds-cell-fixed .slds-th__action:hover{
 background: #f9a23d;
    color:white;
 }
.btnClass .slds-button.slds-button_brand{
	background:#002fa7;
}