<style type="text/css">
		body .x-btn-pressed, body .x-btn-click, body .x-btn-menu-active, body button:active, body .btn:active, body .btnPressed, body .btnCancel:active, body .menuButton .menuButtonButton:active {
			background-position: left bottom !important;
			border-color: #585858 #585858 #939393 !important;
   		}
		body button, body .x-btn, body .btn, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton {
    		background: none !important;
   		}
		body button:hover, body .btn:hover, body .btnCancel:hover, body .menuButton .menuButtonButton:hover{
    		background-position: left bottom !important;
   		}
    	.b1 {color:Red;}

    	.centerAlign TD {
     		 vertical-align:middle !important;
     		 height:100% !important;
   		}
   
   		#overlay {
   			background: no-repeat scroll top center gray;
		  	border: 0px solid #000000;
		    bottom: 0;
		    left: 0;
		    opacity: 0.75;
		    position: absolute;
		    top: 0;
		    visibility: hidden;
		    width: 100%;
		    z-index: 1000;
	    }
   
   		.columnAlign{
      	  	width:255px !important;
       		float:right !important;
    	}
    	.selectListWidth{
        	width:250px !important;
    	}
    	.headerClassDiv {
	        background: url('/img/alohaSkin/grid_headerbg.gif') repeat-x scroll 0 bottom #FFFFFF !important;
	        border-width: 0 0 1px 1px !important;
	        color: #000000 !important;
	        font-size: 0.9em !important;
	        font-weight: bold !important;
	        padding: 5px 2px 4px 5px !important;
	        width:313px !important;
	        float:left !important;
	        text-align:center !important;
    	}
	   
    
    	.bPageBlock .detailList .dataCol {
        	width: auto !important;
        	vertical-align: middle !important;
    	}
    
    	.bPageBlock .detailList th, .bPageBlock .detailList .centerAlign TD {
        	vertical-align: middle !important;
    	}
    
    	.searchBox{
        	background-image:url('/img/func_icons/util/search16.png') !important;
        	background-repeat:no-repeat !important;
        	padding-left:20px !important;
       		/* style="width:250px;" */
      	} 
    	.panelGroupTd TD{
        	vertical-align:middle !important;
    	}
   </style>