.THIS .errorMessageDiv {
    margin-left: 30%;
}

.THIS .searchBtnWrap {
    margin-top: 25px;
}

.THIS .box-height {
    height: calc(1.875rem + 2px);
}

.THIS .slds-form-element__static {
    padding-right: .5rem;
    padding-top: .25rem;
}

.THIS .spinnerHolder {
    z-index: 10000;
    position: fixed;
}

.THIS .slds-truncate lightning-formatted-url a,
.THIS .slds-truncate lightning-formatted-email a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .label-hidden.slds-form-element label {
    display: none;
}

.THIS .help-hidden.slds-form-element lightning-helptext {
    display: none;
}

.THIS .slds-spinner_container {
    background-color: rgb(0, 0, 0, 0);
    margin: 200px 100px;
    z-index: 10000;
    position: fixed;
}

.THIS .slds-table thead th {
    padding: 15px;
    font-weight: bolder;
    color: #000000;
    line-height: 20px;
}

.THIS .slds-table tbody th {
    padding: 15px;
    line-height: 20px;
}

.THIS .alignRight {
    text-align: right;
}

.THIS .slds-checkbox_on {
    display: none !important;
}

.THIS .slds-checkbox_off {
    display: none !important;
}

.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox_faux:after,
.THIS .durationtoggle .slds-checkbox_toggle .slds-checkbox--faux:after,
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox_faux:after,
.THIS .durationtoggle .slds-checkbox--toggle .slds-checkbox--faux:after {
    background-color: token(colorBrand);
}

.THIS .slds-checkbox_toggle .slds-checkbox_faux::after,
.THIS .slds-checkbox_toggle .slds-checkbox--faux::after,
.THIS .slds-checkbox--toggle .slds-checkbox_faux::after,
.THIS .slds-checkbox--toggle .slds-checkbox--faux::after {
    background-color: #949494;
    width: 18px;
    height: 18px;
}

.THIS .slds-checkbox_toggle .slds-checkbox_faux,
.THIS .slds-checkbox_toggle .slds-checkbox--faux,
.THIS .slds-checkbox--toggle .slds-checkbox_faux,
.THIS .slds-checkbox--toggle .slds-checkbox--faux {
    background-color: #fff !important;
    border: 2px solid #b7b7b7 !important;
}

.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,
.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,
.THIS .slds-checkbox_toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,
.THIS .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before,
.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux::before,
.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux::before,
.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox_faux::before,
.THIS .slds-checkbox--toggle [type="checkbox"]:checked ~ .slds-checkbox--faux::before,
.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux::before,
.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--faux::before {
    width: 18px;
    height: 18px;
    background-color: token(colorBrand);
}

.THIS .fieldWidth {
    width: 42% !important;
}