.THIS{
    color:#000;
} 
.THIS .label-hidden > label {
    display: none;
}
.THIS td {
    border: 1px solid #d8d8d8;
    font-size:12px!important;
}
.THIS td:not(:first-child) {
    border-left: 0;
}

.THIS td:not(:last-child) {
    border-right: 0;
}
.THIS .add-btn,.THIS .add-btn-pu {
    border-radius:3px;
    padding-left:.5rem;
    padding-right:.5rem;
    min-width:63px;
}
.THIS .add-btn-pu {
    border-color: #FEB624;
    background-color: #FEB624;
}

.THIS .remove-btn {
    color: token(colorTextLink);
    font-size: 12px;
    padding: 5px;
    outline: 0!important;
    transition:all .3s;
}

/*.THIS .removebtnwrap {
    padding-left:0;
}*/
.THIS .remove-btn:hover {
    text-decoration:underline;
}
.THIS lightning-input {
    margin:0 auto;
}
.THIS .slds-icon-utility-level-down svg {
    width:11px;
    fill:#000;
    margin:0 5px 0 10px;
}
/*.THIS .slds-button[disabled], .THIS .slds-button:disabled {
    background-color: #f4bfbb!important;
    border-color:#f4bfbb!important;
}*/
.THIS .headingrow {
    padding:12px 8px;
}

/*.THIS td:not(.headingrow) {
   padding:.5rem 0!important;
}*/

.THIS .inputpadng input
{
    padding: 0 10px;
}
.THIS .slds-form_inline 
{
    padding: 0 -5px;
}
.THIS .selectwrap .slds-form-element label
{
    display:none;
}