.THIS {
  margin-bottom: 20px;
  color: #000;
}

.THIS .sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 200px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.THIS .changeStyle {
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 200px;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.THIS .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.THIS .sidenav a:hover {
  color: #f1f1f1;
}

.THIS .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.THIS h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}

.THIS .editiontype {
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
  color: #000;
  padding-top: 8px;
}

.THIS lightning-tab-bar ul {
  border-bottom: 0 !important;
}

.THIS lightning-tab-bar li {
  margin-right: 10px;
  cursor: pointer;
}

.THIS lightning-tab-bar ul li a {
  font-size: 16px;
  text-decoration: none !important;
  transition: all .3s;
  color: #000 !important;
  display: flex;
}

.THIS .slds-tabs_default__item.slds-active::after,
.THIS .slds-tabs_default__item.slds-is-active::after,
.THIS .slds-tabs--default__item.slds-active::after,
.THIS .slds-tabs--default__item.slds-is-active::after {
  height: 2px;
}

.THIS .slds-tabs_default__item:not(.slds-is-active):hover::after,
.THIS .slds-tabs--default__item:not(.slds-is-active):hover::after {
  background-color: transparent;
}

.THIS .slds-tabs_default__item.slds-is-active:hover::after,
.THIS .slds-tabs--default__item.slds-is-active:hover::after {
  background-color: token(colorBrand);
}

.THIS lightning-tab-bar ul li:not(.slds-is-active) a:hover {
  color: token(colorTextLink) !important;
}

.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
  padding: 0 !important;
}

.THIS .subcategorywrap {
  padding: 15px 0 5px;
  margin: 15px 0;
  border: solid #cccccc;
  border-width: 1px 0 1px 0;
}

.THIS .subcategorywrap .slds-button {
  border-radius: 3px;
  margin-bottom: 10px;
  border-color: #b7b7b7;
  color: #000;
  outline: 0;
  margin-right: 10px;
}

.THIS .subcategorywrap .slds-button_outline-brand:hover, .THIS .subcategorywrap .slds-button_outline-brand:focus {
  background-color: transparent;
}

.THIS .subcategorywrap .slds-button+.slds-button {
  margin-left: 0;
}

.THIS .subcategorywrap .slds-button.selectedcategory {
  border-color: token(colorBrand);
  color: token(colorTextLink);
}

.THIS .slds-table thead th {
  color: #000;
  padding: 13px .5rem;
}

.THIS .productsummarywrap {
  /* width:400px; */
  width: 30vw;
}

.THIS .producteditionleftwrap {
  /* width:calc(100vw - 450px); */
  width: 70vw;
}

.THIS .producteditionleftwrap thead th {
  vertical-align: text-top;
  padding: 10px .5rem;
}

.THIS .productstable thead th {
  background-color: transparent;
}

.THIS .subcategorywrap .slds-button-ps {
  border-radius: 3px;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 10px;
}

.THIS .errorMessageDiv {
  margin-left: 15%;
}

.THIS .noProductMsg {
  margin-left: 15%;
}

.THIS .subcategorywrap.nosubcategorywrap {
  padding: 15px 0 5px;
  margin: 15px 0;
  border: solid #cccccc;
  border-width: 1px 0 0 0;
}