.THIS {
    padding-bottom:20px;
}

.THIS legend {
    color:#000; 
	padding: 20px 0 10px 0;
    font-size: 16px;
}
.THIS td {
    border: 1px solid #d8d8d8;
    padding: 14px 8px;
}
.THIS td:not(:first-child) {
    border-left: 0;
}

.THIS td:not(:last-child) {
    border-right: 0;
}
.THIS .slds-table thead th {
    color:#000;
    padding:13px .5rem;
}
.THIS .totalrow td {
    font-size:14px;
}