iframe.THIS {
    border: none;
}
.THIS.dev-button {
    position: absolute;
    top: -40px;
    right: 0;
    display: flex;
    flex-direction: column;
}
.THIS.dev-button button {
    align-self: flex-end;
}