.THIS .myCss thead th span{
    background-color: #3258a8;
    color: white;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
    transition: .2s;
}
.blackscreen{
    transition: .2s;
}