.no-card-padding {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
    border: none !important;
}

.custom-tabs .slds-tabs_default {
    background: white !important;
    border: none !important;
}

lightning-tabset .slds-tabs_default__link {
    font-weight: bold;
    font-size: 1rem;
    background: white !important;
}

lightning-tabset .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
    border-bottom: 3px solid #0070d2;
}

.no-space {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
}

.neon-card .slds-card{
  box-shadow: 0 0 10px 2px #00B7EB, 0 0 20px 4px #00B7EB;
  border: 1px solid #00B7EB;
  transition: box-shadow 0.3s ease-in-out;
}

.neon-card:hover {
  filter: drop-shadow(0 0 24px #00f6ff);
}

.ai-icon {
  margin-right: 8px;
  color: #0070d2;
  vertical-align: middle;
}