.input2 {
  max-width: 12%;
}

.input1 {
  max-width: 30%;
}

.input3 {
  max-width: fit-content;
  display: flex;
  align-items: flex-end;
}

.box {
  display: flex;
  align-items: inherit;
  height: 53px;
}

.slds-button {
  height: fit-content;
}