.background {
    background-image: radial-gradient(#F5F7FA,#EFF1F7,#E1E7F3, #C1D2F1);
    border-radius: 4px;
    font-family: Arial,Helvetica,sans-serif;
    border: 1px solid silver;
    box-shadow: 0px 3px 8px silver;
}

.title {
    font-weight: bold;
}

.required {
    color: red;
    display: inline-flex;
}