.THIS.slds-show_inline-block.slds-hide{
    display: none;
}

.THIS .info-icon svg{
    fill: rgba(255,255,255,255) !important;
}

.THIS .info-icon-container{
    padding: 5px;
}
button[disabled].THIS{
    pointer-events: all !important;
}
.THIS .black-font {
    color: black;
}