.THIS {
}
.divCss.THIS {
    width: 720px;
    height: inherit;
    
}
.THIS .sWrapTest {
    height:auto;
    width:auto;
    overflow-x: auto;
    overflow-y: auto;
}
.THIS .slds-modal__container{ 
    /*background-color: rgba(255, 255, 255);*/
     width: 80% !important;
	max-width: 80% !important;
   }

.THIS a { color: black; }