.rn_AdvancedSubWidget{border-bottom:1px solid #a5a5a5;margin-bottom:17px;padding-bottom:17px;}
.rn_AdvancedSubWidget:after{content:" ";display: block;visibility:hidden;height:0;font-size:0;clear:both;}
* html .rn_AdvancedSubWidget{zoom:1;}
*:first-child+html .rn_AdvancedSubWidget{display:inline-block;}
.yui-skin-sam .rn_AdvancedSearchDialog{border:0 none;}
.yui-skin-sam .rn_AdvancedSearchDialog .hd{background:transparent url(rc_ContentContainerHeaders.png) no-repeat 0 -42px;width:520px;height:33px;padding:9px 22px 0 22px;margin:0;position:absolute;top:-32px;font-size:13px;font-weight:bold;line-height:18px;color:#fff;border:0 none;}
.yui-skin-sam .rn_AdvancedSearchDialog .container-close{background:url(rc_ContentContainerHeaders.png) no-repeat -564px -52px;width:16px;height:16px;position:absolute;right:16px;top:-22px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd{background:transparent url(rc_ContentContainerMiddle_DialogLarge.png) repeat-y;width:520px;padding:24px 22px 32px 22px;margin:0;border:0 none;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd form{*display:none;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd label{display:block;font-size:13px;font-weight:bold;float:left;padding-top:4px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_SortList2 label{width:205px;clear:both;padding-top:3px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_KeywordText2 .rc_InputTypeTextWrapper{width:295px;background:url(rc_CustomFormInput.png) no-repeat 0 -320px;padding:4px 10px 5px 10px;*padding-bottom:3px;float:right;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_KeywordText2 .rc_InputTypeTextWrapper input{width:295px;}
.yui-skin-sam .rn_AdvancedSearchDialog .bd .rn_SortList2 select{width:160px;}
.rn_AdvancedSearchDialog .rn_DialogContent .rn_SearchTips{position:absolute;left:22px;bottom:29px;z-index:100;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft{background:transparent url(rc_ContentContainerBottoms.png) no-repeat 0 -18px;width:520px;height:18px;padding:0 22px;margin:0;font-size:12px;line-height:15px;border:0 none;position:relative;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group{displat:block;width:520px;position:absolute;top:-34px;right:18px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button{background-position:0 -300px;width:106px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button:hover{background-position:-158px -300px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button.default{background:url(rc_SearchBox.png) no-repeat -433px -126px;width:106px;margin-right:7px;}
.yui-skin-sam .rn_AdvancedSearchDialog .ft .button-group button.default:hover{background-position:-539px -126px;}
.rn_ProductCategorySearchFilter{}
.rn_ProductCategorySearchFilter .rn_Label{display:block;font-size:13px;font-weight:bold;float:left;width:205px;padding-top:4px;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton{background:none;width:314px;height:auto;overflow:visible;display:block;padding:0;margin:0;border:0 none;font-family:Helvetica, Arial, sans-serif;font-size:12px;text-align:left;text-indent:0;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton::-moz-focus-inner{padding:0;border:0;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton:hover, .rn_ProductCategorySearchFilter button.rn_DisplayButton:focus{}
.rn_ProductCategorySearchFilter .rc_CustomDropDownWrapper_1{background:transparent url(rc_CustomFormDropDownHeaders.png) no-repeat left top;display:block;padding-top:8px;}
.rn_ProductCategorySearchFilter .rc_CustomDropDownWrapper_2{background:transparent url(rc_CustomFormDropDownBottoms.png) no-repeat left bottom;display:block;padding-bottom:8px;}
.rn_ProductCategorySearchFilter .rc_CustomDropDownWrapper_3{background:transparent url(rc_CustomFormDropDownMiddle.png) no-repeat left center;display:block;margin:-2px 0;padding:0 26px 0 10px;}
.rn_ProductCategorySearchFilter .underlay{display:none;}
.rn_ProductCategorySearchFilter .yui-panel-container{padding:0;}
.rn_ProductCategorySearchFilter .rn_Panel{background:#fff;padding:8px 6px;border:1px solid #a5a5a5;max-height:200px;overflow:auto;}
.rn_ProductCategorySearchFilter table{border-collapse:collapse;}
.rn_ProductCategoryList{float:left;overflow:hidden;width:330px;}
.rn_ProductCategoryList .rn_HierList{width:155px;margin:0 10px 18px 0;line-height:18px;}
.rn_ProductCategoryList .rn_HierList h3{}
.rn_ProductCategoryList .rn_HierList h3 a{}
.rn_Multiline2{overflow:hidden;}
.rn_Multiline2 .rn_Loading{background:url(loading.gif) no-repeat center center;height:auto !important;height:66px;min-height:66px;}
.rn_Multiline2 .rn_Element1{font-size:13px;}
.rn_Home .rn_Multiline2 .rn_Element1{font-size:12px;}
.rn_Multiline2 .rn_Element2{}
.rn_Multiline2 .rn_Element3{}
.rn_Multiline2 .rn_ElementsHeader, .rn_Multiline2 .rn_ElementsData{font-size:11px;line-height:20px;color:#888;}
.rn_Multiline2 ol{}
.rn_Multiline2 li{margin-bottom:15px;}
.rn_Home .rn_Multiline2 ol{margin-top:2px;}
.rn_Home .rn_Multiline2 li{margin-bottom:18px;}
.rn_AnswerList .rn_Multiline2 ol{padding-top:16px;margin-top:7px;border-top:1px solid #a5a5a5;}
