body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0 none;}
address, caption, cite, code, dfn, th, var{font-style:normal;font-weight:normal;}
ul, ol, li, dl, dt, dd{list-style:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:'';}
abbr, acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;margin:0;padding:0;}
legend{color:#000;padding:0;}
a img, iframe{border:0 none;}
html{font-family:Helvetica, Arial, sans-serif;}
html[lang="ja-JP"], html[lang="ja-JP"] input, html[lang="ja-JP"] textarea, html[lang="ja-JP"] select{font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS PGothic", "MS Pゴシック", Helvetica, Arial, sans-serif;}
body{background:#fff url(rc_TopBackground.png) repeat-x;font-size:12px;line-height:15px;color:#666;text-align:left;}
h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:20px;color:#333;font-weight:normal;border-bottom:1px solid #a5a5a5;padding-bottom:10px;margin-bottom:10px;width:100%;}
h2{font-size:16px;line-height:18px;color:#333;border-bottom:1px solid #a5a5a5;padding-bottom:7px;margin-bottom:10px;width:100%;}
h3{font-size:13px;}
h4{font-size:12px;}
h5{font-size:11px;}
h6{font-size:11px;}
p{margin-bottom:10px;}
table{border-collapse:collapse;border-spacing:0;}
hr{margin:10px 0;}
strong{font-weight:bold;}
caption{font-size:13px;font-weight:bold;}
blockquote{margin:10px 30px;}
input, textarea, select{font-family:Helvetica, Arial, sans-serif;font-size:13px;color:#666;}
input[type="text"], input[type="password"], textarea{border:0 none;background:transparent;}
textarea{overflow:auto;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus{outline:0 none;}
.rc_InputTypeTextWrapper{display:block;padding:7px 10px;}
.rc_TextareaWrapper{display:block;padding:7px 10px;}
input[type="submit"], button{cursor:pointer;border:0 none;background:transparent url(rc_CustomFormButton.png) no-repeat;height:30px;text-indent:-1000em;*text-indent:0;*padding-left:1000em;}
input[type="submit"]:hover, button:hover{background-position:-158px 0;}
input[type="submit"][disabled], button[disabled]{}
input[type="submit"]:focus, button:focus{outline :#000 dotted 1px\9}
#rn_Container{background:#fff;width:980px;height:100%;margin:14px auto 0 auto;text-align:left;}
#rn_Header{background:#fff;padding:14px 0 16px 0;font-family:Verdana, Helvetica, Arial, sans-serif;}
#rn_Logo{font-weight:bold;border:0 none;margin:0;padding:0;}
#rn_Logo a{background:url(rc_ATTLogo.png) no-repeat;display:inline-block;margin-left:19px;padding:16px 0 13px 60px;overflow:hidden;color:#0670b4;text-decoration:none;}
#rn_LoginStatus{display:none;}
#rn_Navigation{font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;}
#rn_NavigationBar{background:url(rc_NavigationBackground.png) no-repeat;height:36px;}
#rn_NavigationBar ul li{float:left;}
#rn_Body{background:url(rc_BodyMiddleBackground.png) repeat-y;position:relative;width:980px;margin-top:32px;}
#rn_MainColumn{background:url(rc_BodyTopBackground.png) no-repeat;float:left;position:relative;width:693px;min-height:340px;height:auto !important;height:340px;top:-18px;left:241px;padding:16px 263px 0 24px;margin-left:-241px;}
#rn_SideBar{float:right;position:relative;width:199px;top:-18px;padding:0 20px 0 21px;margin-top:16px;border-left:1px dashed #d0d0d0;}
#rn_Footer{background:url(rc_BodyBottomBackground.png) no-repeat;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;color:#999;padding:26px 0 20px 14px;position:relative;}
#rn_Footer a{color:#0a94d6;}
#rc_RingCentralCredit{position:absolute;right:0;top:28px;}
#rc_RingCentralCredit a{background:url(rc_PoweredByRingCentralLogo.png) no-repeat;display:block;text-indent:-1000em;width:134px;height:35px;}
#rn_Body:after{content:" ";display: block;visibility:hidden;height:0;font-size:0;clear:both;}
* html #rn_Body{zoom:1;}
*:first-child+html #rn_Body{display:inline-block;}
#rn_InChatButtonContainer:after{content:" ";display: block;visibility:hidden;height:0;font-size:0;clear:both;}
* html #rn_InChatButtonContainer{zoom:1;}
*:first-child+html #rn_InChatButtonContainer{display:inline-block;}
#rn_PreChatButtonContainer:after{content:" ";display: block;visibility:hidden;height:0;font-size:0;clear:both;}
* html #rn_PreChatButtonContainer{zoom:1;}
*:first-child+html #rn_PreChatButtonContainer{display:inline-block;}
.rn_ClearBoth{clear:both;}
a:link{color:#0670b4;text-decoration:none;}
a:visited{color:#609;text-decoration:none;}
a:hover{color:#0670b4;text-decoration:underline;}
a:active{outline:0 none;}
a:focus{}
h3 a:link, .rn_HelpResources a:link, #rn_DetailTools a:link{color:#666;text-decoration:none;}
h3 a:visited, .rn_HelpResources a:visited, #rn_DetailTools a:visited{color:#666;text-decoration:none;}
h3 a:hover, .rn_HelpResources a:hover, #rn_DetailTools a:hover{color:#666;text-decoration:underline;}
.rn_AnswerList .rn_ResultInfo2 a:link, .rn_AnswerList .rn_ResultInfo2 a:visited, .rn_AnswerList .rn_Multiline2 a:link, .rn_AnswerList .rn_Multiline2 a:visited{text-decoration:underline;}
.rn_AnswerList .rn_ResultInfo2 a:hover, .rn_AnswerList .rn_Multiline2 a:hover{text-decoration:none;}
.rn_ErrorMessage a:link, .rn_ErrorMessage a:visited, .rn_ErrorMessage a:active{color:#f00;text-decoration:underline;}
.rn_ErrorMessage a:hover{color:#f00;text-decoration:none;}
.rn_Overview h2 a:link, .rn_Overview h2 a:visited, .rn_Overview h2 a:active{color:#333;text-decoration:none;}
.rn_Overview h2 a:hover{color:#333;text-decoration:underline;}
.rn_HelpResources{}
.rn_HelpResources a{background:url(rc_HelpResourcesIcos.png) no-repeat;display:block;font-size:13px;line-height:18px;font-weight:bold;height:32px;padding-left:32px;}
.rn_HelpResources span{display:block;margin:-12px 0 20px 0;padding-left:32px;}
.rn_HelpResources .rn_Questions a{background-position: -1px 2px;}
.rn_HelpResources .rn_Chat a{background-position: 0 -31px;}
.rn_HelpResources .rn_Contact a{background-position: 0 -62px;}
.rn_HelpResources .rn_Feedback a{background-position: 0 -94px;}
.rn_HelpResources .rn_Community a{}
#rn_SearchControls{background:url(rc_SearchBox.png) no-repeat;position:relative;width:657px;height:126px;left:-9px;padding:0 26px;margin:12px 0 24px 0;}
#rn_SearchControls form{}
#rn_SearchControls .rn_SearchInput{float:left;position:relative;width:416px;margin-right:8px;}
#rn_SearchControls .rn_SearchInput .rn_AdvancedLink{position:absolute;top:94px;left:1px;color:#0670b4;}
#rn_SearchControls .rc_InputTypeTextWrapper{width:396px;background:url(rc_SearchBox.png) no-repeat -7px -126px;margin-top:56px;}
#rn_SearchControls .rn_SearchInput label{font-size:13px;font-weight:bold;color:#fff;position:absolute;top:9px;left:0;}
#rn_SearchControls .rn_SearchInput input{width:396px;}
#rn_SearchControls .rn_SearchButton2{display:inline;}
#rn_SearchControls .rn_SearchButton2 .rn_SubmitButton{width:106px;background:url(rc_SearchBox.png) no-repeat -433px -126px;margin-top:57px;}
#rn_SearchControls .rn_SearchButton2 .rn_SubmitButton:hover{background-position:-539px -126px;}
#rn_PageTitle{}
#rn_PageTitle.rn_Home, #rn_PageTitle.rn_QuestionList, #rn_PageTitle.rn_AnswerList{}
#rn_PageTitle.rn_Home{}
#rn_PageTitle h1, #rn_PageTitle h2, #rn_PageTitle h3, #rn_PageTitle h4, #rn_PageTitle h5, #rn_PageTitle h6{}
#rn_PageTitle p{}
.rn_AskQuestion .rc_HeaderDecoration span{background:url(rc_ArrowDown.png) no-repeat center right;padding-right:18px;}
#rn_PageContent{}
#rn_PageContent form h2, .rn_HeadingBar{font-weight:bold;font-size:16px;line-height:18px;color:#333;border-bottom:1px solid #a5a5a5;padding-bottom:7px;margin:23px 0 13px 0;}
form legend{font-size:0em;visibility:hidden;}
form fieldset{}
form button{}
form .rn_Column{margin-bottom:10px;}
.rn_HintBox{background-color:#F2F2F2;border:1px solid #DBDBDB;color:#222;opacity:.7;padding:4px 16px 2px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-topright:10px;}
.rn_Required{color:#ff7200;}
.rn_MessageBox{}
.rn_ErrorMessage{background:url(rc_ImportantIco.png) no-repeat;width:386px;padding:0 0 22px 34px;border-bottom:1px solid #a5a5a5;outline:0 none;font-size:13px;line-height:18px;}
.rn_ErrorLabel{color:#f00;}
.rn_ErrorField{}
.rn_InfoMessage{background:#FFFFE0 url(info.png) no-repeat;padding:6px 6px 4px 40px !important;}
.rn_Dialog{overflow:visible;}
.rn_Dialog ol, .rn_Dialog ul{padding:0.4em 0 0 1.8em;}
.rn_Dialog ol li{list-style:decimal outside none;}
.rn_Dialog ul li{list-style:disc outside none;}
.rn_Module{}
.rn_Module h3, .rn_Module h2{}
.rn_FloatRight{float:right;}
.rn_FloatLeft{float:left;}
.rn_Padding{}
.rn_Highlight{font-style:normal;font-weight:bold;}
.rn_ColumnContainer{width:100%;}
.rn_Column{width:48%;}
.rn_LeftColumn{float: left;padding:0 4px 0 0;}
.rn_RightColumn{float:right;padding: 0 0 0 4px;}
#rn_Summary{}
#rn_AnswerInfo{}
#rn_AnswerInfo div{}
#rn_AnswerDescription{font-size:16px;font-weight:bold;line-height:18px;color:#333;border-bottom:1px solid #a5a5a5;padding-bottom:7px;margin:23px 0 13px 0;}
#rn_AnswerDescription h1, #rn_AnswerDescription h2, #rn_AnswerDescription h3, #rn_AnswerDescription h4, #rn_AnswerDescription h5, #rn_AnswerDescription h6, #rn_AnswerDescription p{font-size:16px;font-weight:bold;line-height:18px;color:#333;border-bottom:0 none;padding-bottom:0;margin-bottom:0;}
#rn_AnswerText{}
#rn_FileAttach{}
.rn_QuestionDetail ol, .rn_QuestionDetail ul, .rn_AnswerDetail ol, .rn_AnswerDetail ul{margin-bottom:10px;}
.rn_QuestionDetail li, .rn_AnswerDetail li{margin-left:30px;}
.rn_QuestionDetail ol ol, .rn_QuestionDetail ol ul, .rn_QuestionDetail ul ol, .rn_QuestionDetail ul ul, .rn_AnswerDetail ol ol, .rn_AnswerDetail ol ul, .rn_AnswerDetail ul ol, .rn_AnswerDetail ul ul{margin-bottom:0;}
.rn_QuestionDetail ol li, .rn_QuestionDetail ul li ol li, .rn_AnswerDetail ol li, .rn_AnswerDetail ul li ol li{list-style-type:decimal;}
.rn_QuestionDetail ol li ol li, .rn_AnswerDetail ol li ol li{list-style-type:lower-alpha;}
.rn_QuestionDetail ul li, .rn_AnswerDetail ul li{list-style-type:disc;}
.rn_QuestionDetail ul li ul li, .rn_QuestionDetail ol li ul li, .rn_AnswerDetail ul li ul li, .rn_AnswerDetail ol li ul li{list-style-type:circle;}
#rn_UpdateQuestion textarea{}
#rn_QuestionThread{}
#rn_AdditionalInfo, #rn_DetailTools{}
#rn_AdditionalInfo{padding:0 20px;}
#rn_DetailTools{background:url(rc_DetailToolsBackground.png) no-repeat;position:relative;width:664px;height:26px;left:-3px;padding:6px 18px 0 20px;margin-top:33px;}
#rn_QuestionSubmit{margin-top:21px;}
#rn_PageContent.rn_Home ol{}
#rn_PageContent.rn_Home ol li{}
#rn_PageContent.rn_Home ol li img{}
#rn_PageContent.rn_Home ol li a{}
#rn_PageContent.rn_Home .rn_AnswersLink{}
.rc_MostPopularAnswers{float:right;overflow:hidden;width:330px;}
.rc_MostPopularAnswers .rn_AnswersLink{font-weight:bold;display:block;margin-top:8px;}
.rn_Overview{}
.rn_Overview div.rn_Questions, .rn_Overview div.rn_Notifs, .rn_Overview div.rn_Profile, .rn_Overview div.rn_Contracts{margin-bottom:15px;}
.rn_Overview h2{border:0 none;margin:17px 0 3px 0;padding:0;position:relative;left:-3px;}
.rn_Overview h2 a, .rn_Overview h2 b{background:url(rc_AccountOverviewIcos.png) no-repeat;display:inline-block;height:18px;padding-top:6px;}
.rn_Overview a.rn_Questions{background-position:-4px 0;padding-left:24px;}
.rn_Overview a.rn_Profile{}
.rn_Overview a.rn_Notifs{background-position:0 -23px;padding-left:34px;}
.rn_Overview b.rn_Contracts{}
.rn_QuestionList{}
.rn_QuestionList .rn_ResultInfo2 .rn_Results{margin-right:10px;}
.rn_QuestionList .rn_Grid2{margin-top:3px;}
.rc_Notifications{}
.rc_Notifications h2{border:0 none;margin:23px 0 7px 0;padding:0;}
.rc_Notifications .rn_MessageBox{outline:0 none;font-size:13px;font-weight:bold;color:#f00;position:relative;top:-23px;margin-bottom:-15px;text-align:right;}
.rc_LogInPage h1{margin-bottom:13px;}
.rc_LogInPage .rn_LeftColumn{width:330px;padding:0;}
.rc_LogInPage .rn_RightColumn{width:290px;}
.rn_CreateAccountInfo{background:#f2f2f2;border:1px solid #a5a5a5;font-size:13px;line-height:18px;margin-bottom:24px;overflow:hidden;padding:12px 20px 14px 20px;}
.rn_CreateAccountInfo h2{}
.rn_CreateAccountInfo button{background-position:0 -480px;width:158px;position:relative;left:-4px;}
.rn_CreateAccountInfo button:hover{background-position:-158px -480px;}
.rn_CreateAccountInfo ul{margin-top:10px;}
.rn_CreateAccountInfo li{background:url(../../../../euf/rightnow/optimized/1297210009/themes/ringcentral/images/layout/createAccount.png) no-repeat;height:32px;list-style-type: none;margin:4px 0 16px 0;padding:4px 0px 4px 40px;}
.rn_CreateAccountInfo li.rn_Communicate{background-position:0 0;}
.rn_CreateAccountInfo li.rn_Feedback{background-position:0 -46px;}
.rn_CreateAccountInfo li.rn_Customize{background-position:0 -96px;}
#rn_SkipNav a{left:0px;height:1px;overflow:hidden;position:absolute;top:-500px;width:1px;}
#rn_SkipNav a:active, #rn_SkipNav a:focus{background-color:#FFF;height:auto;left:auto;top:auto;width:auto;}
@media print{body{font-size:1em;}
#rn_DetailTools, #rn_Header, #rn_Navigation, #rn_SideBar, #rn_Footer{display:none;}
}
body.chat-pages{background:#fff none;}
#rn_ChatContainer{position:relative;margin:42px 10px 0 10px;}
#rn_ChatDialogTitle{background:url(rc_ChatHeaderLeft.png) no-repeat;height:42px;padding-left:23px;position:absolute;top:-32px;right:0;left:0;}
#rn_ChatDialogTitle h2{background:url(rc_ChatHeaderRight.png) no-repeat top right;height:42px;padding-right:23px;margin:0;border:0 none;color:#fff;}
#rn_ChatDialogTitle h2 span{background:url(rc_ChatHeaderMiddle.png) repeat-x;display:block;height:34px;padding-top:8px;}
#rn_ChatContainer #rn_PageContent{background:url(rc_ChatBodyLeft.png) repeat-y;padding-left:23px;margin-top:32px;}
#rn_ChatContainer #rn_PageContent .rn_Padding{background:url(rc_ChatBodyRight.png) repeat-y top right;padding-right:23px;}
#rn_ChatContainer #rn_PageContent .rn_Padding #rn_ChatDialogContainer{background:#e4f2f7;padding:1px 0;}
#rn_ChatContainer #rn_Footer{background:url(rc_ChatFooterLeft.png) no-repeat;padding:0 0 0 23px;}
#rn_ChatContainer #rn_Footer #rn_RightNowCredit{background:url(rc_ChatFooterRight.png) no-repeat top right;padding-right:23px;}
#rn_ChatContainer #rn_Footer #rn_RightNowCredit .rn_FloatRight{background:url(rc_ChatFooterMiddle.png) repeat-x top;float:none;padding:26px 0 20px 0;}
#rn_ChatContainer #rn_Footer .rn_RightNowLogo{float:right;}
#rn_ChatDialogHeaderButtonContainer{margin-top:23px;}
#rn_ChatDialogHeaderButtonContainer button{cursor:pointer;border:0 none;background:transparent url(rc_ChatHeaderButtons.png) no-repeat;height:16px;text-indent:0;color:#666;padding-right:0;width:auto;*width:1;overflow:visible;font-family:Helvetica, Arial, sans-serif;font-size:12px;}
#rn_ChatDialogHeaderButtonContainer button:hover, #rn_ChatDialogHeaderButtonContainer button:focus{}
#rn_InChatButtonContainer{position:relative;right:-4px;}
#rn_PreChatButtonContainer{position:relative;right:-4px;margin:2px 0 28px 0;}
#rn_ChatQueueSearchContainer{overflow:hidden;}
#rn_ChatLogo{}
@media print{#rn_ChatDialogHeaderContainer, #rn_InChatButtonContainer, #rn_PreChatButtonContainer, #rn_ChatQueueSearchContainer, #rn_ChatLogo{display:none;}
#rn_ChatContainer{border:0;}
}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;}
.mask.block-scrollbars{overflow:auto;}
.masked select,.drag select,.hide-select select{_visibility:hidden;}
.yui-panel-container select{_visibility:inherit;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.show-scrollbars{overflow:auto;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}
.yui-tt-shadow{position:absolute;}
.yui-override-padding{padding:0!important;}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.yui-skin-sam .mask{background-color:#000;opacity:.25;filter:alpha(opacity=25);}
.yui-skin-sam .yui-panel-container{padding:0 1px;*padding:2px;}
.yui-skin-sam .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;*margin:0;*border:0;}
.yui-skin-sam .yui-panel .hd{border-bottom:solid 1px #ccc;}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{background-color:#F2F2F2;}
.yui-skin-sam .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;background:url(sprite.png) repeat-x 0 -200px;}
.yui-skin-sam .yui-panel .bd{padding:10px;}
.yui-skin-sam .yui-panel .ft{border-top:solid 1px #808080;padding:5px 10px;font-size:77%;}
.yui-skin-sam .container-close{position:absolute;top:5px;right:6px;width:25px;height:15px;background:url(sprite.png) no-repeat 0 -300px;cursor:pointer;}
.yui-skin-sam .yui-panel-container .underlay{right:-1px;left:-1px;}
.yui-skin-sam .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}
.yui-skin-sam .yui-panel-container.shadow{_padding:2px 4px 0 2px;}
.yui-skin-sam .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-3px;right:-3px;bottom:-3px;*top:4px;*left:-1px;*right:-1px;*bottom:-1px;_top:0;_left:0;_right:0;_bottom:0;_margin-top:3px;_margin-left:-1px;background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-sam .yui-dialog .ft{border-top:none;padding: 0 10px 10px 10px;font-size:100%;}
.yui-skin-sam .yui-dialog .ft .button-group{display:block;text-align:right;}
.yui-skin-sam .yui-dialog .ft button.default{font-weight:bold;}
.yui-skin-sam .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}
.yui-skin-sam .yui-dialog .ft span.default .first-child{border-color:#304369;}
.yui-skin-sam .yui-dialog .ft span.default button{color:#fff;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px;border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon{background:url(sprite.png) no-repeat 0 0;width:16px;height:16px;margin-right:10px;float:left;}
.yui-skin-sam .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}
.yui-skin-sam .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}
.yui-skin-sam .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}
.yui-skin-sam .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}
.yui-skin-sam .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}
.yui-skin-sam .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}
.yui-skin-sam .yui-tt .bd{position:relative;top:0;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEE69;}
.yui-skin-sam .yui-tt.show-scrollbars .bd{overflow:auto;}
.yui-skin-sam .yui-tt-shadow{top:2px;right:-3px;left:-3px;bottom:-3px;background-color:#000;}
.yui-skin-sam .yui-tt-shadow-visible{opacity:.12;filter:alpha(opacity=12);}