.THIS .spinnerHolder {
    margin-top:20% !important;
}

.THIS .slds-text-heading--medium {
    color: #1d2327;
    font-weight: lighter;
}

.THIS .slds-modal__container {
    width: 50%;
}

.THIS .slds-p-around--medium {
    padding-left: 20%;
}

.THIS .selectRecordType {
    color: #50575e;
    padding-left: 3%;
}

.THIS .recordTypesWrapper {
    padding-left: 20%;
}

.THIS .recordTypeItem {
    color: #50575e;
    margin: 0px 5px 0px 15px;
}

.THIS .recordTypeName {
    color: #50575e;
    padding-left: 5%;
}

.THIS .recordTypeDescription {
    color: #50575e;
    padding-left: 14%;
    padding-bottom: 2%;
}

.THIS .invoiceRequestDisabled {
    padding-left: 1.5%;
}