.main {
  flex: 1;
  background: #fff;
  position: relative;
}

.expandable {
  transition: all .5s ease-in-out;
}

.left ol {
  width: 100%;
}

.view-button:focus {
    box-shadow: none;
}

.refresh-on-backdrop {
    background: transparent;
}


.slds-progress_vertical .slds-progress__item:before {
    top: 0;
    bottom: 90%;
}

.slds-progress_vertical .slds-progress__item::after {
    top: 10%;
    bottom: 0;
}

li.slds-progress__item.slds-is-completed::after {
    --lwc-progressBarColorBackgroundFill: #4BCA81;
    top: 19%;
}
li.slds-progress__item.slds-is-active::before {
    --lwc-progressBarColorBackgroundFill: #4BCA81;
}
.slds-progress_vertical .slds-progress__item.slds-is-completed  {
    --lwc-progressBarColorBackgroundFillSuccess: #4BCA81;
}