.THIS {
    cursor: pointer;
}

.THIS.order-row {
    background: rgba(204, 204, 204, .1);
}

tr.THIS.order-row th,
tr.THIS.order-row td {
    padding: 0;
}

.THIS.order-row.row-head th,
.THIS.order-row.row-head td {
    border-top: 2px solid rgb(216, 221, 230);
    padding-top: .5rem !important;
}

.THIS.order-row.row-head th > div,
.THIS.order-row.row-head td > div {
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS.order-row.last th,
.THIS.order-row.last td {
    padding-bottom: .5rem !important;
}

.THIS.order-row th > div,
.THIS.order-row td > div {
    padding: .5rem;
}

.THIS.order-row.row-head + .order-row th,
.THIS.order-row.row-head + .order-row td {
    border-top: none;
}

.THIS.order-row:hover th,
.THIS.order-row:hover td {
    box-shadow: none !important;
    background-color: transparent !important;
}

.THIS.order-row th:first-child,
.THIS.order-row td:first-child {
    padding-left: 5% !important;
}

.THIS.order-row.row-head + .item th > div,
.THIS.order-row.row-head + .item td > div {
    border-top: none;
}

.THIS .arrow-icon {
    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}

.THIS .orders table {
    background: transparent;
    border-collapse: initial;
}

.THIS .orders table thead th {
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .orders table tbody th,
.THIS .orders table tbody td {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.THIS .orders table tbody tr:first-child th,
.THIS .orders table tbody tr:first-child td {
    border-top: 1px solid transparent;
}

.THIS .orders table.slds-table--striped tbody tr:nth-of-type(even) > th,
.THIS .orders table.slds-table--striped tbody tr:nth-of-type(even) > td {
    /*background-color: rgb(238, 243, 248);*/
}

.THIS .orders .slds-table:not(.slds-no-row-hover) tbody tr:hover > th,
.THIS .orders .slds-table:not(.slds-no-row-hover) tbody tr:hover > td {
    /*background-color: rgb(216, 237, 255);*/
    border-top: 2px solid rgb(216, 221, 230);
    border-bottom: 2px solid rgb(216, 221, 230);
}

.THIS .orders .slds-table:not(.slds-no-row-hover) tbody tr:first-child:hover > th,
.THIS .orders .slds-table:not(.slds-no-row-hover) tbody tr:first-child:hover > td {
    border-top: 1px solid rgb(216, 221, 230);
}

.THIS .orders > div {
    font-size: 95%;
    padding-left: 5%;
    background: rgba(204, 204, 204, .1);
    border-top: 2px solid rgb(216, 221, 230);
}

.THIS .orders-head {
    padding-left: 1.5rem;
}

.THIS .inactive {
    opacity: .6;
    background: rgb(244, 246, 249);
}

.THIS .inactive:hover th,
.THIS .inactive:hover td {
    background: rgb(238, 241, 245) !important;
}

.THIS .left-padding {
    padding-left: 1rem;
}