.THIS .leftPaddingClass {
    padding-left: 2rem !important;
}
 
.THIS .pillSize{
 width:100%;
}

.THIS span.remove .slds-pill__remove {
    display: none !important;
}

.THIS .pillSize span.slds-pill__label {
    width:100%;
}