.THIS.transaction-view {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.THIS .slds-text-link_faux:hover,
.THIS .slds-text-link_faux:active,
.THIS .slds-text-link_faux:focus {
    border-bottom: none;
}

/* Account Migrated Warning */
.THIS .account-migrated-warning {
    background-color: #F59C27 !important;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

/* Message */
.THIS .message-block {
    height: 100%;
    flex-grow: 1;
}

.THIS .message-block p {
    text-align: center;
    font-weight: 400;
    font-size: 1.3em;
    color: #8c9baf;
    font-style: italic;
}

/* Fixed Header */
.THIS .fixed-header.slds-hide {
    display: none;
}

.THIS .fixed-header {
    position: fixed;
    display: flex;
    z-index: 10;
    background: #FFF;
    color: rgb(81, 79, 77);
}

.THIS .fixed-header.fixed-header__pushed {
    position: absolute;
}

.THIS .fixed-header > div {
    padding: .5rem;
}

.THIS .fixed-header > div:first-child {
    padding-left: 1.5rem;
}

/* Placeholder Row */
.THIS .placeholder th {
    height: 2rem;
}

/* Refund Input */
.THIS .refund-input {
    max-width: 7.5rem;
}

.THIS .refund-input .slds-form-element__control {
    width: 100%;
}

.THIS .refund-input .slds-form-element__help {
    white-space: normal;
}

/* Totals  */
.THIS .total_has-error .cOutputCurrency {
    color: rgb(194, 57, 52);
}

.THIS .date-picker {
    width: 9rem;
    vertical-align: top;
}

.THIS .slds-page-header__detail-block {
    max-width: 100%;
}

.THIS .header {
    background: #f9f9fa;
}

.THIS .header th {
    box-shadow: none !important;
}

.THIS .clickable {
    cursor: pointer;
}

.THIS .expand-icon {
    margin-left: -1.75rem;
}

.THIS.transaction-header .transaction-header__name:first-child {
    padding-left: 3rem;
}

.THIS .refund-popup {
    position: absolute;
    top: 0;
    left: 1px;
    padding: 4rem 1rem 0;
    z-index: 150;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
}

.THIS .available-refund {
    position: relative;
    z-index: 160;
}

.THIS .refund-popup .slds-card__header{
    display: none;
}

.THIS.header-details {
    z-index: 10;
}

.THIS.main-container {
    display: flex;
    flex: 1;
    z-index: 5;
}
.THIS .fixed-table-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.THIS .header-background {
    height: 2rem;
    background-color: #fafaf9;
    border-top: 1px solid rgb(217, 219, 221);
}
.THIS .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}
.THIS .fixed-table-container-inner th.fixed-th {
	position: static;
    padding-top: 0;
    padding-bottom: 0;
}
.THIS .th-inner {
    position: absolute;
    top: 0;
    text-align: left;
    height: 2rem;
    display: flex;
    align-items: center;
    z-index: 100;
}
.THIS .th-inner-hidden {
    height: 0;
    visibility: hidden;
}
.THIS .fixed-table-container table {
    border-top: none;
    table-layout: fixed;
    min-width: 1100px;
}
.THIS .fixed-table-container tr:first-child > td {
    border-top: none;
}
.THIS .date-error-message {
    margin-left: 5px;
}
.THIS .date-hyphen {
    vertical-align: middle;
    padding: 0 5px;
    margin: 30px 0 0 0;
}
.THIS th.fixed-th {
    width: 9rem;
}

.THIS th.col-txid {
    width: 20rem;
    min-width: 20rem;
}

.THIS .slds-tabs_default {
    background-color: transparent;
    height: 0.3rem;
}
.THIS [data-tab] {
    width: 17rem;
}
.THIS ul[role="tablist"]>li:nth-child(3n+3) {
    width: 2rem;
}
.THIS .slds-tabs_default__item {
    flex: 1;
    padding: 0;
}
.THIS .white-background {
    background: #FFF;
}