.THIS.action-wrapper {
  cursor: pointer;
}
.THIS .arrow-icon {
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
}

.THIS .show-action {
  position: relative;
  width: 8rem;
  padding: .5rem;
  margin-left: .5rem
}
.THIS .show-action p {
  font-style: italic;
  font-weight: 300;
}