.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.order-0 {
    order:0;
    width:10%;
}
.order-1 {
    order:1;
    width:80%;
}
.order-2 {
    order:2;
    width:10%;
}
.order-3 {
    order:3;
    width:10%;
}
.order-4 {
    order:4;
    width:30%;
}
.order-5 {
    order:5;
    width:25%;
}
.order-6 {
    order:6;
    width:15%;
}
.order-7 {
    order:7;
    width:10%;
}
.order-8 {
    order:8;
    width:10%;
}
.file-size-block {
    display:block;
}
.separator {
    margin-bottom: 0.5rem;
}
.file-section {
    width: 12rem;
    height: 12rem;
    margin: 0.3rem;
    background-color: #c3c8cd;
    border-radius: .25rem;
}
div:hover {
    background-color: #dadddf;
    border-radius: .25rem;
}
hr {
    border-top: 0.1rem solid #e5e5e5;
    margin-top: 1rem;
}
.thumbnailImg, .icon{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 6.6rem;
}
.icon {
    margin-left: 4.5rem;
    padding-top: 2rem;
}