.THIS .slds-combobox__input.lightningInput.slds-form-element {
    padding: 0;
}

.THIS .slds-combobox__input .slds-input:focus,
.THIS .slds-combobox__input .slds-input:active {
    outline: 0;
    box-shadow: none;
}

.THIS .slds-combobox__input label {
    display: none;
}

.THIS .slds-combobox_container {
    border-radius: .25rem;
}

.THIS .slds-has-inline-listbox .slds-combobox__input {
    box-shadow: 0 0 0 2px #fff inset, 0 0 0 3px #d8dde6 inset;
}

.THIS .listbox-container {
    max-height: 5rem;
}

.THIS .slds-listbox {
    max-height: 17rem;
    transition: height .3s ease-out,
    opacity .1s linear,
    visibility .1s linear !important;
}

.THIS .item-spinner {
    overflow: hidden;
    position: relative;
    height: 44px;
}

.THIS [role=combobox] input[readonly].slds-combobox__input {
    padding-left: 2rem;
}

.THIS .require-checker-field {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 2rem;
    opacity: 0;
}

.THIS .inline-spinner {
    width: 1rem;
    display: block;
    height: .85rem;
    right: 2.5rem;
    top: auto;
    left: auto;
    bottom: 0.5rem;
}

.THIS .inline-spinner .slds-spinner {
    width: 1rem;
}