.THIS.popover-container{
    position: fixed;
    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease .3s;
    z-index: 9100;
}

.THIS.popover-container.slds-hide{
    display: none;
}

.THIS .slds-popover{
    width: auto;
    max-width: 40rem;
    min-height: 3rem;
}

.THIS .slds-popover__body,
.THIS .slds-popover__body .slds-grid {
    hyphens: none;
    align-items: center;
}

.THIS .popover-icon svg{
    fill: rgba(255,255,255,255) !important;
}

.THIS .popover-icon{
    padding: 5px;
}

.THIS .popover-icon-col{
    flex-grow: 0;
    align-self: flex-start;
}

.THIS.popover--hidden{
    top: -9999px !important;
    left: -9999px !important;
    opacity: 0;
    transition: opacity .3s ease, top 0s .3s, left 0s .3s;
}

.THIS .slds-nubbin_left:after {
    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.16);
    z-index: 0;
}