.hideElement {
    visibility: hidden;
}

.rotateArrowDown {
    transform: rotate(20deg);
}

.rotateArrowUp {
    transform: rotate(-20deg);
}

.boxShadow {
    box-shadow: 0px 3px 8px silver;
}

.arrowCSS {
    width: 80%;
    height: 95%;
    border-width: 5px 0 0 5px;
    border-style: dashed;
    border-color: green;
    display: inline-block;
}

.arrowPoint {
    border: solid green;
    border-width: 0 4px 4px 0;
    padding: 3px;
    transform: rotate(-45deg);
    width: 1rem;
    position: relative;
    top: -0.3rem;
    height: 1rem;
}

.moveLargeDown {
    top: 1rem;
    width: 100%;
    position: relative;
}

.moveDown {
    top: 0.5rem;
    position: relative;
}

.moveUp {
    bottom: 0.5rem;
    width: 110%;
    position: relative;
}

.referenceBox {
    border: black;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 30px;
    right: 60px;
    padding: 10px;
}

.displayInline {
    display: inline-flex;
}

.pointer {
    cursor: pointer;
}

.CreateAccountMergeContactOnly {
    width: 100%;
    transform: rotate(-15deg);
    position: relative;
    bottom: 3.2rem;
}

.CreateAccountCreateOpportunity {
    width: 100%;
    transform: rotate(30deg);
    position: relative;
    bottom: 1.2rem;
}

.CreateAccountExistingOpportunity {
    width: 160%;
    transform: rotate(50deg);
    position: relative;
    top: 0.8rem;
    margin-left: -1.5rem;
    margin-right: 1rem;
}

.ExistingAccountMergeContactOnly {
    width: 140%;
    transform: rotate(-42deg);
    position: relative;
    bottom: 0.8rem;
    margin-left: -0.7rem;
    margin-right: 1rem;
}

.ExistingAccountCreateOpportunity {
    width: 100%;
    transform: rotate(-30deg);
    position: relative;
    top: 1.5rem;
}

.ExistingAccountExistingOpportunity {
    width: 100%;
    transform: rotate(20deg);
    position: relative;
    top: 3.8rem;
}