.sc-case-comment__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}
.sc-case-comment__wrapper.sc-case-comment__wrapper_current {
    flex-direction: row-reverse;
}
.sc-case-comment__author {
    width: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 120px;
    min-width: 120px;
    flex-direction: column;
}
.sc-case-comment__avatar {
    margin-bottom: 5px;
    align-self: center;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    position: relative;
}
.sc-case-comment__avatar img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.sc-case-comment__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #282828;
}
.sc-case-comment__body {
    position: relative;
    background: #f3f5f6;
    border-radius: 4px;
    padding: 10px 10px 5px;
    color: #000;
}
.sc-case-comment__body:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 8px solid #f3f5f6;
    border-bottom: 4px solid transparent;
    position: absolute;
    left: -8px;
    top: 15px;
}
.sc-case-comment__date {
    font-size: 11px;
    line-height: 12px;
    margin-top: 5px;
    text-align: right;
    font-family: "proximalight", sans-serif;
    color: #676767;
}
.sc-case-comment__body.sc-case-comment__body_owner:after {
    content: attr(data-owner);
    position: absolute;
    background-color: #14892c;
    color: #fff;
    font-size: 11px;
    padding: 0 7px;
    top: -8px;
    left: 8px;
    border-radius: 8px;
}
.sc-case-comment__wrapper_current .sc-case-comment__body {
    background-color: #55b0da;
}
.sc-case-comment__wrapper_current .sc-case-comment__body:before {
    border-top: 4px solid transparent;
    border-left: 8px solid #55b0da;
    border-right: none;
    border-bottom: 4px solid transparent;
    left: 100%;
}
.sc-case-comment__wrapper_current .sc-case-comment__date {
    text-align: left;
    color: #fff;
}
.sc-case-comment__subject {
    word-break: break-all;
}