.THIS {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.THIS {
  background-color: #f3f5f6;
  min-height: -webkit-calc(100vh - 354px);
  min-height: calc(100vh - 354px); }

.THIS .wrapper {
    width: 100%;
    max-width: 1200px;
   	padding: 15px 75px;
    min-height: -webkit-calc(100vh - 354px);
  	min-height: calc(100vh - 354px);
}

.THIS .sc-button {
    background-color: #0684bd;
    padding: 7px 21px;
    outline: 0;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-family: "proximalight", sans-serif;
    text-decoration: none !important;
}
.THIS .sc-button lightning-icon {
    position: relative;
    top: -3px;
    left: -5px;
}
.THIS .sc-button:not(:disabled):hover {
    background-color: #2098ce;
}
.THIS .sc-button:disabled {
    background-color: #9a9999;
    cursor: default;
}
.THIS .sc-button:not(:disabled):active {
    background-color: #005684;
}
.THIS .sc-button.sc-button_orange {
    background-color: #ff8800;
}

.THIS .sc-button.sc-button_orange:not(:disabled):hover {
    background-color: #ff9d2a;
}

.THIS .sc-button.sc-button_orange:not(:disabled):active {
    background-color: #eb6321;
}

.THIS c-sc-case-list-controls .slds-form-element__help {
    position: absolute;
    right: 0;
    top: 2px;
}
.THIS c-sc-case-list-controls .sc-case-controls__search-input input {
    padding-right: 30px;
}

.THIS c-sc-case-list-controls input::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}
.THIS c-sc-case-list-controls .sc-case-controls__search-clear .slds-button, .THIS c-sc-case-list-controls .sc-case-controls__search-clear .slds-button__icon {
    top: 0;
    left: 0;
    position: absolute;
}
.THIS c-sc-case-list-controls .sc-case-controls__search-clear lightning-primitive-icon {
    width: 14px;
    height: 14px;
    display: block;
    position: relative;
}