.THIS {
    margin-bottom: 24px;
}
.THIS article{
    border-top:5px solid token(colorBrand);
    padding:0 15px 15px 15px;
    height:100%;
}
.THIS .slds-tile__detail{
    height:100%;
}
.THIS .selectbtnwrap {
    text-align:center;
    margin-top:22px;
}
.THIS .slds-button{
    font-size:16px;
    padding: 8px 0;   
    border-radius: 3px;
    width: 175px;
    justify-content:center;
}
.THIS .slds-button svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-left: 15px;
}
.THIS .slds-select{
    height: 45px;
    font-size: 16px;
    border-color: #cfcfcf;
    color:#000;
    padding-left:10px;
}
.THIS .slds-select_container:before {
    border-bottom: 8px solid rgb(6, 28, 63);
    top: calc((1.75rem / 2) - 3px);
    border-radius: 2px;
}
.THIS .slds-select_container:after {
    border-top: 8px solid rgb(6, 28, 63);
    bottom: calc((1.75rem / 2) - 3px);
    border-radius: 2px;
}
.THIS .slds-select_container:before,.THIS .slds-select_container:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.THIS .slds-form-element__label{
    font-size:14px;
    text-transform: capitalize;
    color:#000;
    margin: 0 0 4px 0;
    padding: 0;
}
.THIS .tileheader {
    margin: 20px 0 12px;
}
.THIS .tileheader h3{
    font-size:18px;
    margin-bottom: 1px;
}
.THIS .tileheader lightning-formatted-number {
    font-size:30px;
}
.THIS .slds-text-longform ul {
    line-height: 29px;
    font-size: 14px;
    color:#000;
    margin-bottom:0;
}
.THIS .slds-text-longform {
	margin: 15px 0;
}